#shopify-ali-review label.err {
    color: #d62728 !important;
    font-size: 13px;
    text-transform: inherit;
    font-style: normal;
    font-weight: normal;
    display: inline;
}
.reviewFormHead{
    hr{
        margin: 0;
        border-bottom: 1px solid #E6E6E6;
        &.mt-20{
            margin-top: 20px;
        }
        &.mb-20{
            margin-bottom: 20px;
        }
        @media (max-width: 1199px) and (min-width: 768px){
            margin: 0 32px;
        }
        @media (max-width: 767px){
            margin: 0 16px;
        }
    }
}

.alireview-form-title {
    font-weight: 600;
    font-size: 20px;
    color: #39332E;
    padding: 0 0 20px;

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.alireview-add-form {
    padding: 30px 0 10px 0;
    text-align: left;

    @media (max-width: 1199px) {
        padding: 26px 0 32px;
    }

    .alireview-form-title{
        padding: 0;
        font-size: 18px;
    }

    .alireview-form {
        float: none !important;
        border: 0 !important;
    }

    .alireview-form-group-w-50 {
        display: flex;
        .name {
            margin-right: 8px;
        }
        .email {
            margin-left: 8px;
        }

        @media (max-width : 575px){
            display: block;
            .name {
                margin-right: 0;
            }
            .email {
                margin-left: 0;
            }
        }
    }

    .dragging{
        .alireview-file-upload-label{
            background: #FAFAFA !important;
        }
    } 
    .alireview-form-group {
        margin-top: 20px;
        width: 100%;

        &.upload-file{
            margin-top: 10px;
        }

        label {
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 14px;
            color: #39332E;
    
            &.err {
                font-weight: normal;
            }
        }

        &.rating-star .alireview-status > span {
            cursor: pointer !important;
            .alr-icon-star::before{
                font-size: 22px !important;
            }
            .alr-icon-star{
                padding-right: 10px;
            }
        }

        .alireview-file-upload-wrap {
            position: relative;
            text-align: center;
        
            .alireview_loading_upload {
                position: absolute;
                top: 0;
                display: none;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(237, 237, 237, 0.9);
                text-align: center;
                padding-top: 3px;
                border: 1px dashed #D7DAE2;
            }
            
            .alireview-file-upload-label {
                position: relative;
                padding: 6px 0;
                min-height: 45px;
                background: #FFFFFF;
                border: 1px dashed #D7DAE2;
                border-radius: 4px;
                font-weight: normal;
                font-size: 13px;
                color: #C4C4C4;
                display: flex;
                justify-content: center;

                &:hover, &:focus{
                    background: #FAFAFA;
                }

                .alireview-file-upload-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .alireview-fa-cloud-upload-alt{
                        margin-right: 5px;
                        font-size: 22px;
                    }
                }
            }
        
            .alireview-file-name {
                display: block;
                // padding: 0.5rem 0;
                color: rgba(0, 0, 0, 0.85);
                line-height: 1.2em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        
            #alireview_file_upload {
                display: none;
            }
        }
    }

    .alireview-input-text,
    .alireview-input-textarea,
    input,
    textarea {
        width: 100% !important;
        max-width: 100% !important;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        outline: none;
        margin: 3px 0;
        padding: 11px;
        font-size: 13px;
        color: #39332E;
        
        &:focus {
            border-color: #848484;
        }

        &[readonly] {
            background-color: #ececec !important;
        }
    }

    .alireview-input-textarea{
        padding: 11px;
    }

    .rating-symbol {
        font-size: 20px;
    }

    .btn-alireview-wrap {
        text-align: left;
        margin: 30px 0;
    
        .btn-submit-review {
            position: relative;
            padding: 10px;
            margin-right: 8px;
        }

        button{
            font-size: 13px;
        }
    }
}

.alireview-thankyou{
    text-align: center;
    padding: 30px 150px;
    @media(max-width : 575px){
        padding: 30px 50px;
    }
    h4{
        font-weight: bold;
        font-size: 26px;
        color: #39332E;
    }
    .alireview-thankyou__message{
        font-weight: normal;
        font-size: 13px;
        color: #39332E;
        margin-bottom: 20px;
    }
    .alireview-thankyou__button {

    }
}

.alireview_list_image {
    margin-left: 0;

    li {
        display: inline-block;
        width: 50px;
        margin-right: 16px;
        position: relative;

        img {
            border-radius: 4px;
            width: 48px;
            height: 48px;
            object-fit: cover;
        }

        .alireview_del_img,
        .alireview_btn_delete_image {
            position: absolute;
            right: -4px;
            top: -8px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            text-align: center;
            background: #333333;
            line-height: 15px;
            border: 0;
            color: #fff;
            font-weight: 700;
            font-size: 11px;
            font-family: inherit;
            cursor: pointer;
            &:hover{
                background: #9e9e9e;
            }
        }
    }
}

.reviewForm,
.reviewFormHead {
  display: none;
}

@media only screen and (max-width: 768px) {
    .alireview-notice-addreview-success {
        margin: 0 12px;
    }
}

@import "_popup-write-review";
  