.modal-open{
  overflow: hidden;
}
.modal-open .lightbox-modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.lightbox-modal{
  position: fixed;
  padding: 0 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999999;
  display: none;
  background: rgba(0, 0, 0, 0.5);

  &.no-product-img{
    .lightbox-dialog{
      width: 414px;
      min-height: 270px !important;
      height: auto !important;
      @media (max-width : 992px){
        margin: 175px auto;
      }
      @media (max-width : 575px){
        margin: 50px auto;
        width: 90%;
      }
    }
    .lightbox-content .lc-info{
      width: 100%;
      max-height: unset!important;
      .lc-desc{
        max-height: 500px;
      }
    }
  }
  .lightbox-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 175px auto;
    position: relative;
    height: calc(100vh - 349px);
  }
  .lightbox-close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .lightbox-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    .lc-gallery-image{
      width: 62%;
      background: #fff;
      position: relative;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      overflow: hidden;
      border-right: 1px solid #E2E2E2;
      user-select: none;
      .lc-list-image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        .lightbox-thmb{
          cursor: default;
        }
        img{
          display: none;
          width: auto;
          height: auto;
          margin: auto !important;
          max-height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .visible-img{
          display: block !important;
        }
      }
      .lc-list-thumbnail{
        position: absolute;
        padding-top: 45px;
        padding-bottom: 25px;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        overflow: hidden;
        overflow-x: auto;
        padding-left: 22px;
        &::-webkit-scrollbar {
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        img{
          width: 60px;
          height: 60px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          border-radius: 6px;
          &:not(:last-child){
            margin-right: 10px;
          }
          &:hover{
            border: 1px solid #FF881B;
          }
          &.lc-img-active{
            border: 2px solid #FF881B;
          }
        }
      }
      .lc-arrow{
        >div{
          position: absolute;
          width: 15px;
          height: 45px;
          top: 0;
          bottom: 0;
          margin: auto;
          cursor: pointer;
          i{
            font-size: 30px;
            color: #525252;
            opacity: 0.2;
          }
          &:hover{
            i{
              opacity: 1;
            }
          }
        }
        .lc-arrow-left{
          left: 20px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .lc-arrow-right{
          right: 20px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

      }
    }
    .lc-author-content{
      margin-bottom: 8px;
      margin-top: 16px;
      display: flex;
      justify-content: start;
      align-items: center;
      color: #39332E;

      .alireview-author{
        width: unset;
        font-weight: 600;
        font-size: 14px;
        color: #39332E;
      }

      .alireview-author__avatar {
        position: relative;
        vertical-align: middle;
        display: flex;
        img{
          width: 32px;
          height: 32px;
          min-width: 32px;
          min-height: 32px;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          margin-right: 12px;
        }

        .alireview-fa-check-circle{
          color: #00C35C;
          border: 1px solid #FFFFFF;
          font-size: 11px;
          position: absolute;
          right: 8px;
          bottom: -2px;
          background: white;
          border-radius: 50%;
        }

      }
      .ali-flag-slc{
        margin-left: 10px;
        border-radius: 100%;
        background-position-x: center;
        border: 0.5px solid #C9C9C9;
        box-sizing: content-box;
        width: 16px;
        height: 16px;
      }
      .rectangle{
        .ali-flag-slc {
            width: 18px;
            height: 12px;
            box-shadow: unset;
        }
      }
      .arl-verify{
        margin-left: 5px;
        .alireview-fa-check-circle{
          color: #00C35C;
          border: 1px solid #FFFFFF;
          font-size: 11px;
          background: white;
          border-radius: 50%;
        }
      }
    }
    .lc-info{
      padding: 40px 20px;
      width: 38%;
      display: flex;
      flex-direction: column;
      .lc-top{
        display: block;
      }
      .lc-desc{
        margin: 10px 0 15px 0;
        padding-right: 10px;
        overflow: auto;
        color: #39332E;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.5px;
        p{
          color: #39332E;
          font-weight: 400;
          font-size: 14px;
          line-height: 19.5px;
          -webkit-line-clamp: unset;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
      }
      .lc-national-info{
        font-weight: 600;
      }
      .lc-like-wrap{
        .alireview-date{
          float: right;
          color: #C9C9C9;
          font-weight: 600;
          font-size: 12px;
          margin-top: 3px;
        }
      }
      .lc-stars{
        [class^="alr-icon-"], [class*="alr-icon-"]{
          font-size: 16px;
          padding-right: 5px;
        }
        .alr-icon-star.rating-symbol-background{
          font-weight: 400;
        }
      }

      .alireview-comment-like {
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
        color: #C9C9C9 !important;
        text-decoration: none !important;
        border: none !important;
      }

      .alireview-icon-like{
        font-family: 'Font Awesome 5 Pro' !important;
        font-weight: 900;
        font-size: 12px;
        margin-right: 2px;
      }

      .alireview-comment-like {
        .alireview-icon-like {
          &:before {
            content: "\f164";
          }
        }
        .alireview-icon-like-1 {
          &:before {
            content: "\f164";
          }
        }
        .alireview-icon-like-2 {
          &:before {
            content: "\f004";
          }
        }
        .alireview-icon-like-3 {
          &:before {
            content: "\f118";
          }
        }
        .alireview-icon-like-4 {
          &:before {
            content: "\f584";
          }
        }
      }

      .alireview-comment-like.active .alireview-icon-like {
        color: #FFB303;
      }

      .alireview-comment-unlike {
        display: inline-block;
        margin-right: -3px;
        font-weight: 600;
        font-size: 12px;
        margin-left: 12px;
        color: #C9C9C9 !important;
        text-decoration: none !important;
        border: none !important;
      }

      .alireview-comment-unlike {
        .alireview-icon-like {
          &:before {
            content: "\f165";
          }
        }
        .alireview-icon-like-1 {
          &:before {
            content: "\f165";
          }
        }
        .alireview-icon-like-2 {
          &:before {
            content: "\f7a9";
          }
        }
        .alireview-icon-like-3 {
          &:before {
            content: "\f119";
          }
        }
        .alireview-icon-like-4 {
          &:before {
            content: "\f556";
          }
        }
      }

      .alireview-comment-unlike.active .alireview-icon-like {
        color: #FFB303;
      }
    }
  }
  .lightbox-close-modal{
    color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    &:before, &:after{
      background-color: #D0D0D0;
      position: absolute;
      left: 15px;
      content: ' ';
      height: 18px;
      width: 2px;
    }
    &:before{
      webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after{
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover{
      opacity: 1;
    }
  }
}
.visible-modal{
  display: block;
}

@media only screen and (max-width: 992px) and (min-width: 768px) and (orientation: landscape) {
  .lightbox-modal {
    .lightbox-dialog{
      margin: 15px auto;
      height: calc(100vh - 30px);
    }
    .lightbox-content{

    }
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) and (orientation: portrait) {
  .lightbox-modal {
    padding: 0 15px;
    .lightbox-dialog{
      margin: 15px auto;
      height: calc(100vh - 30px);
    }
    .lightbox-content{
      width: 100%;
      max-width: 770px;
      flex-direction: column;
      height: auto;
      overflow: hidden;
      .lc-gallery-image{
        width: 100%;
        min-height: 600px;
        border-right: none;
        border-bottom: 1px solid #E2E2E2;
        .lc-list-image {
          img{
            position: unset;
            min-height: 600px;
            max-height: 600px;
          }
        }
      }
      .lc-info {
        width: 100%;
        max-height: calc(100vh - 600px - 30px);
        padding: 20px 20px;
        .lc-avatar {
          margin-right: 5px;
          img{
            width: 80px;
          }
        }
        .lc-stars {
          [class^="alr-icon-"], [class*="alr-icon-"]{
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 400px)  and (orientation: landscape){
  .lightbox-modal {
    padding: 0;
    .lightbox-dialog{
      margin: 0px auto;
      height: 100vh;
    }
    .lightbox-content{
      border-radius: 0;
      .lc-gallery-image {
        .lc-list-thumbnail {
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
      .lc-info{
        overflow: auto;
        &::-webkit-scrollbar {
					width: 0px;
				}
				&::-webkit-scrollbar-thumb {
					background: transparent;
				}
	
				&::-webkit-scrollbar-thumb:hover {
					background: transparent;
				}
        .lc-desc{
          overflow: unset;
        }
      } 
    }
  }
}

@media only screen and (max-width: 575px){
  .lightbox-modal {
    padding: 0px;
    .lightbox-dialog{
      margin: 0px auto;
      height: 100%;
    }
    .lightbox-content{
      border-radius: 0;
      flex-direction: column;
      border-radius: 0;
      overflow: auto;
      .lc-gallery-image {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #E2E2E2;
        height: 400px;
        min-height: 400px;
        .lc-list-image{
          img{
            position: unset;
          }
        }
        .lc-list-thumbnail {
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
      .lc-info {
        width: 100%;
        padding: 20px 20px;
        .lc-desc{
          overflow: unset;
        }
      }
    }
  }
}