.write-review-open, .thank-you-open{
    overflow: hidden;
}
.write-review-open .write-review-modal,
.thank-you-open .thank-you-modal {
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}
.write-review-modal{
    position: fixed;
    padding: 0 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999999999;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    .write-review-dialog{
        width: auto;
        margin: 200px auto;
        position: relative;

        .write-review-content{
            position: relative;
            background: #FFFFFF;
            border-radius: 6px;
            margin: auto;
            padding: 0;
            width: 100%;
            height: 100%;
            max-width: 838px;

            .write-review-header{
                position: relative;
                .button-close{
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    cursor: pointer;
                    .alireview-fa-times{
                        font-size: 24px;
                        color: #D0D0D0;
                    }
                }
            }
            .write-review-body{
                .alireview-add-form{
                    padding: 50px 30px 10px;

                    .alireview-form-title{
                        text-align: center;
                    }
                    
                    .alireview-status .alr-icon-star.rating-symbol-background {
                        font-weight: 400;
                    }
                    
                    .btn-alireview-wrap{
                        text-align: center;
                    }
                    .err{
                        font-weight: normal;
                        color: #d62728 !important;
                        font-size: 13px;
                    }
                    .lds-dual-ring {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%)
                    }

                    .wrap-loading {
                        position: relative;
                        border-color: #242539 !important;
                        pointer-events: none !important;
                        user-select: none !important;
                        background-color: #242539 !important;
                        color: #242539 !important;
                        white-space: nowrap !important;  
                        transition: 0.15s !important;
                      
                        i, span, a {
                          display: none;
                        }
                    }
                    
                    .lds-dual-ring:after {
                          content: " ";
                          display: block;
                          width: 17px;
                          height: 17px;
                          margin: 1px;
                          border-radius: 50%;
                          border: 2px solid #fff;
                          border-color: #fff transparent #fff transparent;
                          animation: lds-dual-ring 1.2s linear infinite;
                    }
                    @keyframes lds-dual-ring {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}

.thank-you-modal{
    position: fixed;
    padding: 0 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999999999;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    .thank-you-dialog{
        width: auto;
        margin: 190px auto;
        position: relative;
        // height: calc(100vh - 380px);

        .thank-you-content{
            position: relative;
            background: #FFFFFF;
            border-radius: 6px;
            margin: auto;
            padding: 40px 32px;
            width: 100%;
            height: 100%;
            max-width: 414px;
            span.button-close {
                position: absolute;
                top: 4px;
                right: 14px;
                font-size: 24px;
                color: #D0D0D0;
                cursor: pointer;
            }
            .alireview-thankyou{
                padding : 0;
            }
        }
    }
}



@media (max-width : 991px){
    .write-review-modal{
        padding: 0;

        .write-review-dialog{
            height: 100%;
            margin: auto;
            position: relative;

            .write-review-content{
                border-radius: 0;
                max-width: unset;
                .write-review-header{
                    .button-close{
                        top: 50px;
                        right: 30px;
                    }
                }
                .write-review-body{
                    .alireview-add-form{
                        padding: 100px 30px 10px;
                        .btn-alireview-wrap{
                            position: absolute;
                            bottom: 40px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
    &.full{
        .write-review-dialog {
            height: auto;
            .write-review-content{
                .write-review-body{
                    .alireview-add-form{
                        .btn-alireview-wrap{
                            position: relative;
                            bottom: unset;
                            left: unset;
                            transform: unset;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width : 767px){
    .write-review-modal{
        .alireview-add-form{
            padding: 100px 16px 10px !important;
            .alireview-form-group-w-50{
                display: block;
                .name {
                    margin-right: 0;
                }
                .email {
                    margin-left: 0;
                }
            }
        }
    }
    .write-review-modal .write-review-dialog .write-review-content .write-review-body .alireview-add-form .btn-alireview-wrap{
        position: relative;
        bottom: unset;
        left: unset;
        transform: unset;
    }
}
@media (max-width : 375px){
    .write-review-modal{
        .alireview-add-form{
            padding: 40px 16px 10px !important;
            .alireview-form-title{
                text-align: left !important;
            }
        }
    }
    .write-review-modal .write-review-dialog .write-review-content .write-review-header .button-close {
        top: 10px;
        right: 15px;
    }
}