@import "reviews-front-end/style-core";

// GRID

.alireview-result {
  padding: 8px 0 0;
}

.lightbox-thmb{
  max-width: 100%;
  opacity: 1 !important;
}

#shopify-ali-review{
  .list-alireview {
    grid-gap: 25px;
    // column-count: 4 !important;
    // padding: 25px 45px 0;
    padding-top: 0px;
    margin-top: 25px;
  
    .alireview-row.no-prod-img{
      padding-top: 20px !important;
    }
  
    .alireview-row {
      float: left;
      padding: 6px;
  
      // Avatar
      .alireview-thumbnail {
        width: 100%;
        position: relative;
        z-index: 9;
  
        .alireview-product-img.alr-grid{
          img{
            border-radius: 4px 4px 0px 0px !important;
          }
          
        }
  
        .alireview-header {
          .alireview-status {
            height: 26px;
            display: inline-block !important;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            padding: 1px 12px;
            position: relative;
            top: -13px;

            .rating-symbol:last-child [class*="alr-icon-"]{
              padding-right: unset;
            }
          }
        }
      }

      .alireview-author-content {
        display: inline-flex;
      }
      
      // Descript
      .alireview-desc {
        border: none ;
        width: 100% ;
        text-align: center;
        float: inherit ;
  
        &:before {
          content: none !important;
        }
  
        .alireview-desc-content {
          padding: 0px 20px;
          padding-bottom: 10px;
          background-color: transparent;
  
          &:before,
          &:after {
            content: none !important;
          }
        }
        
        .alireview-like-wrap .alireview-date {
          display: inline-block;
        }
      }
    }
  }
}

.list-alireview .alr-grid {
  margin-top: 0px !important;
  // display: block !important;

  img {
    width: inherit !important;
    height: inherit !important;
    display: none !important;
    margin: auto !important;
    margin-top: 0px !important;
    max-height: initial !important;

  &:first-child {
    display: block !important;
  }
 }
}

.list-review-pagination .alireview-pagination {
  text-align: center;
  padding-top: 25px;
}

.list-alireview{
  .alireview-row {
    @media screen and (min-width: 992px) {
      width: 25% !important;
    }
    @media screen and (max-width : 991px){
      width: 50% !important;
    }
  }
}

@media (min-width: 376px) and (max-width: 1199px){
  .list-alireview{
    .alireview-row {
      .alireview-thumbnail{
        .alireview-author-content {
          padding : 0 16px !important;
        }
      }
      
      .alireview-desc{
        .alireview-desc-content{
          padding : 0 16px 8px !important;
        }
      } 
    }
  }
}

@media only screen and (max-width: 567px){
  #shopify-ali-review{
    .list-alireview{
      // 1-col
      &.mobile-one-column{
        .alireview-row{
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      .alireview-row {
        width: 100% !important;

        .alireview-thumbnail{
          .alireview-author-content {
            padding : 0 14px !important;
          }
        }

        .alireview-desc{
          .alireview-desc-content{
            padding : 0 14px 8px !important;
          }
        }
      }

      // 2-col
      &.mobile-two-columns{
        .alireview-row {
          width: 50% !important;
          padding: 8px !important;
        }
      }
    }
  }
}

// <div id="shopify-ali-review" class="choose_class_only_screen">
// Only screen: mobile-xs
@import "only-screen/mobile-xs/style-grid";