.alireview-total-text {
    color: #97999F;
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
    span{
        font-weight: 600;
    }
}

.alireview-number-total-review {
    color: #ffffff;
    font-weight: 600;
    font-size: 27px;
    display: table;
    float: left;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 54px;
    user-select: none;
    position: relative;
    margin-bottom: 10px;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .alr-icon-star{
        font-size: 31px;
    }
}

.alireview-header-summary {
    position: relative;
    padding: 5px 0;
    clear: both;
    display: block;
    content: "\0020";
    overflow: hidden;
    min-height: 50px;

    @media only screen and (min-width: 768px) {
          display: flex;
          align-items: center;
    }

    @media (max-width : 767px){
        .alr-rating-bar {
            margin-top: 16px;
            margin-left: 0;
        }
    }

    .alireview-btn-add-review {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @media (max-width : 767px){
            top: 30px;
            transform: unset;
        }
    }

    .alireview-summary {
        display: flex;
        align-items: center;
        flex-direction: column;

        [class^="alr-icon-"], 
        [class*="alr-icon-"],
        .rating-symbol-foreground,
        .rating-symbol-background {
            font-size: 31px;
            display: inline-block;
        }

        @media (max-width : 767px){
            align-items: flex-start;
        }

        &.empty_review{
            @media (min-width : 576px){
                flex-direction: row;
                align-items: center;
                .alireview-number-total-review{
                    margin-bottom: 0;
                    margin-right: 16px;
                }
            }
            .alireview-total-text{
                font-weight: 600;
                font-size: 13px;
                color: #525252;
            }
            .alr-icon-star{
                padding-right: 0;
            }
        }
    }
}

.alireview-power-by {
    display: flex !important;
    align-items: center;
    margin: 10px 0 0;
    font-size: 11px;
    color: #4a4f56;
    opacity: .4;
    
    a {
        margin-left: 4px;
    }

    img {
        margin-right: 5px;
    }
}

.alireview-hide-average-rating{
    .alr-rating-bar {
        margin-top: 0;
    }
    .alr-summary {
        margin-left: 0;
    }
    .alr-rating-icons {
        margin-bottom: 0;
        border-left: unset;
        padding: 0;
        padding-left: 0;
        margin-top: 0 !important;
    }
    &.alireview-hide-star-arrangement{
        .alireview-header-summary {
            justify-content: flex-end;
            .alireview-btn-add-review {
                position: relative;
                transform: unset;
                top: 0;
                float: right;
                margin-top: 0;
            }
        }
    }
    
    @media (min-width : 992px){
        &.alireview-layout-list__left.alireview-hide-star-arrangement{
            .alireview-btn-add-review{
                margin-top: 0 !important;
                float: left;
                &:before{
                    content: unset !important;
                }
            }
        }
    }
    @media (min-width : 376px){
        .alireview-header-summary{
            .alireview-btn-add-review {
                top: 50%;
                transform: translateY(-50%);
            }
        } 
    }
    @media (min-width : 376px) and (max-width: 575px){
        .alr-rating-bar .alr-count-reviews .alr-progress-bar {
            width: 130px;
        }
    }
    @media (max-width : 375px){
        .alireview-header-summary {
            display: flex;
            flex-direction: column-reverse;

            .alireview-btn-add-review {
                top: 0;
                position: relative;
                transform: unset;
                margin-top: 20px;

                .btn-add-alireview{
                    width: 100%;
                }
            }

            .alr-rating-bar .alr-count-reviews, 
            .alr-rating-bar .alr-count-reviews li, 
            .alr-rating-bar .alr-progress-bar-wrap .alr-progress-bar {
                width: 100%;
            }
        }
    }
}
