.#{$prefix}-m-0 {
	margin: 0 !important;
}

.#{$prefix}-pad-0 {
	padding: 0 !important;
}

@for $i from 0 to 11 {
  .#{$prefix}-mt-#{$i * 5} {
		margin-top: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
.#{$prefix}-mb-#{$i * 5} {
		margin-bottom: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
	.#{$prefix}-mr-#{$i * 5} {
		margin-right: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
  .#{$prefix}-ml-#{$i * 5} {
		margin-left: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
  .#{$prefix}-par-#{$i * 5} {
		padding-right: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
  .#{$prefix}-pal-#{$i * 5} {
		padding-left: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
	.#{$prefix}-pat-#{$i * 5} {
		padding-top: #{$i * 5}px !important;
	}
}

@for $i from 0 to 11 {
	.#{$prefix}-pab-#{$i * 5} {
		padding-bottom: #{$i * 5}px !important;
	}
}

// 
.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

//
.text-primary {
	color: #242539 !important;
}

.text-warning {
	color: #FEB500 !important;
}

.text-light {
	color: #808495 !important;
}

.text-danger {
	color: #DA4842 !important;
}