.header-title{
    margin-left: 95px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242539;
    text-transform: uppercase;
    margin-top: 21px;
    margin-bottom: 21px;
}
.create-reviews-page {
    // padding-bottom: 270px !important;
    margin-left: 95px !important;
    padding: 35px 43px !important;
    // max-width: 985px !important;
    max-width: 78.225% !important;
    margin-top: unset !important;
    // padding-left: 43px;
    // padding-top: 35px;
    h1{
        &.ali-title-normal{
            font-size: 13px;
            margin-bottom: 3px;
            text-transform: capitalize;
        }
    }
    .ali-body-medium{
        font-size: 13px;
        line-height: normal;
    }

    .input-group-btn {
        vertical-align: top;

        ._btn-add-page {
            height: 36px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0px 4px 4px 0;
            border-left: 0;
            border-color: #ff881b;
            background-color: #ff881b;

            &:hover {
                border-color: #EE6B0D ;
                background-color: #EE6B0D ;
            }
        
            &:active {
                border-color: #EE6B0D ;
                background-color: #EE6B0D ;
            }
        }
    }
    .ars-field{
        a{
            color: #ff881b;
        }
       
    }
    form{
        .input-group{
            input{
                &.form-control.error{
                    border: solid 1px #f94c4e;
                }
            }
            #title-error.error{
                font-size: 11px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #f94c4e;
            }
        }
    }

    .title-error {
        margin-top: 10px;
    }

    .page-shopify-admin {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

        i {
            color: #242539
        }
    }
}
