.tooltip-inner{
	max-width: 250px!important;
}
.general-settings-page {
	color: #242539;
	.page-setting-title{
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.tab-wrapper-space--30{
		padding: 30px 40px;
		border-radius: 0 0 5px 5px;

		&.setting-import-file{
			position: relative;

			&:hover{
				.tooltip-upgrade-plan{
					opacity: 1;
					transition-delay: 0.5s;
				}
			}

			.tooltip-upgrade-plan{
				opacity: 0;
				position: absolute;
				top: 40%;
    			left: 40%;
				border-radius: 4px;
				box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.15);
				background-color: #ffffff;
				padding: 12px 15px;
				font-size: 11px;
				color: #242539;
				width: 220px;
				text-align: center;
	
				.button--primary{
					font-weight: 600;
					color: #FFFFFF;
					background-color: #FF881B;
					border: unset;
					padding: 11px 10px;
					width: 100%;
					&:hover{
						background-color: #ee6b0d;
					}
				}
			}
		}
	}
	.tab-setting-header{
		padding: 21px 40px 0px;
		border-bottom: solid 1px #f0f0f7;
    	border-radius: 5px 5px 0 0;
		ul.nav-tabs {
			border-bottom: unset;

			li{
				&.active{
					a{
						border: unset;
						font-size: 15px;
						color: #ff881b;
						border-bottom: solid 2px #ff881b;
						&:hover{
							border-color: #ff881b;
						}
					}
				}
				a{
					padding: 0 0px 7px;
					margin-right: 50px;
					font-size: 15px;
					font-weight: 400;
					color: #92929c;

					&:hover{
						border-color: transparent;
    					background: unset;
					}
				}
			}
		}
	}

	.ml-50{
		margin-left: 50px;
	}
	
	.error-input{
        border: 1px solid #F94C4E !important;
	}
	.disabled_setting{
		position: relative;
		// opacity: 0.4;
		user-select: none;
		pointer-events: none;
	
		&:before {
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
	}
	.tooltip__container{
		display: inline;
		margin-left: -4px;
		margin-right: 7px;
	}
	.alireview-fa-info-circle{
		color: #D4D4D4;
		margin-left: 7px;
		font-size:13px
	}
	.tagsinput {
		min-height: 80px !important;
		height: 80px !important;
		border: solid 1px #d7dae2 !important;
		span{
			font-family:    'Poppins', sans-serif;
		}
		input{
			padding: 5px 0px 5px 5px;
			color: #A7A8B0 !important;
			font-weight: 500;
			// text-transform: capitalize;
		}
	}

	hr{
		margin-left: 15px;
		margin-right: 15px;
	}

	.style-error {
		margin-bottom: 0;
	}

	input, .select2-selection__rendered, .multiselect, .datetimerangepicker{
		font-weight: 500;
		color: #242539;
		&.focus{
			border-color: #242538;
		}
	}
	
	input:not(#text-key_tag):focus,
	span.select2-container--open .select2-selection--single,
	.multiselect-native-select .btn-group.open button{
        border: 1px solid #242539 !important;
    }

	.btn-save{
		background-color:#FF881B;
		border: unset;
		padding: 11px 10px;
		&:hover{
			background-color:#EE6B0D;
		}
	}
	.rating-select{
		font-size: 15px;
		color:#FFB303 !important;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: -3px;
	}
	.mar-l-30{
		margin-left: 30px;
	}
	.unit-rating{
		margin-left: -20px;
		color: #a7a8b0;
		font-weight: 500;
		margin-right: 10px;
	}
	.unit-review-1{
		margin-left: -65px;
		color: #a7a8b0;
		font-weight: 500;
		margin-right: 25px;
	}
	.unit-review {
		margin-left: -74px;
		color: #a7a8b0;
		font-weight: 500;
		margin-right: 25px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		color: #a7a8b0;
	}
	.input-import{
		padding-right: 77px!important;
	}
	.input-import{
		padding-right: 66px!important;
	}
	.text-trans-cap{
		text-transform:capitalize;
	}
	.input-value{
		display: inline;
		padding-right: 16px;
	}
	.br-href{
		 flex-direction: column;
		 justify-content: flex-start;
		 align-items: flex-start;
	 }
	.input_smart_value{
		.input-from {
			display: inline;
		}
		.input-to{
			display: inline;
		}
		@media only screen and (max-width: 1199px) and (min-width: 993px) {
			.input-from {
				display: block;
			}
			.input-to{
				display: block;
				span{
					text-transform:capitalize;
				}
				.input-value{
					margin-left: 73px!important;
					margin-top: 10px;
				}
			}
		}

	}
	.rp__box-save{
		position: fixed;
		top: 0;
		left: 260px;
		width: calc(100% - 260px);
		max-height: 70px;
		z-index: 1030;
		.box-save__content{
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin: unset;
			position: relative;
		}
		.box-save__body{
			width: 100%;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin-top: 0;
			padding: 18px 0;
			@media (max-width : 1440px){
				padding: 18px 20px;
			}
		}
			.box-save__notify{
			display: -webkit-box;
			display: -ms-flexbox;
			/* display: flex; */
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			height: 35px;
			span{
				margin-left: 10px;
				font-weight: 500;
				font-size: 13px;
				color: #00C35C;
			}
			i{
				font-size: 25px;
                color: #00C35C;
				border-radius: 50%;
			}
			>div{
				display: flex;
				align-items: center;
			}
			.box-save__notify--default{
				display: flex;
				align-items: center;
			}
			.box-save__notify--error{
				i{
					color: #EA0000;
					border: 5px solid rgba(249, 76, 78, 0.2);
				}
				span{
					color: #EA0000;
				}
			}
//#00C35C
			.success-save-icon{
				font-size: 25px;
				color: #00C35C;
				border: 5px solid rgba(25, 176, 84, 0.2);
				border-radius: 50%;
			}
			.success-save{
				margin-left: 10px;
				font-weight: 500;
				font-size: 13px;
				color: #00C35C;
				margin-left:10px;
			}

			.text-unsave{
				color:#00BBBA;
				font-weight: 500;
				font-size: 13px;
				margin-left:10px;
			}
			.icon-unsave{
				font-size: 25px;
				color: #00BBBA;
				font-family: 'Font Awesome 5 Pro';
				font-weight: 900;
				border: 5px solid rgba(0, 187, 186, 0.2);
				border-radius: 50%;
			}
		}
	}
	.box-save__button {
		.button {
			font-weight: 600;
			width: 100px;
			margin-left: 15px;
		}
		.button--default{
			color: #242539;
		}
	}
	.pad-le-10{
		padding-left: 10px!important;
	}

	.error {
		@extend .style-error;
	}

	.approve-review-stars{
		display: none;
		.alr-icon-star{
			color: #FFB303 !important;
		}
	}

	select[name="setting[language_translate_reviews]"] + .select2 {
		width: 140px !important;
	}
}

.general-settings-page .aff-block {
	.aff-content {
		opacity: 0.2;
		pointer-events: none;

		input {
			
		}
	}

	&.in .aff-content {
		opacity: 1;
		pointer-events: initial;
	}
}
.gender_name_percent_input{
	width: 65px;
	display: inline-block;
	padding-right: 20px;
}

.general-settings-page .approve-review-stars {
	.item {
		display: flex;
		align-items: center;
		font-size: 13px !important;
	
		.alr-icon-star {
			margin-left: 3px;
	
			&:before {
				font-size: 25px;
			}
		}
	}

	.wrap-custom-box {
		padding-left: 28px;

		.checkmark-ckb {
			top: inherit;
		}
	}
}
.general-settings-page{
	#save-success-box {
		border-bottom: 3px solid #00C35C;
	}
	.box-save__notify--finish {
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #00C35C;
		}
		i{
			border: 5px solid rgba(25, 176, 84, 0.2);
		}
	}
	.box-save__notify--saving{
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 3px;
			background-color: #00C35C;
		}
		span{
			margin-left: 40px !important;
			font-weight: 500;
			color: #00C35C;
		}
		.lds-rolling{
			>div{
				border-color: #00C35C !important;
				border-top-color: transparent !important;
			}
		}
	}
}

.ali-modal.modal-reset-style .modal-dialog .modal-content {
	padding: 40px 30px 30px;
	border-radius: 5px;

	.btn-reset-close{
		position: absolute;
		right: 8px;
		top: 5px;
		opacity: 1;
		i{
			font-size: 20px;
			color: #a4afb7;
		}
	}
	&.modal-content__leave-page{
		padding: 43px 30px 40px;
	}
}

/* ICON LOADING  */
@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.general-settings-page .lds-css{
	position: relative;
	left: 20px;
    top: 7px;
}
.lds-rolling {
	position: absolute;
}
.lds-rolling div,
.lds-rolling div:after {
    width: 25px;
    height: 25px;
    border: 4px solid #00C35C;
    border-top-color: transparent;
    border-radius: 50%;
}
.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
}
.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.lds-rolling {
    width: 25px !important;
    height: 25px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.lds-email-reset{
    .lds-rolling{
        left: 20px;
        div{
            border-color: #fff;
            border-top-color: transparent;
        }
    }
}
.row-reset-setting {
	display: flex;
	.reset-import-default {
		margin-left: auto;
	}
}

.datetimerangepicker-wrap{
	position: relative;
	i{
		position: absolute;
		color: #a7a8b0;
		width: 12px;
		height: 13px;
		top: 11px;
		left: 25px;
		&:hover{
			cursor: pointer;
		}
	}

	.datetimerangepicker{
		padding-left: 22px;
	}
}

.datetimerangepicker{
	background: #fff; 
	padding: 8px 10px;
	border: 1px solid #D7DAE2;
	border-radius: 4px;
	width: 223px;
	height: 34px;
	padding-left: 10px;

	span{
		color: #a7a8b0;
		font-weight: 500;
		font-size: 13px;
		padding-left: 2px;
	}

	i{
		color: #a7a8b0;
		width: 12px;
		height: 13px;
		&:hover{
			cursor: pointer;
		}
	}
}

.settings__more-infor {
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
	margin-top: 3px;
	
	a{
		color: #ff881b;
	}
}

.custom-daterangepicker{
	font-family: Poppins !important;
	border: none !important;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);

	&:before{
		border-bottom: 7px solid #fbf2f2 !important;
	}
	&.show-calendar{
		width: 685px;
		height: 260px;

		.ranges{
			float: right !important;
			padding-right: 12px;
			padding-left: 12px;
			border-left: 2px solid #EBECF0;
			margin-top: 0px;
			height: 100%;
			ul{
				margin-top: 10px;
				width: 165px !important;
				li{
					font-size: 13px;
					padding: 10px 12px;
					display: flex;
					align-items: center;
					&:hover{
						background: #E9E9F0;
					}

					&:last-child {
						font-size: 13px;
						color: #242539;
					}
					&.active{
						background: #E9E9F0;
						color: #242539;
					}
				}
			}

			.custom-date-range{
				margin-top: 25px;
				width: 100%;
				display: flex;
				justify-content: space-between;

				.btn{
					width: 46%;
					font-weight: 600;
					font-size: 13px;
					padding: 0px 7px;
					height: 35px;
					color: #242539;
				}	
	
				.btn-apply{
					color: #FFFFFF;
				}	
			}
		}

		.drp-buttons{
			display: none !important;
		}

		.drp-calendar{
			border-left: none !important;

			.calendar-table{
				color: #92929C;
				.month{
					font-weight: 600;
					font-size: 13px;
					color: #242539;
				}

				thead tr th{
					&.prev{
						&:before{
							content: '\f053';
							font-family: 'Font Awesome 5 Pro';
						}
					}
					&.next {
						&:before{
							content: '\f054';
							font-family: 'Font Awesome 5 Pro';
						}
					}

					&.prev span, &.next span{
						display: none;
					}
				}

				thead tr:last-child th{
					font-weight: 600;
					font-size: 11px;
					color: #242539;
					text-transform: uppercase;
					padding: 5px 7px;
				}

				tbody tr td{
					font-weight: 500;
					font-size: 11px;
					color: #242539;
					padding: 2px 5px;

					&.off{
						color: #92929C;
						&.in-range, &.start-date, &.end-date{
							background-color: #fff;
						}
					}
					&.in-range{
						background: #FFF3E9;
					}
					&.active{
						background-color: #FF881B;
						&:hover{
							background-color: #FF881B;
						}
					}

					&.start-date.end-date{
						background-color: #fff;
					}

					&.today{
						& + td{
							color: #999;
							pointer-events: none;
							text-decoration: line-through;
							background-color: #fff;
							border-color: transparent;
						}
					}
				}
			}
		}
	}

	.tooltip__container{
		position: relative;
		margin-left: 5px;
		.tooltip__icon{
			color: #fff;
			cursor: pointer;
			font-size: 8px;
			background: #D4D4D4;
			width: 13px;
			height: 13px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			line-height: 13px;
		}
		.tooltip__body{
			opacity: 0;
			position: absolute;
			z-index: -1;
			width: 250px;
			top: 22px;
			left: -15px;
			transition: .1s opacity;
			box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			&:after{
				content:"";
				position:absolute;
				top:-6px;
				left: 15px;
				background: #fff;
				height: 12px;
				width: 12px;
				transform: rotate(45deg);
				border-bottom:1px solid #fff;
				border-right:1px solid #fff;
				box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
			}
			&:before{
				content: "";
				position: absolute;
				top: 0px;
				left: 11px;
				background: #fff;
				height: 10px;
				width: 20px;
				z-index: 1;
			}
			.tooltip__inner{
				background-color: #fff;
				padding: 10px 15px 10px 15px;
				border-radius: 5px;
				p{
					color: #242539;
					margin-bottom: 0;
					font-size: 11px;
					padding-right: 0;
					font-weight: normal;
					text-align: left;
					cursor: default;
					line-height: 17px;
					a{
						color: $orange_default;
						cursor: pointer;
					}

					span{
						font-weight: 600;
					}
				}
			}
		}
		&.right{
			.tooltip__body{
				left: 24px;
				top: 50%;
				transform: translateY(-50%);
				&:before{
					height: 20px;
					width: 10px;
					top: 50%;
					transform: translateY(-50%);
					left: 0px;
				}
				&:after{
					top: calc(50% - 6px);
					left: -7px;
				}
			}
		}
		&:hover{
			.tooltip__body{
				opacity: 1;
				z-index: 9;
				transition-delay: 0.5s;
			}
		}
	}

}

/* END ICON LOADING  */
