.help-page{
    padding: 40px 25px;
    color: #242539;
    border-radius: 4px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.05);

    h4 {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.8;
        margin: 0;
    }

    .box-style{
        border-radius: 4px;
        border: solid 1px #d5d5db;
    }

    .help-page__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 2.5;
    }

    .dot-before-articals {
        content: '';
        background-color: #c4c4c4;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 6px;
    }

    .video-tutorial{
        display: flex;
        padding: 35px 50px;

        .video-tutorial__img{
            width: 152px;
            align-items: center;
            display: flex;
            img{
                max-width: 100%;
            }
        }

        .video-tutorial__list{
            flex: 1;
            padding-left: 80px;

            a.video-tutorial__more {
                font-size: 13px;
                font-weight: 400;
                color: #ff881b;
                padding-left: 15px;
            }
        }

        .video-tutorial__ytb{
            width: 337px;
            margin-left: 15px;
        }

        // Youtube
        .youtube-embed-list {
            list-style: none;
            padding: 0;
            margin: 0;

            .videoWrapper {
                padding-bottom: 49%;
            }
        }

        .col-youtube-link {
            /* width */
            ::-webkit-scrollbar {
            width: 3px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
            background: #f1f1f1; 
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
            background: #888; 
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
            background: #555; 
            }
        }

        .youtube-link-list {
            @extend .youtube-embed-list;
            overflow-y: auto;

            li {
                margin-bottom: 12px;
                cursor: pointer;
                font-weight: normal;
                position: relative;
                padding-left: 15px;

                &:hover{
                    text-decoration: underline;
                }

                &:last-child {
                    // margin-bottom: 0;
                }

                &.active {
                    color: #ffb301;
                }

                &:before {
                    @extend .dot-before-articals
                }
            }
        }

        #result-vid-ytb li {
            display: none; 

            &.active {
            display: block;
            }
        }
        // END: Youtube
    }

    .post-tutorial{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .post-tutorial__item{
            width: calc(50% - 15px);
            margin-bottom: 25px;
            display: flex;
            padding: 25px;

            .post-tutorial__img {
                margin-right: 30px;
                img{
                    width: 56px;
                }
            }

            .post-tutorial__list {
                margin-bottom: unset;
                list-style: none;
                padding: 0;

                li{
                    margin-bottom: 12px;
                    position: relative;
                    padding-left: 15px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        font-size: 13px;
                        font-weight: normal;
                        color: #242539;
                        line-height: 1.54;
                    }

                    &:before {
                        @extend .dot-before-articals
                    }
                }
            }

            .post-tutorial__title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }

    .customer-support{
        padding: 23px 43px;

        p{
            margin: 0;
        }

        .button {
            font-family: Poppins;
            font-size: 13px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            padding: 8px;
            margin-right: 77px;
            width: 117px;
            
            &--primary{
                color: #242539;
                background-color: #ffffff;
            }

            &--secondary{
                color: #ffffff;
                background-color: $orange-default;
                &:hover{
                    background-color: #ee6b0d;
                }
            }
            

        }

        img {
            width: 48px;
        }

        .customer-support-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .customer-support__messenger {
            .btn-lets-chat{
                width: 220px;
            }
        }

        .customer-support__content {
            margin-left: 32px;
            width:80%;
        }

        .customer-support__title{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
        }

        .customer-support__desc{
            font-size: 13px;
            font-weight: normal;
            color: #242539;
        }

        hr {
            margin: 23px 0px;
            border: 0;
            border-top: 1px solid #d5d5db;
        }
    }

    .modal-send-mail-help-page{
        .modal-content{
            height: 600px !important;
            max-height: 600px !important;
        }

        .form-group {
            display: none;
        }

        .dashboard__onboarding__info-icon {
            display: none;
        }

        .fix-now__content-btn {
            margin-top: 25px !important;
            .button {
                width: 130px;
                height: 35px;
                border-radius: 4px;
                background-color: #ff881b;
                color: #ffffff;
                font-weight: bold;
                &:hover{
                    background-color: #ee6b0d;
                }
            }
        }
    }

    .help-page__cta {
        font-size: 13px;
        font-weight: 400;
        text-align: center;

        a{
            color: #ff881b;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .chat-with-cs {
        display: flex;

        .chat-with-cs__type {
            display: flex;
            width: 100%;
            padding: 25px 40px 25px 40px;

            .chat-with-cs__content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .chat-with-cs__title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                .chat-with-cs__desc {
                    font-size: 13px;
                    font-weight: normal;
                    margin-bottom: 0;
                    color: #92929c;
                }
            }

            .chat-with-cs__icon{
                margin-right: 20px;
                img{
                    width: 49px;
                }
            }

            .chat-with-cs__btn{
                display: flex;
                align-items: center;
                margin-right: auto;

                button{
                    font-size: 13px;
                    font-weight: 600;
                    color: #ff881b;
                    border-radius: 4px;
                    border: solid 1px #ff881b;
                    background: transparent;
                    padding: 8px 25px 6px;
                    box-shadow: unset;

                    &:hover{
                        background-color: rgba(255, 136, 27, 0.15);
                    }

                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px){
    .wrapper-content .help-page.wrapper-space{
        margin-left: 20px;
        margin-right: 20px;

    }
}

@media (max-width: 1280px){
    .help-page .video-tutorial .video-tutorial__list{
        padding-left: 50px;
    }
}

@media (max-width: 1080px){
    .help-page .video-tutorial .video-tutorial__list{
        padding-left: 20px;
    }

    .help-page .video-tutorial{
        padding: 30px;
    }
}