%button{
	font-weight: 600;
	width: 100px;
	margin-left: 15px;
	&.button--primary{
		color: #FFFFFF;
        background-color: #FF881B;
        border: unset;
        padding: 11px 10px;
		&:hover{
			background-color: #ee6b0d;
		}
	}
	&.button--default{
		color: #242539;
	}
}
.review-popup-rule-settings-page{
    // padding: 0 20px;
    color: #242539;

    .disabled_setting{
		position: relative;
		// opacity: 0.4;
		user-select: none;
		pointer-events: none;

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
    }

    .rp__container{
        position: relative;
    }
    
    .review-popup-rule-settings-wrap{
        .rp__header{
            ul.nav{
                display: flex;
                background-color: $white;
                padding: 15px 10% 0;
                border: 1px solid #f0f0f7;
                border-radius: 5px;
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:first-child{
                        margin-right: 50px;
                    }
                    a{
                        color: #92929c;
                        padding: 7px 15px;
                        background-color: transparent;
                        font-size: 15px;
                        text-align: center;
                        background: rgba(255, 255, 255, 0.2);
                    }
                    &.active{
                        a{
                            border-bottom: 2px solid $orange-default;
                            font-weight: 600;
                            color: $orange_default;
                        }
                    }
                }
            }
        }

        .rp__footer--display{
            padding-right: 100px;
            padding-bottom: 50px;
            
            .button{
                @extend %button;
            }
        }

        .rp__footer--page{
            border-radius: 0 0 5px 5px;
            padding: 0 10% 40px 10%;
            hr{
                margin-top: 0;
                margin-bottom: 40px;
            }
            .button{
                @extend %button;
            }
        }
    }

    .rp__display-rule{
        .rp__display-rule-wrap{
            display: flex;
        }
        .display-rule{
            width: 100%;
            border-radius: 5px;
            padding: 30px 80px;

            .alireview-fa-star {
                font-size: 15px;
                color: #FFB303;
            }
        }
        .switch-checkbox--green{
            .switch-input:checked ~ .switch-label{
                background-color: #2AC839;
            }
        }
        #tagsinput-display-rule_tagsinput{
            height: 80px !important;
            min-height: 80px !important;
            span{
                font-family: Poppins;
            }
        }
        #tagsinput-display-rule_tag{
            width: 220px !important;
            font-family: Poppins;
        }
        .display-rule__from-to{
            position: relative;
            .validate-text{
                position: absolute;
                left: 0;
            }
            :nth-child(2) .validate-text{
                display: none;
            }
        }
    }
    .rp__page-rule{
        .rp__page-rule-wrap{
            border-radius: 5px 5px 0 0;
            padding: 30px 10% 50px;
        }
        .button--browse{
            padding: 10px 20px;
            border-color: #D4D4D4;
        }
        .table-combo{
            max-height: 500px;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background: #D4D4D4;
                border-radius: 8px;
            }
    
            &::-webkit-scrollbar-thumb:hover {
                background: #D4D4D4;
                border-radius: 8px;
            }
        }
    }
    .rp__aside{
        width: 48%;
        .rp__aside-wrap{
            position: sticky;
            top: 90px;
        }
    }
    .rp__preview{
        margin-bottom: 30px;
        .rp__preview-wrap{
            padding: 0px 20px 25px;
            background-color: #242539;
            border-radius: 5px;
            
            .preview__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                .preview__title{
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;
                }
                .preview__popup{
                    button{
                        background-color: transparent;
                        border: none;
                        color: #92929C;
                        font-size: 20px;
                        padding: 0;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

            .preview__content{
                background-color: $white;
                padding: 25px 15px 15px;
                .preview__body{
                    display: flex;
                    .review__img{
                        width: 30%;
                        img{
                            max-width: 100%;
                        }
                    }
                    .review__content{
                        margin-left: 15px;
                        .review__rating{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            .review__star{
                                .alr-star{
                                    i{
                                        font-size: 18px;
                                        padding-right: 0px;
                                        color: #FFB303;
                                    }
                                }
                            }
                            .review__date{
                                color: #C9C9C9;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    .rp__popup-detail{
        .rp__popup-detail-wrap{
            padding: 0px 20px 25px;
            background-color: #242539;
            border-radius: 5px;
            position: sticky;
            top: 90px;
            .popup-detail__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                .popup-detail__title{
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .popup-detail__popup{
                button{
                    background-color: transparent;
                    border: none;
                    color: #92929C;
                    font-size: 20px;
                    padding: 0;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        color: #fff;
                    }
                }
            }
    
            .popup-detail__content{
                padding: 15px 8px;
                background-color: #808080;
                border-radius: 4px;
            }
        }
    }

    .rp__rule-collection-page{
        .modal-choose-items{
            .modal__list{
                display: flex;
                position: relative;
                overflow: hidden;
                padding-right: 0;
                .collection__choose-categories{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    overflow: auto;
                    min-height: 400px;
                    max-height: 400px;
                    padding-right: 5px;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #D4D4D4;
                        border-radius: 8px;
                    }
            
                    &::-webkit-scrollbar-thumb:hover {
                        background: #D4D4D4;
                        border-radius: 8px;
                    }
                }
                .collection__choose-products{
                    width: 100%;
                    position: absolute;
                    left: 100%;
                    overflow: auto;
                    min-height: 400px;
                    max-height: 400px;
                    padding-right: 5px;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #D4D4D4;
                        border-radius: 8px;
                    }
            
                    &::-webkit-scrollbar-thumb:hover {
                        background: #D4D4D4;
                        border-radius: 8px;
                    }
                }
            }
        }
        .modal-choose-items--collection{
            .modal__footer{
                .button--primary{
                    background-color: #fff;
                    border: 1px solid #dcdfe6;
                    color: #606266;
                    &:hover{
                        color: #000000;
                        border-color: #b3b3b3;
                        background-color: rgba(233, 233, 240, 0.7) !important;
                    }
                }
            }
        }
    }

    .disabled--old-version{
		position: relative;
		&:before{
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
            z-index: 1;
            opacity: 0.3;
            background: #fff;
		}
	}

    .tooltip--old-version {
		position: absolute;
		top: 30%;
		left: 40%;
		z-index: 9;
		opacity: 1;
		background: #ffffff;
		padding: 23px 20px;
		max-width: 300px;
		box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		font-weight: normal;
		font-size: 11px;
		div{
			position: relative;
			&:before{
				content: ' ';
				position: absolute;
				top: -28px;
				left: 0;
				z-index: 9;
				width: 14px;
				height: 14px;
				transform: rotate(45deg);
				background: #ffffff;
			}
			span{
				color: #00c35c;
				font-weight: 600;
			}
		}
	}

    .btn--edit{
        width: 85px;
        color: #242539;
    }
    .btn--del{
        color: #242539;
    }
    
    .button--reset{
        color:  $orange-default;
    }

    .error--input-parent {
        input{
            border: 1px solid #F94C4E;
        }
        .error--text{
            font-size: 11px;
            color: #F94C4E;
            margin: 0;
            margin-top: 3px;
        }
    }
    .error--input{
        border: 1px solid #F94C4E;
    }
    .error--text{
        font-size: 11px;
        color: #F94C4E;
        margin: 0;
        margin-top: 3px;
    }

    .validate-text{
        font-size: 11px;
        color: #F94C4E;
        font-weight: 500;
    }

    .disabled-action{
		position: relative;
		&:before{
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
		opacity: 0.4;
        user-select: none;
        pointer-events: none;
	}

    .has-search{
        .form-control{
            padding-right: 12px;
            padding-left: 34px;
        }
        .form-control-feedback{
            right: initial;
            left: 0;
            color: #ccc;
            z-index: 3;
        }
    }

    .rp__box-save{
		position: fixed;
		top: 0;
		left: 260px;
		width: calc(100% - (260px));
		max-height: 70px;
		z-index: 1030;
		.box-save__content{
			justify-content: space-between;
			margin: unset;
			position: relative;
		}
		.box-save__body{
			width: 100%;
			justify-content: space-between;
			margin-top: 0;
			padding: 18px 0;
			@media (max-width : 1440px){
				padding: 18px 15px;
			}

		}
		.box-save__notify{
			display: flex;
			align-items: center;
			height: 35px;
			span{
				margin-left: 10px;
				font-weight: 500;
				font-size: 13px;
				color: #00C35C;
			}
			i{
				font-size: 25px;
                color: #00C35C;
				border-radius: 50%;
			}
			>div{
				display: flex;
				align-items: center;
			}
			.box-save__notify--default{
				span, i{
					color: #00BBBA;
                }

                i{
                    border: 5px solid rgba(0, 187, 186, 0.2);
                }
			}
		}
		.box-save__notify--finish {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #00C35C;
            }
            i{
				border: 5px solid rgba(25, 176, 84, 0.2);
			}
		}
		.box-save__notify--saving{
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 3px;
				background-color: #00C35C;
			}
			span{
				margin-left: 40px !important;
			}
			.lds-rolling{
				>div{
					border-color: #00C35C !important;
					border-top-color: transparent !important;
				}
			}
		}
		.box-save__notify--error{
			i{
				color: #EA0000;
                border: 5px solid rgba(249, 76, 78, 0.2);
			}
			span{
				color: #EA0000;
			}
		}
		.button{
			@extend %button;
		}
	}

    .border_line{
        height: 40px;
        padding: 18px 10px;
        border: 1px solid #D7DAE2;
        border-radius: 4px;
        span{
            border: 0.5px solid #000;
            display: block;
        }
    }

    .colorpicker-init{
        border: 1px solid #D7DAE2;
        border-radius: 4px;
        .input-group-addon{
            padding: 7px 14px;
            border: unset;
            i{
                display: inline-block;
                cursor: pointer;
                vertical-align: text-top;
            }
        }
        .form-control{
            min-height: 40px;
            border: unset;
            padding-left: 0;
        }
    }
    .select2-container {
        .select2-selection{
            height: 40px;
            border: 1px solid #D7DAE2 !important;
            .select2-selection__rendered{
                font-weight: 500;
                line-height: 38px !important;
            }
        }
    }
    [class^="alr-icon-"],
    [class*="alr-icon-"] {
        font-family: 'Font Awesome 5 Pro' !important;
        font-weight: 900;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        padding-right: 4px;
    }

    [class*="alr-icon-"]:before,
    [class*="alr-icon-"]:after {
        font-family: 'Font Awesome 5 Pro' !important;
    }
    .alr-icon-star {
        &:before {
            content: "\f005";
        }
    }
    .alr-icon-reaction-1:before{
        content: "\F164" !important;
    }
    .alr-icon-non-reaction-1:before{
        content: "\F165" !important;
    }
}

.colorpicker-right:before {
    left: auto;
    right: 16px;
}
  
.colorpicker-right:after {
    left: auto;
    right: 17px;
}

.icon-round{
	display: inline-block;
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	background: #242539;
	border-radius: 50%;
}
.icon-square{
	display: inline-block;
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	background: #242539;
	border-radius: 2px;
}

.icon-rectangle{
	display: inline-block;
	width: 24px;
	height: 18px;
	min-width: 24px;
	min-height: 18px;
	background: #242539;
}
.flex-column{
    flex-direction: column !important;
}

.el-tooltip__popper{
    color: #242539;
    font-size: 11px;
    max-width: 300px;
    line-height: 16px;
    &.is-light[x-placement^=bottom] .popper__arrow{
        border-bottom-color: rgba(0, 0, 0, 0.06);
    }
    &.is-light{
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: none;
    }
}
.error-input-valid{
    input, input:focus{
        border: 1px solid #F94C4E;
    }
}
div.tagsinput span.tag{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

/* ICON LOADING  */
@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.lds-css{
	position: relative;
	left: 20px;
    top: 0px;
}
.lds-rolling {
	position: absolute;
}
.lds-rolling div,
.lds-rolling div:after {
    width: 25px;
    height: 25px;
    border: 4px solid #00C35C;
    border-top-color: transparent;
    border-radius: 50%;
}
.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
}
.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.lds-rolling {
    width: 25px !important;
    height: 25px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.lds-email-reset{
    .lds-rolling{
        left: 20px;
        div{
            border-color: #fff;
            border-top-color: transparent;
        }
    }
}

/* END ICON LOADING  */