.wrapper-content .upgrade-version-page.wrapper-space {
    margin: 40px 75px 10px;
    box-shadow: none !important;
}

.upgrade-version-page {
    margin: 40px 40px 0;
    font-size: 13px;
    color: #242539;

    .choose-plan {
        background: #f0f0f7;
        display: flex !important;
        .choose-plan__aside{
            max-width: initial;
            padding: 0;
            flex: 0 0 298px;

            li.disabled-plan {
                position: relative;
                opacity: 0.4;
                user-select: none;
                pointer-events: none;
            }

            .nav {
                background-color: #fff;
                border-radius: 4px;
            }

            .nav__footer {
                display: none;
            }
        }

        .tab-content {
            background-color: #fff;
            border: 2px solid $orange-default;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            margin-left: 35px;
        }
    }
    .choose-plan-mobile{
        display: none !important;
    }
}

@media only screen and (min-width: 1441px) {
    .wrapper-content .upgrade-version-page.wrapper-space {
        margin: auto;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1024px) {
    .upgrade-version-page {
        .choose-plan-wrap{
            margin: auto !important;
        }
    }
}
