@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Playfair+Display:700&display=swap");
*,
::after,
::before {
    background-repeat: no-repeat;
    box-sizing: inherit
}

::after,
::before {
    text-decoration: inherit;
    vertical-align: inherit
}

html {
    box-sizing: border-box;
    cursor: default;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

body {
    margin: 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

nav ol,
nav ul {
    list-style: none
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none
}

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg {
    fill: currentColor
}

svg:not(:root) {
    overflow: hidden
}

table {
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    margin: 0
}

button,
input,
select,
textarea {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto;
    resize: vertical
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation
}

[hidden] {
    display: none
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-hidden=false][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute
}

[aria-disabled] {
    cursor: default
}

*,
*:before,
*:after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
blockquote,
pre,
code {
    margin-top: 0;
    margin-bottom: 0
}

ul,
ol {
    padding-left: 0;
    margin-left: 0
}

blockquote {
    padding: 0;
    margin: 0
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    text-align: left;
    padding: 0
}

button[type="button"] {
    -webkit-appearance: none
}

form {
    margin: 0
}

iframe {
    border: 0
}

svg {
    max-height: 11000px
}

@-webkit-keyframes hvr-icon-pop {
    50% {
        transform: scale(1.25) translateY(-50%)
    }
}

@keyframes hvr-icon-pop {
    50% {
        transform: scale(1.25) translateY(-50%)
    }
}

@-webkit-keyframes hvr-ripple-out {
    0% {
        opacity: 1
    }
    100% {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        opacity: 0
    }
}

@keyframes hvr-ripple-out {
    0% {
        opacity: 1
    }
    100% {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        opacity: 0
    }
}

@-webkit-keyframes hvr-ripple-circle {
    0% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
    50% {
        transform: scale(1.4) translateX(3px) translateY(3px);
        opacity: 0
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
}

@-webkit-keyframes hvr-ripple-out-circle {
    0% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
    50% {
        transform: scale(1.4) translateX(3px) translateY(3px);
        opacity: 0
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
}

@keyframes hvr-ripple-out-circle {
    0% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
    50% {
        transform: scale(1.4) translateX(3px) translateY(3px);
        opacity: 0
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(3px) translateY(3px)
    }
}

@-webkit-keyframes small {
    0% {
        transform: scale(1);
        opacity: 0
    }
    100% {
        transform: scale(1.1);
        transform-origin: right;
        opacity: 1
    }
}

@keyframes small {
    0% {
        transform: scale(1);
        opacity: 0
    }
    100% {
        transform: scale(1.1);
        transform-origin: right;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeInSlightly {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.4
    }
}

@keyframes fadeInSlightly {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.4
    }
}

@-webkit-keyframes swipeRight {
    0% {
        left: -100%
    }
    100% {
        left: 0
    }
}

@keyframes swipeRight {
    0% {
        left: -100%
    }
    100% {
        left: 0
    }
}

@-webkit-keyframes swipeLeft {
    0% {
        right: -100%
    }
    100% {
        right: 0
    }
}

@keyframes swipeLeft {
    0% {
        right: -100%
    }
    100% {
        right: 0
    }
}

@-webkit-keyframes swipeDown {
    0% {
        top: -100%
    }
    100% {
        top: 0
    }
}

@keyframes swipeDown {
    0% {
        top: -100%
    }
    100% {
        top: 0
    }
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 822
    }
    to {
        stroke-dashoffset: 0
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 822
    }
    to {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #FAE0E6
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #FAE0E6
    }
}


@keyframes morph {
    0% {
        d: path("M114.499 -0.999968L240.999 -1.00003L240.999 217.5C240.999 217.5 81.9999 310 67.499 217.5C52.9982 125 -29.0004 116 11.9998 57.5C53 -1.00005 114.499 -0.999968 114.499 -0.999968Z");
        transform: translateX(450px)
    }
    100% {
        d: path("M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z")
    }
}



@keyframes morph-blue {
    0% {
        d: path("M300 41.9999C380 29.9999 402.045 69 402.045 69V311C402.045 311 423.247 389.812 255 329C172 299 68.0001 369 21.0001 273C-26.7812 175.404 16.9184 77.4431 70.9999 33C172 -50 220 53.9999 300 41.9999Z");
        transform: translateX(600px)
    }
    100% {
        d: path("M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z")
    }
}




@media (max-width: 800px) {
    html {
        -webkit-text-size-adjust: 100%
    }
}

@media screen and (min-width: 900px) {
    html.js {
        cursor: none
    }
    html.js button,
    html.js a,
    html.js a:hover {
        cursor: none
    }
}

body {
    color: #6b6b6b;
    font-family: "Nunito", sans-serif;
    line-height: 2;
    overflow-x: hidden;
    font-size: 1.6rem
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 1.8rem
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FAE0E6
}

a:hover,
a:focus,
a:active {
    -webkit-text-decoration-color: #e1466a;
    text-decoration-color: #e1466a
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none
}

strong,
b {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

input,
textarea,
select,
button {
    font-family: "Nunito", sans-serif
}


.row {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    max-width: 1440px
}

.row:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (min-width: 900px) {
    .row {
        padding-left: 8%;
        padding-right: 8%
    }
}


.button,
a.button,
button.button {
    cursor: pointer;
    position: relative;
    padding: 0.25em 3em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-align: center;
    transition: all linear 0.3s
}

.button span {
    font-size: inherit;
    font-weight: inherit
}

.button:focus {
    outline: none
}

.button,
a.button,
button.button {
    font-size: 1.4rem;
    line-height: 35px;
    background-color: #DAF8FF;
    color: #00b1da;
    background: linear-gradient(259.07deg, #DAF8FF 4.07%, #B2EAF8 100%);
    box-shadow: 0px 8px 20px #E5F4F5;
    transition-duration: 0.1s
}

.button:before,
a.button:before,
button.button:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: #c1f3ff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 10px;
    opacity: 0
}

.button:hover,
.button:focus,
.button:active,
a.button:hover,
a.button:focus,
a.button:active,
button.button:hover,
button.button:focus,
button.button:active {
    text-decoration: none;
    transition-duration: 0.1s;
    box-shadow: 0px 8px 20px #daeff1
}

.button:hover:before,
.button:focus:before,
.button:active:before,
a.button:hover:before,
a.button:focus:before,
a.button:active:before,
button.button:hover:before,
button.button:focus:before,
button.button:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.buttonSmall,
a.buttonSmall,
button.buttonSmall {
    font-size: 1.4rem;
    line-height: 30px;
    padding: 0 12px
}

.button--block,
a.button--block,
button.button--block {
    transform: translateX(-50%);
    left: 50%
}

.button--secondary,
a.button--secondary,
button.button--secondary {
    background-color: #F8F1C7;
    color: #d8bd1b;
    background: linear-gradient(259.07deg, #FFFCE9 4.07%, #FDF7D2 100%);
    box-shadow: 0px 8px 20px #F8F3E1
}

.button--secondary:before,
a.button--secondary:before,
button.button--secondary:before {
    border-color: #F8F1C7;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:active,
a.button--secondary:hover,
a.button--secondary:focus,
a.button--secondary:active,
button.button--secondary:hover,
button.button--secondary:focus,
button.button--secondary:active {
    box-shadow: 0px 8px 20px #f5eed5
}

.button--tertiary,
a.button--tertiary,
button.button--tertiary {
    background-color: #FAE0E6;
    color: #e1466a;
    background: linear-gradient(259.07deg, #F5CED7 4.07%, #F8C3D0 100%);
    box-shadow: 0px 8px 20px #FAE0E6
}

.button--tertiary:before,
a.button--tertiary:before,
button.button--tertiary:before {
    border-color: #FAE0E6;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s
}

.button--tertiary:hover,
.button--tertiary:focus,
.button--tertiary:active,
a.button--tertiary:hover,
a.button--tertiary:focus,
a.button--tertiary:active,
button.button--tertiary:hover,
button.button--tertiary:focus,
button.button--tertiary:active {
    box-shadow: 0px 8px 20px #f8d3db
}

.buttonIcon,
a.buttonIcon,
button.buttonIcon {
    padding-right: 45px;
    text-align: left
}

.buttonIcon svg,
a.buttonIcon svg,
button.buttonIcon svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform-origin: top;
    height: 16px;
    width: 16px;
    display: block
}

.buttonIcon:hover svg,
.buttonIcon:focus svg,
.buttonIcon:active svg,
a.buttonIcon:hover svg,
a.buttonIcon:focus svg,
a.buttonIcon:active svg,
button.buttonIcon:hover svg,
button.buttonIcon:focus svg,
button.buttonIcon:active svg {
    -webkit-animation-name: hvr-icon-pop;
    animation-name: hvr-icon-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

.buttonIcon.buttonPrimary svg,
a.buttonIcon.buttonPrimary svg,
button.buttonIcon.buttonPrimary svg {
    fill: #fff
}

.buttonDisabled,
a.buttonDisabled,
button.buttonDisabled {
    cursor: not-allowed;
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.buttonDisabled:focus,
a.buttonDisabled:focus,
button.buttonDisabled:focus {
    outline: none;
    text-decoration: none
}

.buttonDisabled:hover,
.buttonDisabled:focus,
.buttonDisabled:active,
a.buttonDisabled:hover,
a.buttonDisabled:focus,
a.buttonDisabled:active,
button.buttonDisabled:hover,
button.buttonDisabled:focus,
button.buttonDisabled:active {
    text-decoration: none
}





.hero {
    position: relative;
    padding-top: 200px
}

@media screen and (min-width: 900px) {
    .hero {
        padding-top: 250px
    }
}

.hero--home {
    padding-top: 0;
    height: 100vh
}

.hero__flourish {
    position: absolute;
    top: -100px;
    right: 0;
    height: 100vh
}

@media screen and (min-width: 900px) {
    .hero__flourish {
        top: 0
    }
}

.hero__flourish svg.hero__flourish-shape {
    max-height: 861px;
    height: 100%;
    max-width: 100%
}

.hero__flourish svg.hero__flourish-shape path {
    d: path("M114.499 -0.999968L240.999 -1.00003L240.999 217.5C240.999 217.5 81.9999 310 67.499 217.5C52.9982 125 -29.0004 116 11.9998 57.5C53 -1.00005 114.499 -0.999968 114.499 -0.999968Z");
    -webkit-animation-name: morph;
    animation-name: morph;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.hero__flourish svg.hero__flourish-outline {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 861px;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-animation-name: small;
    animation-name: small;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.hero__flourish svg.hero__flourish-outline path {
    d: path("M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z")
}

.body--about .hero__flourish,
.body--portfolio .hero__flourish,
.body--portfolio-single .hero__flourish {
    top: 0;
    right: 0;
    height: 1080px
}

@media screen and (min-width: 900px) {
    .body--about .hero__flourish,
    .body--portfolio .hero__flourish,
    .body--portfolio-single .hero__flourish {
        top: 130px
    }
}

.body--about .hero__flourish svg.hero__flourish-shape,
.body--portfolio .hero__flourish svg.hero__flourish-shape,
.body--portfolio-single .hero__flourish svg.hero__flourish-shape {
    max-height: 1080px;
    max-width: 100%
}

.body--about .hero__flourish svg.hero__flourish-shape path,
.body--portfolio .hero__flourish svg.hero__flourish-shape path,
.body--portfolio-single .hero__flourish svg.hero__flourish-shape path {
    d: path("M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z");
    -webkit-animation-name: morph-blue;
    animation-name: morph-blue;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.body--about .hero__flourish svg.hero__flourish-outline,
.body--portfolio .hero__flourish svg.hero__flourish-outline,
.body--portfolio-single .hero__flourish svg.hero__flourish-outline {
    max-height: 1164px;
    width: 100%
}

.body--about .hero__flourish svg.hero__flourish-outline path,
.body--portfolio .hero__flourish svg.hero__flourish-outline path,
.body--portfolio-single .hero__flourish svg.hero__flourish-outline path {
    d: path("M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z")
}

.hero__caption .button {
    margin-top: 2em;
    opacity: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.hero--home .hero__caption {
    margin-top: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%)
}

.hero__title {
    overflow: hidden;
    font-family: "Playfair Display", serif;
    color: #2F2F2F;
    font-size: 3.8rem;
    line-height: 1.2;
    white-space: nowrap;
    width: 0;
    -webkit-animation: typing 0.75s steps(40, end);
    animation: typing 0.75s steps(40, end);
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.hero__title span {
    position: relative;
    display: inline-block
}

.hero__title span:after {
    content: "";
    overflow: hidden;
    background-image: url(https://bendarby.co.uk/assets/img/brush-blue.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 13px;
    width: 0;
    display: block;
    z-index: -1;
    bottom: 3px;
    -webkit-animation: typing 0.3s steps(40, end);
    animation: typing 0.3s steps(40, end);
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.hero__copy {
    font-size: 1.6rem;
    margin-top: 2em;
    opacity: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
