//== General setting
//
@import "../variables";
.general-setting-wrap {
  padding: 40px 50px;
  background: #fff;
  border: 1px solid $color_border_base;
  border-radius: 3px;
  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  > h2 {
    margin: 0 0 50px;
    font-family: $font_family_second;
    font-size: 24px;
    font-weight: 600;
    color: $color_text;
    line-height: 1.3em;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    &.translate-title {
      margin-bottom: 20px;
    }
    &.display-review-setting {
      margin-top: 90px;
      @media (max-width: 767px) {
        margin-top: 70px;
      }
    }
  }
  > p {
    font-size: $font_size_base;
    color: $color_text;
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.overlay-affiliate {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #d2dce8;
    opacity: 0.5;
    z-index: 1000;
  }

  .tooltip {
    z-index: 9999;
  }
}
.affiliate-settings {
  position: relative;
  padding: 20px !important;

  .tooltip {
    display: none;
    right: inherit;
    left: 100%;
    top: 0%;
    transform: translateY(-50%);
    .tooltip-inner {
      padding: 10px 10px;
      background-color: #344c67;
      font-size: 14px;
      color: #fff;
      line-height: 1.6em;
    }

    .ars-btn {
      margin: 8px 0 0;
      padding: 0 10px;
      font-size: 11px;
      font-weight: 700;
      background: #f53663;
      width: 100%;
      height: 30px;
      line-height: 28px;
      white-space: nowrap;
    }
  }
  &:hover {
    .tooltip {
      display: block;
    }
  }
}
.setting-enable-affiliate {
  position: relative;
  display: inline-block;
  margin-top: 70px !important;

  .tooltip {
    display: none;
    right: inherit;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    .tooltip-inner {
      padding: 10px 10px;
      background-color: #344c67;
      font-size: 14px;
      color: #fff;
      line-height: 1.6em;
    }

    .ars-btn {
      margin: 8px 0 0;
      padding: 0 10px;
      font-size: 11px;
      font-weight: 700;
      background: #f53663;
      width: 100%;
      height: 30px;
      line-height: 28px;
      white-space: nowrap;
    }
  }
  &:hover {
    .tooltip {
      display: block;
    }
  }
}
.general-setting-block {
  padding: 0 25px;
  max-width: 700px;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  > h3 {
    margin: 0 0 40px;
    font-family: $font_family_second;
    font-size: $font_size_large;
    font-weight: 600;
    color: $color_text;
    line-height: 1.4em;
    &.approve-review-title {
      margin-top: 56px;
      @media (max-width: 767px) {
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    &.sort-review-title {
      margin-top: 80px;
      @media (max-width: 767px) {
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    &.choose-style-title {
      margin-top: 80px;
      @media (max-width: 767px) {
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
  }
}

.only-star-setting {
  > p {
    margin: 0 0 18px;
    font-size: $font_size_base;
    font-weight: 600;
    color: #b8c6d6;
    text-transform: uppercase;
  }
  .ars-checkox-container {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.only-picture-setting {
  @media (max-width: 991px) {
    margin-top: 40px;
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  > p {
    margin: 0 0 18px;
    font-size: $font_size_base;
    font-weight: 600;
    color: #b8c6d6;
    text-transform: uppercase;
  }
  .ars-checkox-container {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.max-import-setting {
  margin: 48px 0 0;
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  > p {
    margin: 0 0 18px;
    font-size: $font_size_base;
    font-weight: 600;
    color: #b8c6d6;
    text-transform: uppercase;
    @media (max-width: 1280px) {
      // height: 40px;
    }
  }
  .ars-field {
    // width: 280px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.language-review-setting {
  margin: 48px 0 0;
  // width: 280px;
  @media (max-width: 767px) {
    margin-top: 30px;
    width: 100%;
  }
  > p {
    margin: 0 0 18px;
    font-size: $font_size_base;
    font-weight: 600;
    color: #b8c6d6;
    text-transform: uppercase;
    @media (max-width: 1280px) {
      // height: 40px;
    }
    @media (max-width: 1199px) {
      height: auto;
    }
  }
}

.max-number-per-page {
  margin: 46px 0 0;
  > p {
    margin: 0 0 18px;
    font-size: $font_size_base;
    font-weight: 600;
    color: #b8c6d6;
    text-transform: uppercase;
  }
  .ars-field {
    // width: 280px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.sort-review-wrap {
  .ars-radio-container {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//=== Theme setting
//
.theme-setting-wrap {
  background: #fff;
  padding: 40px 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  @media (max-width: 767px) {
    padding: 30px 20px;
  }
  > h2 {
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #344c67;
    line-height: 1.3em;
  }
  > p {
    color: #768494;
  }
  > h3 {
    margin: 36px 0 50px;
    font-size: 18px;
    font-weight: bold;
    color: $color_text;
  }
  .row {
    margin-left: -40px;
    margin-right: -40px;
    > div {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
.choose-style-block {
  position: relative;
  margin-bottom: 40px;
  @media (max-width: 1199px) {
    // display: block;
    margin-right: 0;
    margin-right: 30px;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
  .choose-style-title {
    position: relative;
    display: inline-block;
  }
  p {
    margin: 0 0 15px;
    padding-left: 10px;
    font-size: $font_size_medium;
    font-weight: 700;
    color: $color_text;
  }
  .preview-style {
    background: #fff;
    position: absolute;
    top: -3px;
    right: 10px;
    width: 36px;
    height: 26px;
    border: 1px solid $color_border_base;
    border-radius: 3px;
    line-height: 24px;
    color: $color_text;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $color_skin;
      color: #fff;
      border-color: transparent;
    }
  }
  .ars-radio {
    display: block;
    text-align: center;
  }
  .style-img {
    position: relative;
    background: #fff;
    padding: 1px;
    height: 230px;
    overflow: hidden;
    margin: 0 0 20px;
    border: 1px solid #d2dce8;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @media (max-width: 1280px) {
      .choose-style-upgrade {
        padding-top: 70px;
        p {
          padding: 0 30px;
        }
      }
    }
    > span {
      display: block;
      background: #fff;
      position: absolute;
      top: 3px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 4px;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
    &:hover {
      .choose-style-upgrade {
        display: block;
      }
    }
  }
}

.theme-setting-submit-wrap {
  margin: 40px 0 0;
}

.setting-submit-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 22px 70px;
  background: $color_button_skin;
  border-radius: 4px;
  font-size: $font_size_base;
  font-weight: 700;
  color: #fff;
  border: none;
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &:hover {
    background: $color_skin;
  }
}

//=== Translate
//
.switch-translate-wrap {
  margin: 28px 0 40px;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.general-setting-translate {
  margin: 30px 0 0;
  display: none;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &.active {
    display: block;
    margin-bottom: 10px;
  }
  .ars-field {
    margin-bottom: 30px;
    input {
      display: block;
      width: calc(100% - 50px);
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
.translate-into-setting {
  margin: 48px 0 0;
  > p {
    color: #b8c6d6;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.choose-style-list {
  padding-left: 25px;
  padding-right: 25px;
  > li {
    position: relative;
    &:hover {
      .tooltip {
        opacity: 1;
      }
    }
    .tooltip {
      opacity: 0;
      position: absolute;
      top: -48px;
      left: calc(100% + 4px);
      transition: all 0.5s ease-in-out;
      z-index: 99;
      @media (max-width: 767px) {
        left: 0;
      }
    }
    .tooltip-inner {
      padding: 20px;
      min-width: 210px;
      text-align: center;
      span {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
      }
      .ars-btn {
        margin: 8px 0 0;
        padding: 0;
        font-size: 11px;
        font-weight: 700;
        background: $color_skin;
        width: 100%;
        height: 30px;
        line-height: 28px;
      }
    }
  }
}
.choose-style-upgrade {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_text;
  opacity: 0.35;
  p {
    margin: 0 0 20px;
    font-size: 14px;
    color: #fff;
    line-height: 1.3em;
    padding: 0 70px;
  }
  .ars-btn {
    height: 30px;
    line-height: 28px;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.local-translate-wrap {
  padding: 40px 50px;
  background: #fff;
  border: 1px solid $color_border_base;
  border-radius: 3px;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.local-translate-container {
  > h2 {
    margin: 0 0 50px;
    font-family: $font_family_second;
    font-size: 24px;
    font-weight: 600;
    color: $color_text;
    line-height: 1.3em;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    &.translate-title {
      margin-bottom: 20px;
    }
    &.display-review-setting {
      margin-top: 90px;
      @media (max-width: 767px) {
        margin-top: 70px;
      }
    }
  }
  > p {
    color: #768494;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
//=======================================================
//
.translate-customer-review {
  position: relative;
  padding-left: 46px;
  padding-right: 46px;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &:after {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 9;
  }
  &.active {
    &:after {
      display: none;
    }
  }
  @media (min-width: 1366px) {
    width: 70%;
  }
}
.input-translate-container {
  position: relative;
  width: 70%;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.input-base-bold {
  margin-bottom: 22px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: $font_size_base;
  font-weight: 700;
  color: $color_text;
  border-radius: 3px;
  border: 1px solid $color_border_input_2;
  line-height: 48px;
}
.input-base-bold::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 700;
  color: $color_text;
}
.input-base-bold::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
  color: $color_text;
}
.input-base-bold:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 700;
  color: $color_text;
}
.input-base-bold:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
  color: $color_text;
}

.input-base-light {
  margin-bottom: 22px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: $font_size_base;
  font-weight: 400;
  color: $color_text;
  border-radius: 3px;
  border: 1px solid $color_border_input_2;
  line-height: 48px;
}
.input-base-light::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  color: #adb4bc;
}
.input-base-light::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  color: #adb4bc;
}
.input-base-light:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  color: #adb4bc;
}
.input-base-light:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  color: #adb4bc;
}

.input-dark-light {
  margin-bottom: 22px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: $font_size_base;
  font-weight: 400;
  color: $color_text;
  border-radius: 3px;
  border: 1px solid $color_border_input_2;
  line-height: 48px;
}
.input-dark-light::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  color: $color_text;
}
.input-dark-light::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  color: $color_text;
}
.input-dark-light:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  color: $color_text;
}
.input-dark-light:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  color: $color_text;
}

.input-base-required {
  margin-bottom: 22px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: $font_size_base;
  font-weight: 400;
  color: #fbadbb;
  border-radius: 3px;
  border: 1px solid $color_border_input_2;
  line-height: 48px;
}
.input-base-required::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
  color: #fbadbb;
}
.input-base-required::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
  color: #fbadbb;
}
.input-base-required:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  color: #fbadbb;
}
.input-base-required:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
  color: #fbadbb;
}

.customer-base-review {
  position: relative;
  padding-left: 102px;
  .rating-star {
    i {
      margin: 0 2px;
      font-size: 20px;
      color: #faae0d;
      &:before {
        width: auto;
        margin: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 767px) {
    padding-left: 0;
  }
}
.translate-summary-wrap {
  > h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
}

.number-rating-block {
  background: #faae0d;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 78px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  span {
    font-size: 32px;
    color: #fff;
  }
  @media (max-width: 767px) {
    position: inherit;
    margin-bottom: 20px;
  }
}
.customer-base-text {
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 9px;
  margin-bottom: 10px;
}
.customer-base-text-line {
  display: inline-block;
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 767px) {
    width: 100% !important;
  }
}
.text-based-on-review {
  position: relative;
  padding-right: 40px;
  span {
    font-size: 26px;
    font-weight: 700;
    color: $color_text;
    position: absolute;
    top: 14px;
    right: 15px;
    @media (max-width: 767px) {
      position: initial;
    }
  }
  @media (max-width: 767px) {
    padding-right: 10px;
  }
}
.translate-empty-line {
  margin: 0 0 22px;
  background: #e8edf3;
  width: 100%;
  height: 50px;
  border-radius: 3px;
}

.translate-customer-wrap {
  margin: 40px 0 0;
  > h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
}
.translate-your-rating {
  position: absolute;
  top: 14px;
  left: calc(100% + 30px);
  white-space: nowrap;
  i {
    margin: 0 2px;
    font-size: 20px;
    color: #faae0d;
    &:before {
      width: auto;
      margin: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    position: initial;
    margin-bottom: 30px;
  }
}
.demo-select-image {
  margin: 0 0 22px;
  > li {
    list-style-type: none;
    background: #e8edf3;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 22px;
  }
}

.input-base-verified {
  margin-bottom: 22px;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  font-size: $font_size_base;
  font-weight: 700;
  color: #36af4a;
  border-radius: 3px;
  border: 1px solid $color_border_input_2;
  line-height: 48px;
}
.input-base-verified::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 700;
  color: #36af4a;
}
.input-base-verified::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
  color: #36af4a;
}
.input-base-verified:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 700;
  color: #36af4a;
}
.input-base-verified:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
  color: #36af4a;
}
.translate-reviews-wrap {
  margin: 40px 0 0;
  > h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
}

.translate-notice-wrap {
  margin: 40px 0 0;
  > h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
}

.translate-submit-wrap {
  margin: 100px 0 0;
  @media (max-width: 767px) {
    margin-top: 3 0px;
  }
  button {
    padding-left: 0;
    padding-right: 0;
    width: 246px;
    + button {
      margin-left: 40px;
      @media (max-width: 767px) {
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .ars-submit-btn-o {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

//=== Default Review
//
.default-review-wrap {
  padding: 40px 0;
  background: #fff;
  border: 1px solid $color_border_base;
  border-radius: 3px;
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &.active {
    .default-review-list-wrap {
      &:after {
        display: none;
      }
    }
    .random-default-wrap {
      &:after {
        display: none;
      }
    }
  }
}
.default-review-container {
  padding: 0 50px;
  @media (max-width: 767px) {
    padding-left: 0px;
    padding-right: 0px;
  }
  > h2 {
    margin: 0 0 50px;
    font-family: $font_family_second;
    font-size: 24px;
    font-weight: 600;
    color: $color_text;
    line-height: 1.3em;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    &.default-review-title {
      margin-bottom: 20px;
    }
  }
  > p {
    color: #768494;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.default-review-list-wrap {
  position: relative;
  &:after {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 9;
  }
  > h3 {
    padding: 0 52px;
    margin: 36px 0;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.default-review-list {
  .ars-table-head .ars-table-col:first-child {
    padding-left: 52px;
  }
  .ars-table-head .ars-table-col:last-child {
    padding-right: 52px;
  }
  .ars-table-row .ars-table-col:first-child {
    padding-left: 52px;
  }
  .ars-table-row .ars-table-col:last-child {
    padding-right: 52px;
  }
  .ars-table-row .ars-table-col {
    border-bottom: 1px solid $color_border_base;
  }
  .pagination-wrap {
    padding-left: 52px;
    padding-right: 52px;
  }
  @media (max-width: 767px) {
    .ars-table-head {
      display: none;
    }
    .ars-table-row {
      border-bottom: 1px solid $color_border_base;
      .ars-table-col {
        display: block;
        padding-top: 5px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        &:first-child {
          padding-left: 0;
          padding-right: 0;
        }
        &.col-default-action {
          padding-top: 20px;
        }
      }
    }
  }
}

.switch-default-review-wrap {
  margin: 28px 0 40px;
}

.col-default-name {
  white-space: nowrap;
}

.col-default-action {
  white-space: nowrap;
  > a {
    padding-left: 0;
    padding-right: 0;
    min-width: 98px;
    text-align: center;
    + a {
      margin-left: 6px;
    }
  }
}

.random-default-wrap {
  position: relative;
  margin: 40px 0 0;
  padding: 0 52px;
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  &:after {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 9;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
  p {
    margin: 24px 0 30px;
    color: #b8c6d6;
  }
  .ars-field {
    label {
      font-weight: 400;
      color: $color_text;
      span {
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px;
      }
      input[type="text"] {
        width: 86px;
        text-align: center;
        + span {
          padding-left: 20px;
        }
      }
    }
  }
  .ars-submit-btn {
    margin: 80px 0 0;
  }
}

.add-default-review-wrap {
  padding: 40px 52px;
  border-bottom: 1px solid $color_border_base;
  a {
  }
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.add-default-review-btn {
  font-size: 18px;
  font-weight: 700;
  color: $color_text;
  cursor: pointer;
}
.modal-default-review-wrap {
  color: $color_text;
  h2 {
    margin: 0 0 50px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #344c67;
    line-height: 1.45em;
    text-align: center;
  }
  .ars-field {
    margin: 0 0 30px;
    span {
      color: #bdcad9;
    }
  }
  .star-rating {
    i {
      margin-right: 6px;
      font-size: 30px;
    }
  }
  .rate-it {
    line-height: 0;
    i {
      margin-right: 4px;
      font-size: 0;
      line-height: 0;
      &:before {
        font-size: 26px;
      }
    }
  }
}
.modal-default-review-btn-wrap {
  margin: 76px 0 0;
  text-align: right;
}

.customize-style-wrap {
  position: relative;
  background: #fff;
  margin: 30px 0 0;
  padding: 40px 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
  @media (max-width: 767px) {
    margin-top: 20px;
    padding: 30px 20px;
  }
  > h2 {
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #344c67;
    line-height: 1.3em;
  }
  > h3 {
    margin: 30px 0 0;
    font-size: 18px;
    font-weight: 700;
    color: $color_text;
  }
}
.palette-color-wrap {
  display: inline-block;
  min-width: 750px;
  margin: 52px 0 30px;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.15);
  @media (max-width: 767px) {
    min-width: 0;
    width: 100%;
    padding: 0;
    margin: 50px 0 0;
    box-shadow: none;
  }
}

.palette-customer-text {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    margin: 4px 0 0;
    float: left;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }
}

.palette-number-rating {
  margin: 22px 0 0;
  min-height: 62px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .palette-rating-block {
    float: left;
    position: relative;
    padding-top: 10px;
    padding-left: 80px;
    > span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 62px;
      height: 62px;
      text-align: center;
      line-height: 60px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 3px;
    }
    > p {
      color: #32373d;
    }
    .star-rating {
      i {
        font-size: 18px;
        width: auto;
        &:first-child {
          &:before {
            margin-left: 0;
          }
        }
        &:before {
          margin: 0 2px;
        }
      }
    }
    > p {
      margin: 5px 0 0;
    }
  }
  .palette-edit-wrap {
    margin: 13px 0 0;
  }
}

.palette-edit-wrap {
  float: right;
  font-size: 0;
  > li {
    position: relative;
    display: inline-block;
    .palette-edit-btn {
      position: relative;
      background: #fff;
      display: inline-block;
      color: $color_text;
      border: 1px solid #bcc9d8;
      width: 60px;
      height: 38px;
      border-radius: 3px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      i {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 767px) {
    display: block;
    float: left;
    margin-top: 10px !important;
    width: 100%;
    margin-bottom: 20px !important;
  }
}

.palette-notify-block {
  margin: 30px 0 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .palette-edit-wrap {
    margin-top: 7px;
  }
}

.palette-notify-review {
  padding: 0 20px;
  float: left;
  width: calc(100% - 110px);
  height: 50px;
  border-radius: 3px;
  line-height: 48px;
  @media (max-width: 767px) {
    width: 100%;
    display: block;
    height: auto;
  }
}
.palette-button-submit {
  margin: 30px 0 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .palette-edit-wrap {
    margin-top: 7px;
  }
}
.palette-submit-review {
  float: left;
  > span {
    display: inline-block;
    padding: 18px 38px;
    border-radius: 2px;
  }
}

.palette-choose-wrap {
  background: #fff;
  padding: 30px 24px;
  min-width: 380px;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  z-index: 10;
  .style-color-block {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    position: initial;
    min-width: 0;
  }
}
.style-color-block {
  margin-bottom: 28px;
  > h3 {
    float: left;
    min-width: 170px;
    margin: 0;
    font-size: 16px;
    color: $color_text;
    line-height: 28px;
    @media (max-width: 767px) {
      min-width: 0;
      display: block;
      width: 100%;
      float: left;
    }
  }
  > label {
    margin: 0;
    .style-color {
      display: inline-block;
      width: 40px;
      height: 28px;
      border: 1px solid $color_border_input;
      vertical-align: middle;
    }
    .style-color-btn {
      position: relative;
      display: inline-block;
      padding: 0 15px;
      height: 28px;
      font-size: 14px;
      color: $color_text;
      border: 1px solid $color_border_input;
      line-height: 26px;
      vertical-align: middle;
      cursor: pointer;
    }
    @media (max-width: 767px) {
      display: block;
      float: left;
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.theme-settings-btn-wrap {
  margin: 50px 0 0;
  .ars-submit-btn-o {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .ars-submit-btn {
    margin-left: 30px;
    @media (max-width: 767px) {
      margin-left: 0;
      width: 100%;
      margin-top: 15px;
    }
  }
}

.advance-mode-wrap {
  max-width: 750px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &.active {
    height: auto;
    margin: 42px 0 0;
    display: block;
  }
  textarea {
    width: 100%;
    max-width: 100%;
    height: 160px;
    resize: none;
  }
}

//=== Theme Store
//
.theme-store-wrap {
  background: #fff;
  padding: 40px 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
  @media (max-width: 767px) {
    padding: 30px 20px;
  }
  > h2 {
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #344c67;
    line-height: 1.3em;
  }
  > p {
    color: #768494;
  }
  > h3 {
    margin: 36px 0 50px;
    font-size: 18px;
    font-weight: bold;
    color: $color_text;
  }
}

.popular-block-wrap {
  position: relative;
  padding-left: 186px;
  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.popular-block-title {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 0;
  .popular-block {
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 767px) {
    position: initial;
    margin-bottom: 20px;
    display: block;
  }
}
.popular-block {
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-right: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.icon-block-wrap {
  display: inline-block;
  width: 100px;
  text-align: center;
  .icon-block {
    background: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    width: 100px;
    height: 100px;
    border: 1px solid $color_border_base;
    border-radius: 4px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .ars-checked {
    padding-left: 20px;
  }
}
.theme-store-btn-wrap {
  margin: 40px 0 0;
}

.theme-store-wrap .popular-block {
  position: relative;
}

.theme-store-wrap .popular-block .tooltip {
  display: none;
  position: absolute;
  top: -2px;
  left: calc(100% + 4px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

.theme-store-wrap .tooltip .ars-btn {
  margin: 8px 0 0;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  background: #f53663;
  width: 100%;
  height: 30px;
  line-height: 28px;
  white-space: nowrap;
}

.theme-store-wrap .popular-block:hover .tooltip {
  display: block;
}

.theme-store-wrap .popular-block.disabled label {
  opacity: 0.5;
}

.theme-store-wrap > h2 {
  position: relative;
}
.theme-store-wrap > h2 .tooltip {
  display: none;
  top: -38px;
  left: 182px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
.theme-store-wrap.disabled .ctn-theme-store-wrap {
  opacity: 0.5;
}
.ctn-theme-store-wrap {
  > h3 {
    margin: 40px 0 60px;
    font-size: 18px;
    font-weight: 700;
  }
}

.theme-store-wrap:hover > h2 .tooltip {
  display: block;
}

.general-setting-block .except-keyword-setting .tooltip {
  display: none;
  top: 8px;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
.general-setting-block .except-keyword-setting:hover .tooltip {
  display: block;
}
.except-keyword-setting > p {
  position: relative;
}

.general-setting-block .except-keyword-setting .tooltip .ars-btn {
  margin: 8px 0 0;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  background: #f53663;
  width: 100%;
  height: 30px;
  line-height: 28px;
  white-space: nowrap;
}

.customize-style-wrap.disabled .ctn-customize-style-wrap {
  opacity: 0.5;
}
.customize-style-wrap > h2 {
  position: relative;
}
.customize-style-wrap > h2 .tooltip {
  display: none;
  top: -38px;
  left: 250px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
  @media (max-width: 767px) {
    left: 0;
  }
}
.customize-style-wrap .tooltip .ars-btn {
  margin: 8px 0 0;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  background: #f53663;
  width: 100%;
  height: 30px;
  line-height: 28px;
  white-space: nowrap;
}
.customize-style-wrap:hover .tooltip {
  display: block;
}

.ctn-customize-style-wrap {
  > h3 {
    margin: 40px 0 0;
    font-size: 18px;
    font-weight: 700;
  }
}

.delete-reviews-wrap {
  margin: 20px 0;
  p {
    margin: 0;
    font-size: $font_size_base;
    font-weight: 600;
    text-align: center;
  }
}
.delete-reviews-btn-wrap {
  margin: 50px 0 0;
  text-align: center;
  .ars-btn {
    margin-right: 8px;
    vertical-align: middle;
  }
  .ars-btn-o {
    vertical-align: middle;
  }
}

.default-review-wrap .tooltip {
  display: none;
  top: -38px;
  left: 250px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
.default-review-wrap .tooltip .ars-btn {
  margin: 8px 0 0;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  background: #f53663;
  width: 100%;
  height: 30px;
  line-height: 28px;
  white-space: nowrap;
}
.default-review-wrap:hover .tooltip {
  display: block;
}
