.wrapper-content {
    overflow: hidden;
    padding-left: 260px;
    background-color: #f0f0f7;
    min-height: 960px;
    height: 100%;
    width: 100%;
    padding-bottom: 75px;
    position: relative;

    .wrapper-space {
        margin: auto;
        margin-top: 25px;
        max-width: 1170px;

        &--45 {
            padding: 45px 75px;
        }

        &.bg-white {
            box-shadow: 1px 1px 3px #dadada;
        }

        &__45 {
            padding-left: 75px;
            padding-right: 75px;
        }

        @media (max-width: 1440px){
            &__20 {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .wrapper-content {
        min-height: 735px;
    }
}

  .w-105px {
      width: 105px !important;
  }
