.#{$prefix}-clearfix {
	clear: both;
}

.#{$prefix}-pull-right {
	float: right !important;
}

.#{$prefix}-pull-left {
	float: left !important;
}

.#{$prefix}-padding {
	padding: 15px;
}

.#{$prefix}-margin {
	margin: 15px;
}

.#{$prefix}-bg-fixed {
    background-attachment: fixed;
}

.#{$prefix}-rounded-0 {
	border-radius: 0;
}

.#{$prefix}-rounded {
	border-radius: 10px !important;
}

.#{$prefix}-border-0 {
	border: 0 !important;
}

.#{$prefix}-border-top-0 {
	border-top: 0 !important;
}

.#{$prefix}-border-left-0 {
	border-left: 0 !important;
}

.#{$prefix}-border-right-0 {
	border-right: 0 !important;
}

.#{$prefix}-border-bottom-0 {
	border-bottom: 0 !important;
}

.#{$prefix}-shadow {
	box-shadow: $box_shadow;
}

.#{$prefix}-fz9 {
	font-size: 9px !important;
}

.#{$prefix}-fz11 {
	font-size: 11px !important;
}

.#{$prefix}-fz12 {
	font-size: 11px !important;
}

.#{$prefix}-fz13 {
	font-size: 13px !important;
}

.#{$prefix}-fz17 {
	font-size: 17px !important;
}

.#{$prefix}-fz19 {
	font-size: 19px !important;
}

.#{$prefix}-fz25 {
	font-size: 25px !important;
}

.#{$prefix}-fw300 {
	font-weight: 300 !important;
}

.#{$prefix}-fw400 {
	font-weight: 400 !important;
}

.#{$prefix}-fw500 {
	font-weight: 500 !important;
}

.#{$prefix}-fw600 {
	font-weight: 600 !important;
}

.#{$prefix}-fw700 {
	font-weight: 700 !important;
}

.#{$prefix}-w60 {
	width: 60px;
}

.#{$prefix}-w80 {
	width: 80px;
}

.#{$prefix}-w90 {
	width: 90px;
}

.#{$prefix}-w100 {
	width: 100px;
}

.#{$prefix}-text-center {
	text-align: center;
}

.#{$prefix}-text-left {
	text-align: left;
}

.#{$prefix}-text-right {
	text-align: right;
}

.m-0 {
	margin: 0 !important;
}
.mr-50 {
	margin-right: 50px !important;
}

@for $i from 0 to 10 {
  .mt-#{$i * 5} {
		margin-top: #{$i * 5}px !important;
	}
}

@for $i from 0 to 10 {
  .mb-#{$i * 5} {
		margin-bottom: #{$i * 5}px !important;
	}
}

@for $i from 0 to 10 {
  .mr-#{$i * 5} {
		margin-right: #{$i * 5}px !important;
	}
}

@for $i from 0 to 10 {
  .ml-#{$i * 5} {
		margin-left: #{$i * 5}px !important;
	}
}

@for $i from 0 to 10 {
  .par-#{$i * 5} {
		padding-right: #{$i * 5}px !important;
	}
}

@for $i from 0 to 10 {
  .pal-#{$i * 5} {
		padding-left: #{$i * 5}px !important;
	}
}

.text-overflow-1 {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-overflow-2 {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-overflow-3 {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: $secondary;

	&:hover {
		text-decoration: underline;
	}
}

.#{$prefix}-hidden {
	display: none !important;
}

.vertical-middle {
	vertical-align: middle;
}

.#{$prefix}-blocked {
	user-select: none;
	pointer-events: none;
	opacity: 0.7;
}