.#{$prefix}-checkbox-wrap {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 11px;
  user-select: none;
  width: 18px;
  font-size: 13px;
  font-weight: 400;
}

.#{$prefix}-checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.#{$prefix}-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: solid 1px #eee;
  border-radius: 4px;
  background-color: #e0dddd;
}

.#{$prefix}-checkbox-wrap:hover input ~ .#{$prefix}-checkbox__checkmark {
  background-color: $checkbox_background_hover;
}

.#{$prefix}-checkbox-wrap input:checked ~ .#{$prefix}-checkbox__checkmark {
  background-color: $checkbox_background;
  border: solid 1px $checkbox_background;
}

.#{$prefix}-checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.#{$prefix}-checkbox-wrap input:checked ~ .#{$prefix}-checkbox__checkmark:after {
  display: block;
}

.#{$prefix}-checkbox-wrap .#{$prefix}-checkbox__checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}