.modal-backdrop {
    background-color: rgba(21, 29, 39, 0.8) !important;
}

.eAlrv-modal.show,
.ali-modal.show,
.modal-backdrop.show {
    opacity: 1 !important;
    display: block !important;
}

.eAlrv-modal {
    .modal-dialog {
    }

    .modal-header {
        .close { 
           right: 10px;
           top: 5px;
        }
    }

    .modal-body {
        padding: 30px;
        padding-top: 0;
    }

    .eAlrv-modal-footer {
        display: flex;
        margin: 35px -30px -30px -30px;
        border-radius: 0px 0px 6px 6px;
        overflow: hidden;
        border-top: solid 1px #E9E9F0;

        button {
            flex: 1;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            border: none;
            background-color: transparent;
            font-weight: 500;
            color: #242539;
            outline: none !important;
            height: 44px;
            border-right: solid 1px #E9E9F0;

            &:last-child {
                border-right: none;
            }
        }

        button[type="submit"] {
            color: #7009FF;
        }

        button.active {
            background-color: rgba(112, 9, 255, 1);
            color: #fff;
        }

        button:hover {
            background-color: rgba(112, 9, 255, 0.9);
            color: #fff;
        }

        button:active {
            background-color: rgba(112, 9, 255, 0.95);
            color: #fff;
        }
    }
}

.eAlrv-modal {
    margin: auto;
    transform: translateY(0%) !important;
    padding: 90px 0 !important;

    .modal-content {
        margin: auto !important;
    }

    .modal-body {
        font-size: 13px;
    }

    input, select {
        padding: 5px 8px;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        color: inherit;
        cursor: text;
        border: none;
        border-bottom: solid 1px #E9E9F0;
        transition: 0.15s;

        &:focus {
            border-color: $purple;
        }
    }
}

@media only screen and (min-width: 769px) {
    .eAlrv-modal {
        .modal-dialog {
            padding: 30px auto;
        }
    }
}