.#{$prefix}-radio-wrap {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    user-select: none;

    input {
        height: 0;
    }
}

.#{$prefix}-radio-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.#{$prefix}-radio__checkmark {
    display: inline-block;
    position: relative;
    height: 14px;
    width: 14px;
    // background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #E6E7EF;
    margin: 3px;
    margin-right: 10px;
}

.#{$prefix}-radio-wrap:hover .#{$prefix}-radio__checkmark {
    box-shadow: 0px 0px 0px 3px $radio_border_hover;
}

.#{$prefix}-radio-wrap input:checked ~ .#{$prefix}-radio__checkmark {
    box-shadow: 0px 0px 0px 3px $radio_border;
}

.#{$prefix}-radio__checkmark:after {
    content: "";
    position: absolute;
}

.#{$prefix}-radio-wrap input:checked ~ .#{$prefix}-radio__checkmark:after {
    background-color: $radio_tick;
    width: 10px;
    height: 10px;
}

.#{$prefix}-radio-wrap .#{$prefix}-radio__checkmark:after {
 	top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;	
    transition: 0.1s;
}