@-webkit-keyframes bounceInLeftSidebar {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(11px);
	}
}

@-moz-keyframes bounceInLeftSidebar {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(11px);
	}
}

@-o-keyframes bounceInLeftSidebar {
	0% {
		-o-transform: translateX(0);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(11px);
	}
}

@keyframes bounceInLeftSidebar {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 1;
		transform: translateX(11px);
	}
}


@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-800px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-800px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-800px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}

	100% {
		transform: translateX(0);
	}
}

//=====================================================================

.animated.bounceInTopLeft {
	-webkit-animation-name: bounceInTopLeft;
	-moz-animation-name: bounceInTopLeft;
	-o-animation-name: bounceInTopLeft;
	animation-name: bounceInTopLeft;
}


@-webkit-keyframes bounceInTopLeft {
	0% {
		opacity: 0;
		transform: translate(-200px, -200px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@-moz-keyframes bounceInTopLeft {
	0% {
		opacity: 0;
		transform: translate(-200px, -200px);
	}

	100% {
		transform: translate(0, 0);
	}
}
@-o-keyframes bounceInTopLeft {
	0% {
		opacity: 0;
		transform: translate(-200px, -200px);
	}

	100% {
		transform: translate(0, 0);
	}
}
@keyframes bounceInTopLeft {
	0% {
		opacity: 0;
		transform: translate(-200px, -200px);
	}

	100% {
		transform: translate(0, 0);
	}
}

//=====================================================================

.animated.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(400px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(400px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(400px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(400px);
	}

	100% {
		transform: translateY(0);
	}
}

//===========================================================

.animated.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    -moz-animation-name: lightSpeedIn;
    -o-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.animated.lightSpeedIn {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@-webkit-keyframes lightSpeedIn {
	0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-moz-keyframes lightSpeedIn {
	0% { -moz-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -moz-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -moz-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -moz-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-o-keyframes lightSpeedIn {
	0% { -o-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -o-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -o-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -o-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@keyframes lightSpeedIn {
	0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

//===================================================
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

//==========================================================

.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(800px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(800px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(800px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(800px);
	}

	100% {
		transform: translateX(0);
	}
}

//=====================================================

.animated.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50%);
	}

	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}

	80% {
		-moz-transform: translateY(-10px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		// -o-transform: translateY(-2000px);
		-o-transform: translateY(-50%);
	}

	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}

	80% {
		-o-transform: translateY(-10px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	60% {
		opacity: 1;
		transform: translateY(30px);
	}

	80% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

//=====================================================

.animated.bounceDown {
	-webkit-animation-name: bounceDown;
	-moz-animation-name: bounceDown;
	-o-animation-name: bounceDown;
	animation-name: bounceDown;
}

@-webkit-keyframes bounceDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}

	/* 60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	} */

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50%);
	}

	/* 60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	} */

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceDown {
	0% {
		opacity: 0;
		// -o-transform: translateY(-2000px);
		-o-transform: translateY(-50%);
	}

	/* 60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(10px);
	} */

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceDown {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	/* 60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	} */

	100% {
		transform: translateY(0);
	}
}

