@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?33333519');
  src: url('../fonts/fontello.eot?33333519#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?33333519') format('woff2'),
       url('../fonts/fontello.woff?33333519') format('woff'),
       url('../fonts/fontello.ttf?33333519') format('truetype'),
       url('../fonts/fontello.svg?33333519#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?33333519#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-user-add:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-video:before { content: '\e80b'; } /* '' */
.icon-layout:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-cancel-squared:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-plus-circled:before { content: '\e813'; } /* '' */
.icon-plus-squared:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-minus-circled:before { content: '\e816'; } /* '' */
.icon-minus-squared:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-lock:before { content: '\e819'; } /* '' */
.icon-attach:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-eye:before { content: '\e81c'; } /* '' */
.icon-tag:before { content: '\e81d'; } /* '' */
.icon-bookmark:before { content: '\e81e'; } /* '' */
.icon-thumbs-up:before { content: '\e81f'; } /* '' */
.icon-flag:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\e821'; } /* '' */
.icon-download:before { content: '\e822'; } /* '' */
.icon-upload:before { content: '\e823'; } /* '' */
.icon-upload-cloud:before { content: '\e824'; } /* '' */
.icon-reply:before { content: '\e825'; } /* '' */
.icon-reply-all:before { content: '\e826'; } /* '' */
.icon-forward:before { content: '\e827'; } /* '' */
.icon-quote:before { content: '\e828'; } /* '' */
.icon-pencil:before { content: '\e829'; } /* '' */
.icon-retweet:before { content: '\e82a'; } /* '' */
.icon-chat:before { content: '\e82b'; } /* '' */
.icon-bell:before { content: '\e82c'; } /* '' */
.icon-attention:before { content: '\e82d'; } /* '' */
.icon-trash:before { content: '\e82e'; } /* '' */
.icon-folder:before { content: '\e82f'; } /* '' */
.icon-box:before { content: '\e830'; } /* '' */
.icon-phone:before { content: '\e831'; } /* '' */
.icon-rss:before { content: '\e832'; } /* '' */
.icon-share:before { content: '\e833'; } /* '' */
.icon-basket:before { content: '\e834'; } /* '' */
.icon-bag:before { content: '\e835'; } /* '' */
.icon-calendar:before { content: '\e836'; } /* '' */
.icon-login:before { content: '\e837'; } /* '' */
.icon-logout:before { content: '\e838'; } /* '' */
.icon-mute:before { content: '\e839'; } /* '' */
.icon-sound:before { content: '\e83a'; } /* '' */
.icon-clock:before { content: '\e83b'; } /* '' */
.icon-hourglass:before { content: '\e83c'; } /* '' */
.icon-publish:before { content: '\e83d'; } /* '' */
.icon-arrow-combo:before { content: '\e83e'; } /* '' */
.icon-down-circled:before { content: '\e83f'; } /* '' */
.icon-left-circled:before { content: '\e840'; } /* '' */
.icon-right-circled:before { content: '\e841'; } /* '' */
.icon-up-circled:before { content: '\e842'; } /* '' */
.icon-down-open:before { content: '\e843'; } /* '' */
.icon-left-open:before { content: '\e844'; } /* '' */
.icon-right-open:before { content: '\e845'; } /* '' */
.icon-up-open:before { content: '\e846'; } /* '' */
.icon-down-open-mini:before { content: '\e847'; } /* '' */
.icon-left-open-mini:before { content: '\e848'; } /* '' */
.icon-right-open-mini:before { content: '\e849'; } /* '' */
.icon-up-open-mini:before { content: '\e84a'; } /* '' */
.icon-down-open-big:before { content: '\e84b'; } /* '' */
.icon-left-open-big:before { content: '\e84c'; } /* '' */
.icon-right-open-big:before { content: '\e84d'; } /* '' */
.icon-up-open-big:before { content: '\e84e'; } /* '' */
.icon-down:before { content: '\e84f'; } /* '' */
.icon-left:before { content: '\e850'; } /* '' */
.icon-right:before { content: '\e851'; } /* '' */
.icon-up:before { content: '\e852'; } /* '' */
.icon-down-dir:before { content: '\e853'; } /* '' */
.icon-left-dir:before { content: '\e854'; } /* '' */
.icon-right-dir:before { content: '\e855'; } /* '' */
.icon-up-dir:before { content: '\e856'; } /* '' */
.icon-down-bold:before { content: '\e857'; } /* '' */
.icon-left-bold:before { content: '\e858'; } /* '' */
.icon-right-bold:before { content: '\e859'; } /* '' */
.icon-up-bold:before { content: '\e85a'; } /* '' */
.icon-down-thin:before { content: '\e85b'; } /* '' */
.icon-left-thin:before { content: '\e85c'; } /* '' */
.icon-right-thin:before { content: '\e85d'; } /* '' */
.icon-up-thin:before { content: '\e85e'; } /* '' */
.icon-ccw:before { content: '\e85f'; } /* '' */
.icon-cw:before { content: '\e860'; } /* '' */
.icon-arrows-ccw:before { content: '\e861'; } /* '' */
.icon-level-down:before { content: '\e862'; } /* '' */
.icon-level-up:before { content: '\e863'; } /* '' */
.icon-shuffle:before { content: '\e864'; } /* '' */
.icon-loop:before { content: '\e865'; } /* '' */
.icon-switch:before { content: '\e866'; } /* '' */
.icon-play:before { content: '\e867'; } /* '' */
.icon-stop:before { content: '\e868'; } /* '' */
.icon-pause:before { content: '\e869'; } /* '' */
.icon-to-end:before { content: '\e86a'; } /* '' */
.icon-to-start:before { content: '\e86b'; } /* '' */
.icon-fast-forward:before { content: '\e86c'; } /* '' */
.icon-fast-backward:before { content: '\e86d'; } /* '' */
.icon-trophy:before { content: '\e86e'; } /* '' */
.icon-lamp:before { content: '\e86f'; } /* '' */
.icon-compass:before { content: '\e870'; } /* '' */
.icon-cog:before { content: '\e871'; } /* '' */
.icon-adjust:before { content: '\e872'; } /* '' */
.icon-light-up:before { content: '\e873'; } /* '' */
.icon-light-down:before { content: '\e874'; } /* '' */
.icon-globe:before { content: '\e875'; } /* '' */
.icon-monitor:before { content: '\e876'; } /* '' */
.icon-back-in-time:before { content: '\e877'; } /* '' */
.icon-battery:before { content: '\e878'; } /* '' */
.icon-mobile:before { content: '\e879'; } /* '' */
.icon-install:before { content: '\e87a'; } /* '' */
.icon-cloud:before { content: '\e87b'; } /* '' */
.icon-cloud-thunder:before { content: '\e87c'; } /* '' */
.icon-flash:before { content: '\e87d'; } /* '' */
.icon-moon:before { content: '\e87e'; } /* '' */
.icon-flight:before { content: '\e87f'; } /* '' */
.icon-paper-plane:before { content: '\e880'; } /* '' */
.icon-leaf:before { content: '\e881'; } /* '' */
.icon-lifebuoy:before { content: '\e882'; } /* '' */
.icon-mouse:before { content: '\e883'; } /* '' */
.icon-briefcase:before { content: '\e884'; } /* '' */
.icon-suitcase:before { content: '\e885'; } /* '' */
.icon-dot:before { content: '\e886'; } /* '' */
.icon-dot-2:before { content: '\e887'; } /* '' */
.icon-dot-3:before { content: '\e888'; } /* '' */
.icon-brush:before { content: '\e889'; } /* '' */
.icon-magnet:before { content: '\e88a'; } /* '' */
.icon-infinity:before { content: '\e88b'; } /* '' */
.icon-erase:before { content: '\e88c'; } /* '' */
.icon-chart-pie:before { content: '\e88d'; } /* '' */
.icon-chart-line:before { content: '\e88e'; } /* '' */
.icon-chart-bar:before { content: '\e88f'; } /* '' */
.icon-chart-area:before { content: '\e890'; } /* '' */
.icon-graduation-cap:before { content: '\e891'; } /* '' */
.icon-water:before { content: '\e892'; } /* '' */
.icon-droplet:before { content: '\e893'; } /* '' */
.icon-credit-card:before { content: '\e894'; } /* '' */
.icon-floppy:before { content: '\e895'; } /* '' */
.icon-clipboard:before { content: '\e896'; } /* '' */
.icon-megaphone:before { content: '\e897'; } /* '' */
.icon-database:before { content: '\e898'; } /* '' */
.icon-drive:before { content: '\e899'; } /* '' */
.icon-bucket:before { content: '\e89a'; } /* '' */
.icon-thermometer:before { content: '\e89b'; } /* '' */
.icon-key:before { content: '\e89c'; } /* '' */
.icon-flow-cascade:before { content: '\e89d'; } /* '' */
.icon-flow-line:before { content: '\e89e'; } /* '' */
.icon-flow-tree:before { content: '\e89f'; } /* '' */
.icon-flow-branch:before { content: '\e8a0'; } /* '' */
.icon-flow-parallel:before { content: '\e8a1'; } /* '' */
.icon-rocket:before { content: '\e8a2'; } /* '' */
.icon-gauge:before { content: '\e8a3'; } /* '' */
.icon-traffic-cone:before { content: '\e8a4'; } /* '' */
.icon-cc-nc:before { content: '\e8a5'; } /* '' */
.icon-link:before { content: '\e8a6'; } /* '' */
.icon-export:before { content: '\e8a7'; } /* '' */
.icon-feather:before { content: '\e8a8'; } /* '' */
.icon-print:before { content: '\e8a9'; } /* '' */
.icon-comment:before { content: '\e8aa'; } /* '' */
.icon-keyboard:before { content: '\e8ab'; } /* '' */
.icon-book-open:before { content: '\e8ac'; } /* '' */
.icon-newspaper:before { content: '\e8ad'; } /* '' */
.icon-doc-text-inv:before { content: '\e8ae'; } /* '' */
.icon-doc-text:before { content: '\e8af'; } /* '' */
.icon-doc-landscape:before { content: '\e8b0'; } /* '' */
.icon-docs:before { content: '\e8b1'; } /* '' */
.icon-mic:before { content: '\e8b2'; } /* '' */
.icon-doc:before { content: '\e8b3'; } /* '' */
.icon-code:before { content: '\e8b4'; } /* '' */
.icon-back:before { content: '\e8b5'; } /* '' */
.icon-map:before { content: '\e8b6'; } /* '' */
.icon-direction:before { content: '\e8b7'; } /* '' */
.icon-location:before { content: '\e8b8'; } /* '' */
.icon-address:before { content: '\e8b9'; } /* '' */
.icon-vcard:before { content: '\e8ba'; } /* '' */
.icon-alert:before { content: '\e8bb'; } /* '' */
.icon-tools:before { content: '\e8bc'; } /* '' */
.icon-shareable:before { content: '\e8bd'; } /* '' */
.icon-archive:before { content: '\e8be'; } /* '' */
.icon-resize-full:before { content: '\e8bf'; } /* '' */
.icon-resize-small:before { content: '\e8c0'; } /* '' */
.icon-star-1:before { content: '\e8c1'; } /* '' */
.icon-star-filled:before { content: '\e8c2'; } /* '' */
.icon-heart-1:before { content: '\e8c3'; } /* '' */
.icon-heart-filled:before { content: '\e8c4'; } /* '' */
.icon-mail-1:before { content: '\e8c5'; } /* '' */
.icon-search-1:before { content: '\e8c6'; } /* '' */
.icon-search-outline:before { content: '\e8c7'; } /* '' */
.icon-th-outline:before { content: '\e8c8'; } /* '' */
.icon-th:before { content: '\e8c9'; } /* '' */
.icon-th-large-outline:before { content: '\e8ca'; } /* '' */
.icon-th-list:before { content: '\e8cb'; } /* '' */
.icon-th-list-outline:before { content: '\e8cc'; } /* '' */
.icon-ok-outline:before { content: '\e8cd'; } /* '' */
.icon-ok:before { content: '\e8ce'; } /* '' */
.icon-cancel-outline:before { content: '\e8cf'; } /* '' */
.icon-cancel-1:before { content: '\e8d0'; } /* '' */
.icon-user-outline:before { content: '\e8d1'; } /* '' */
.icon-user-1:before { content: '\e8d2'; } /* '' */
.icon-users-outline:before { content: '\e8d3'; } /* '' */
.icon-user-add-outline:before { content: '\e8d4'; } /* '' */
.icon-user-add-1:before { content: '\e8d5'; } /* '' */
.icon-user-delete-outline:before { content: '\e8d6'; } /* '' */
.icon-user-delete:before { content: '\e8d7'; } /* '' */
.icon-cancel-alt:before { content: '\e8d8'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e8d9'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e8da'; } /* '' */
.icon-cancel-circled-1:before { content: '\e8db'; } /* '' */
.icon-plus-outline:before { content: '\e8dc'; } /* '' */
.icon-plus-1:before { content: '\e8dd'; } /* '' */
.icon-minus-outline:before { content: '\e8de'; } /* '' */
.icon-minus-1:before { content: '\e8df'; } /* '' */
.icon-home-outline:before { content: '\e8e0'; } /* '' */
.icon-home-1:before { content: '\e8e1'; } /* '' */
.icon-attach-1:before { content: '\e8e2'; } /* '' */
.icon-lock-1:before { content: '\e8e3'; } /* '' */
.icon-lock-filled:before { content: '\e8e4'; } /* '' */
.icon-lock-open-1:before { content: '\e8e5'; } /* '' */
.icon-lock-open-filled:before { content: '\e8e6'; } /* '' */
.icon-pin-outline:before { content: '\e8e7'; } /* '' */
.icon-pin:before { content: '\e8e8'; } /* '' */
.icon-tag-1:before { content: '\e8e9'; } /* '' */
.icon-eye-outline:before { content: '\e8ea'; } /* '' */
.icon-eye-1:before { content: '\e8eb'; } /* '' */
.icon-thumbs-up-1:before { content: '\e8ec'; } /* '' */
.icon-thumbs-down-1:before { content: '\e8ed'; } /* '' */
.icon-bell-1:before { content: '\e8ee'; } /* '' */
.icon-edit:before { content: '\e8ef'; } /* '' */
.icon-pen:before { content: '\e8f0'; } /* '' */
.icon-pencil-1:before { content: '\e8f1'; } /* '' */
.icon-feather-1:before { content: '\e8f2'; } /* '' */
.icon-picture-outline:before { content: '\e8f3'; } /* '' */
.icon-picture-1:before { content: '\e8f4'; } /* '' */
.icon-camera-outline:before { content: '\e8f5'; } /* '' */
.icon-camera-1:before { content: '\e8f6'; } /* '' */
.icon-th-large:before { content: '\e8f7'; } /* '' */
.icon-users-1:before { content: '\e8f8'; } /* '' */
.icon-music-outline:before { content: '\e8f9'; } /* '' */
.icon-music:before { content: '\e8fa'; } /* '' */
.icon-code-outline:before { content: '\e8fb'; } /* '' */
.icon-forward-1:before { content: '\e8fc'; } /* '' */
.icon-forward-outline:before { content: '\e8fd'; } /* '' */
.icon-reply-1:before { content: '\e8fe'; } /* '' */
.icon-reply-outline:before { content: '\e8ff'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e900'; } /* '' */
.icon-upload-1:before { content: '\e901'; } /* '' */
.icon-upload-outline:before { content: '\e902'; } /* '' */
.icon-download-1:before { content: '\e903'; } /* '' */
.icon-download-outline:before { content: '\e904'; } /* '' */
.icon-link-outline:before { content: '\e905'; } /* '' */
.icon-attach-outline:before { content: '\e906'; } /* '' */
.icon-link-1:before { content: '\e907'; } /* '' */
.icon-flag-filled:before { content: '\e908'; } /* '' */
.icon-flag-1:before { content: '\e909'; } /* '' */
.icon-bookmark-1:before { content: '\e90a'; } /* '' */
.icon-tags:before { content: '\e90b'; } /* '' */
.icon-chat-alt:before { content: '\e90c'; } /* '' */
.icon-chat-1:before { content: '\e90d'; } /* '' */
.icon-comment-1:before { content: '\e90e'; } /* '' */
.icon-attention-1:before { content: '\e90f'; } /* '' */
.icon-attention-filled:before { content: '\e910'; } /* '' */
.icon-warning-empty:before { content: '\e911'; } /* '' */
.icon-warning:before { content: '\e912'; } /* '' */
.icon-contacts:before { content: '\e913'; } /* '' */
.icon-vcard-1:before { content: '\e914'; } /* '' */
.icon-address-1:before { content: '\e915'; } /* '' */
.icon-location-outline:before { content: '\e916'; } /* '' */
.icon-gift:before { content: '\e917'; } /* '' */
.icon-picture-2:before { content: '\e918'; } /* '' */
.icon-bell-2:before { content: '\e919'; } /* '' */
.icon-volume-up:before { content: '\e91a'; } /* '' */
.icon-volume-down:before { content: '\e91b'; } /* '' */
.icon-volume-off:before { content: '\e91c'; } /* '' */
.icon-cog-1:before { content: '\e91d'; } /* '' */
.icon-globe-1:before { content: '\e91e'; } /* '' */
.icon-down-dir-1:before { content: '\e91f'; } /* '' */
.icon-up-dir-1:before { content: '\e920'; } /* '' */
.icon-left-dir-1:before { content: '\e921'; } /* '' */
.icon-right-dir-1:before { content: '\e922'; } /* '' */
.icon-heart-2:before { content: '\e923'; } /* '' */
.icon-heart-empty-1:before { content: '\e924'; } /* '' */
.icon-star-2:before { content: '\e925'; } /* '' */
.icon-star-empty-1:before { content: '\e926'; } /* '' */
.icon-star-half:before { content: '\e927'; } /* '' */
.icon-mail-2:before { content: '\e928'; } /* '' */
.icon-search-2:before { content: '\e929'; } /* '' */
.icon-pencil-2:before { content: '\e92a'; } /* '' */
.icon-edit-1:before { content: '\e92b'; } /* '' */
.icon-retweet-1:before { content: '\e92c'; } /* '' */
.icon-chat-2:before { content: '\e92d'; } /* '' */
.icon-comment-2:before { content: '\e92e'; } /* '' */
.icon-attention-2:before { content: '\e92f'; } /* '' */
.icon-attention-circled:before { content: '\e930'; } /* '' */
.icon-gift-1:before { content: '\e931'; } /* '' */
.icon-credit-card-1:before { content: '\e932'; } /* '' */
.icon-list:before { content: '\e933'; } /* '' */
.icon-down-small:before { content: '\e934'; } /* '' */
.icon-left-small:before { content: '\e935'; } /* '' */
.icon-right-small:before { content: '\e936'; } /* '' */
.icon-up-small:before { content: '\e937'; } /* '' */
.icon-left-open-outline:before { content: '\e938'; } /* '' */
.icon-left-open-1:before { content: '\e939'; } /* '' */
.icon-right-open-outline:before { content: '\e93a'; } /* '' */
.icon-right-open-1:before { content: '\e93b'; } /* '' */
.icon-down-2:before { content: '\e93c'; } /* '' */
.icon-left-2:before { content: '\e93d'; } /* '' */
.icon-right-2:before { content: '\e93e'; } /* '' */
.icon-up-2:before { content: '\e93f'; } /* '' */
.icon-down-outline:before { content: '\e940'; } /* '' */
.icon-left-outline:before { content: '\e941'; } /* '' */
.icon-right-outline:before { content: '\e942'; } /* '' */
.icon-up-outline:before { content: '\e943'; } /* '' */
.icon-arrows-cw:before { content: '\e944'; } /* '' */
.icon-cw-1:before { content: '\e945'; } /* '' */
.icon-loop-1:before { content: '\e946'; } /* '' */
.icon-loop-alt:before { content: '\e947'; } /* '' */
.icon-shuffle-1:before { content: '\e948'; } /* '' */
.icon-play-outline:before { content: '\e949'; } /* '' */
.icon-play-1:before { content: '\e94a'; } /* '' */
.icon-stopwatch:before { content: '\e94b'; } /* '' */
.icon-clock-1:before { content: '\e94c'; } /* '' */
.icon-cloud-sun:before { content: '\e94d'; } /* '' */
.icon-drizzle:before { content: '\e94e'; } /* '' */
.icon-gift-2:before { content: '\e94f'; } /* '' */
.icon-check-1:before { content: '\e950'; } /* '' */
.icon-dribbble-circled-1:before { content: '\e951'; } /* '' */
.icon-dribbble-1:before { content: '\e952'; } /* '' */
.icon-facebook-circled-1:before { content: '\e953'; } /* '' */
.icon-flickr-circled:before { content: '\e954'; } /* '' */
.icon-flickr:before { content: '\e955'; } /* '' */
.icon-facebook-1:before { content: '\e956'; } /* '' */
.icon-github-circled:before { content: '\e957'; } /* '' */
.icon-github:before { content: '\e958'; } /* '' */
.icon-lastfm-circled:before { content: '\e959'; } /* '' */
.icon-lastfm:before { content: '\e95a'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e95b'; } /* '' */
.icon-linkedin-1:before { content: '\e95c'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e95d'; } /* '' */
.icon-pinterest-1:before { content: '\e95e'; } /* '' */
.icon-skype-outline:before { content: '\e95f'; } /* '' */
.icon-skype-1:before { content: '\e960'; } /* '' */
.icon-tumbler-circled:before { content: '\e961'; } /* '' */
.icon-tumbler:before { content: '\e962'; } /* '' */
.icon-twitter-circled-1:before { content: '\e963'; } /* '' */
.icon-twitter-1:before { content: '\e964'; } /* '' */
.icon-vimeo-circled-1:before { content: '\e965'; } /* '' */
.icon-vimeo-1:before { content: '\e966'; } /* '' */
.icon-ok-circle:before { content: '\e967'; } /* '' */
.icon-ok-1:before { content: '\e968'; } /* '' */
.icon-cancel-2:before { content: '\e969'; } /* '' */
.icon-cancel-circle:before { content: '\e96a'; } /* '' */
.icon-user-2:before { content: '\e96b'; } /* '' */
.icon-home-2:before { content: '\e96c'; } /* '' */
.icon-undo:before { content: '\e96d'; } /* '' */
.icon-download-2:before { content: '\e96e'; } /* '' */
.icon-upload-2:before { content: '\e96f'; } /* '' */
.icon-quote-left:before { content: '\e970'; } /* '' */
.icon-quote-right:before { content: '\e971'; } /* '' */
.icon-quote-left-alt:before { content: '\e972'; } /* '' */
.icon-quote-right-alt:before { content: '\e973'; } /* '' */
.icon-chat-3:before { content: '\e974'; } /* '' */
.icon-chat-inv:before { content: '\e975'; } /* '' */
.icon-trash-1:before { content: '\e976'; } /* '' */
.icon-trash-empty:before { content: '\e977'; } /* '' */
.icon-th-1:before { content: '\e978'; } /* '' */
.icon-th-list-1:before { content: '\e979'; } /* '' */
.icon-ok-2:before { content: '\e97a'; } /* '' */
.icon-cancel-3:before { content: '\e97b'; } /* '' */
.icon-mail-3:before { content: '\e97c'; } /* '' */
.icon-search-3:before { content: '\e97d'; } /* '' */
.icon-star-empty-2:before { content: '\e97e'; } /* '' */
.icon-star-3:before { content: '\e97f'; } /* '' */
.icon-ok-3:before { content: '\e980'; } /* '' */
.icon-cancel-4:before { content: '\e981'; } /* '' */
.icon-plus-2:before { content: '\e982'; } /* '' */
.icon-stopwatch-1:before { content: '\e983'; } /* '' */
.icon-clock-2:before { content: '\e984'; } /* '' */
.icon-hourglass-1:before { content: '\e985'; } /* '' */
.icon-left-3:before { content: '\e986'; } /* '' */
.icon-right-3:before { content: '\e987'; } /* '' */
.icon-down-3:before { content: '\e988'; } /* '' */
.icon-up-3:before { content: '\e989'; } /* '' */
.icon-glass:before { content: '\e98a'; } /* '' */
.icon-mail-4:before { content: '\e98b'; } /* '' */
.icon-heart-3:before { content: '\e98c'; } /* '' */
.icon-heart-empty-2:before { content: '\e98d'; } /* '' */
.icon-group:before { content: '\e98e'; } /* '' */
.icon-video-chat:before { content: '\e98f'; } /* '' */
.icon-th-2:before { content: '\e990'; } /* '' */
.icon-th-list-3:before { content: '\e991'; } /* '' */
.icon-share-1:before { content: '\e992'; } /* '' */
.icon-edit-2:before { content: '\e993'; } /* '' */
.icon-comment-4:before { content: '\e994'; } /* '' */
.icon-comment-alt:before { content: '\e995'; } /* '' */
.icon-ok-4:before { content: '\e996'; } /* '' */
.icon-ok-circle-1:before { content: '\e997'; } /* '' */
.icon-link-2:before { content: '\e998'; } /* '' */
.icon-progress-0:before { content: '\e999'; } /* '' */
.icon-progress-1:before { content: '\e99a'; } /* '' */
.icon-progress-2:before { content: '\e99b'; } /* '' */
.icon-progress-3:before { content: '\e99c'; } /* '' */
.icon-progress-4:before { content: '\e99d'; } /* '' */
.icon-progress-5:before { content: '\e99e'; } /* '' */
.icon-progress-6:before { content: '\e99f'; } /* '' */
.icon-progress-7:before { content: '\e9a0'; } /* '' */
.icon-fire-1:before { content: '\e9a1'; } /* '' */
.icon-basket-1:before { content: '\e9a2'; } /* '' */
.icon-trash-2:before { content: '\e9a3'; } /* '' */
.icon-eye-2:before { content: '\e9a4'; } /* '' */
.icon-eye-off:before { content: '\e9a5'; } /* '' */
.icon-right-hand:before { content: '\e9a6'; } /* '' */
.icon-left-hand:before { content: '\e9a7'; } /* '' */
.icon-up-hand:before { content: '\e9a8'; } /* '' */
.icon-down-hand:before { content: '\e9a9'; } /* '' */
.icon-cog-2:before { content: '\e9aa'; } /* '' */
.icon-college:before { content: '\e9ab'; } /* '' */
.icon-flash-1:before { content: '\e9ac'; } /* '' */
.icon-edit-3:before { content: '\e9ad'; } /* '' */
.icon-googleplus:before { content: '\e9ae'; } /* '' */
.icon-tumblr-1:before { content: '\e9af'; } /* '' */
.icon-vimeo-2:before { content: '\e9b0'; } /* '' */
.icon-facebook-2:before { content: '\e9b1'; } /* '' */
.icon-flickr-1:before { content: '\e9b2'; } /* '' */
.icon-vkontakte:before { content: '\e9b3'; } /* '' */
.icon-twitter-2:before { content: '\e9b4'; } /* '' */
.icon-instagram-1:before { content: '\e9b5'; } /* '' */
.icon-linkedin-2:before { content: '\e9b6'; } /* '' */
.icon-path:before { content: '\e9b7'; } /* '' */
.icon-youtube:before { content: '\e9b8'; } /* '' */
.icon-vimeo-rect:before { content: '\e9b9'; } /* '' */
.icon-tumblr-rect:before { content: '\e9ba'; } /* '' */
.icon-googleplus-rect:before { content: '\e9bb'; } /* '' */
.icon-linkedin-rect:before { content: '\e9bc'; } /* '' */
.icon-vkontakte-rect:before { content: '\e9bd'; } /* '' */
.icon-youtube-1:before { content: '\e9be'; } /* '' */
.icon-clock-3:before { content: '\e9bf'; } /* '' */
.icon-lock-open-2:before { content: '\e9c0'; } /* '' */
.icon-signal:before { content: '\e9c1'; } /* '' */
.icon-twiter-05:before { content: '\e9c2'; } /* '' */
.icon-check-02:before { content: '\e9c3'; } /* '' */
.icon-check-03:before { content: '\e9c4'; } /* '' */
.icon-right-hand-1:before { content: '\e9c5'; } /* '' */
.icon-up-hand-1:before { content: '\e9c6'; } /* '' */
.icon-down-hand-1:before { content: '\e9c7'; } /* '' */
.icon-umbrella:before { content: '\e9c8'; } /* '' */
.icon-link-3:before { content: '\e9c9'; } /* '' */
.icon-attach-2:before { content: '\e9ca'; } /* '' */
.icon-eye-3:before { content: '\e9cb'; } /* '' */
.icon-eye-off-1:before { content: '\e9cc'; } /* '' */
.icon-cancel-circled-3:before { content: '\e9cd'; } /* '' */
.icon-cancel-circled2:before { content: '\e9ce'; } /* '' */
.icon-clock-4:before { content: '\e9cf'; } /* '' */
.icon-align-right:before { content: '\e9d0'; } /* '' */
.icon-align-center:before { content: '\e9d1'; } /* '' */
.icon-align-left:before { content: '\e9d2'; } /* '' */
.icon-key-1:before { content: '\e9d3'; } /* '' */
.icon-info:before { content: '\e9d4'; } /* '' */
.icon-help-circled:before { content: '\e9d5'; } /* '' */
.icon-help:before { content: '\e9d6'; } /* '' */
.icon-info-1:before { content: '\e9d7'; } /* '' */
.icon-phone-outline:before { content: '\e9d8'; } /* '' */
.icon-phone-1:before { content: '\e9d9'; } /* '' */
.icon-volume-low:before { content: '\e9da'; } /* '' */
.icon-volume-middle:before { content: '\e9db'; } /* '' */
.icon-volume-high:before { content: '\e9dc'; } /* '' */
.icon-headphones:before { content: '\e9dd'; } /* '' */
.icon-trash-3:before { content: '\e9de'; } /* '' */
.icon-power:before { content: '\e9df'; } /* '' */
.icon-check-outline:before { content: '\e9e0'; } /* '' */
.icon-key-outline:before { content: '\e9e1'; } /* '' */
.icon-key-2:before { content: '\e9e2'; } /* '' */
.icon-volume-off-1:before { content: '\e9e3'; } /* '' */
.icon-volume-down-1:before { content: '\e9e4'; } /* '' */
.icon-volume-up-1:before { content: '\e9e5'; } /* '' */
.icon-bullhorn:before { content: '\e9e6'; } /* '' */
.icon-clock-alt:before { content: '\e9e7'; } /* '' */
.icon-cancel-circle-1:before { content: '\e9e8'; } /* '' */
.icon-shop:before { content: '\e9e9'; } /* '' */
.icon-trash-4:before { content: '\e9ea'; } /* '' */
.icon-align-right-1:before { content: '\e9eb'; } /* '' */
.icon-align-center-1:before { content: '\e9ec'; } /* '' */
.icon-align-left-1:before { content: '\e9ed'; } /* '' */
.icon-align-justify:before { content: '\e9ee'; } /* '' */
.icon-heart-4:before { content: '\e9ef'; } /* '' */
.icon-star-4:before { content: '\e9f0'; } /* '' */
.icon-search-5:before { content: '\e9f1'; } /* '' */
.icon-mail-5:before { content: '\e9f2'; } /* '' */
.icon-attach-4:before { content: '\e9f3'; } /* '' */
.icon-lock-3:before { content: '\e9f4'; } /* '' */
.icon-pencil-3:before { content: '\e9f5'; } /* '' */
.icon-thumbs-up-2:before { content: '\e9f6'; } /* '' */
.icon-comment-5:before { content: '\e9f7'; } /* '' */
.icon-cup:before { content: '\e9f8'; } /* '' */
.icon-trash-5:before { content: '\e9f9'; } /* '' */
.icon-doc-1:before { content: '\e9fa'; } /* '' */
.icon-note:before { content: '\e9fb'; } /* '' */
.icon-paper-plane-2:before { content: '\e9fc'; } /* '' */
.icon-fire-2:before { content: '\e9fd'; } /* '' */
.icon-key-3:before { content: '\e9fe'; } /* '' */
.icon-truck:before { content: '\e9ff'; } /* '' */
.icon-beaker:before { content: '\ea00'; } /* '' */
.icon-shop-1:before { content: '\ea01'; } /* '' */
.icon-diamond:before { content: '\ea02'; } /* '' */
.icon-t-shirt:before { content: '\ea03'; } /* '' */
.icon-videocam:before { content: '\ea04'; } /* '' */
.icon-sound-1:before { content: '\ea05'; } /* '' */
.icon-photo:before { content: '\ea06'; } /* '' */
.icon-move-1:before { content: '\ea07'; } /* '' */
.icon-move-2:before { content: '\ea08'; } /* '' */
.icon-basket-2:before { content: '\ea09'; } /* '' */
.icon-basket-alt:before { content: '\ea0a'; } /* '' */
.icon-brush-alt:before { content: '\ea0b'; } /* '' */
.icon-brush-1:before { content: '\ea0c'; } /* '' */
.icon-pencil-alt:before { content: '\ea0d'; } /* '' */
.icon-move-3:before { content: '\ea0e'; } /* '' */
.icon-lightbulb-1:before { content: '\ea0f'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list-2:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-upload-cloud-1:before { content: '\f014'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-star-half-1:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-reply-2:before { content: '\f02a'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-chat-4:before { content: '\f03d'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-gplus-2:before { content: '\f05a'; } /* '' */
.icon-attach-3:before { content: '\f06a'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-2:before { content: '\f06e'; } /* '' */
.icon-link-4:before { content: '\f07b'; } /* '' */
.icon-export-1:before { content: '\f081'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic-1:before { content: '\f130'; } /* '' */
.icon-mute-1:before { content: '\f131'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-down-1:before { content: '\f175'; } /* '' */
.icon-up-1:before { content: '\f176'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-graduation-cap-1:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-lifebuoy-1:before { content: '\f1cd'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-share-2:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-opera:before { content: '\f26a'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-vimeo-3:before { content: '\f27d'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-skype-2:before { content: '\f30b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-comment-3:before { content: '\f4ac'; } /* '' */
.icon-search-4:before { content: '\f50d'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock-2:before { content: '\f512'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
