$prefix: "alrv";
$time-transition: .3s;
$light-red: #FF881B;
$light-red-hvr: #EA6F00;
$purple: #FF881B;
$blue: #242538;
$dark-blue: #242539;
$dark-gray: #333333;
$white: #fff;
$orange-default: #FF881B;
$color-text: #242539;
$color-error: #F94C4E;
$orange-hover: #EA6F00;
// ------------------------------------

$header-zindex: 1030;
$main-sidebar-zindex: 1020;
$blind-zindex: 1010;

// layout
$sidebar-main: #242539;