//== Get started
//
@import '../variables';

.background-macbook-wrap {
	margin: 40px 0 0;
}
.get-started-wrap {
	background: #FFF;
	padding: 40px 50px;
	border: 1px solid $color_border_base;
	border-radius: 4px;
	@media (max-width: 767px) {
		padding: 30px 20px;
	}
	> h2 {
		margin: 0 0 20px;
		font-size: 24px;
		font-weight: 600;
		color: $color_text;
	}
	> p {
		margin: 0;
		line-height: 1.8em;
		color: #768494;
	}
	> img {
		max-width: 100%;
	}
}
.macbook-wrap {
	position: relative;
	text-align: center;
}
.get-start-background-image {
	position: relative;
	display: inline-block;
	text-align: center;
	img {
		max-width: 100%;
	}
}

.get-start-demo-image {
	img {
		display: none;
		width: 100%;
	}
}

.slider-get-start-wrap {
	@media (min-width: 1366px) {
		padding-top: 20%;
	}
	// padding-top: 10%;
	margin: 0 auto;
	@media (min-width: 1600px) {
		width: 90%;
	}
}
.dg-center {
	.get-start-step-icon {
		width: 86px;
		height: 86px;
		margin-top: -46px;
		&::before {
			width: 80px;
			height: 80px;
		}
	}
	.get-start-step {
		h2 {
			font-size: 20px;
			font-weight: 700;
		}
		p {
			font-size: 14px;
			line-height: 2em;
		}
	}
}
.get-start-step {
	h2 {
		font-size: 14px;
		font-weight: 700;
	}
	p {
		font-size: 12px;
		line-height: 1.7em;
	}
}
.get-start-step-icon {
	position: relative;
	width: 76px;
	height: 76px;
	background: #FFF;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -40px;
	box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
	font-size: 12px;
	text-align: center;
	transition: all 0.4 ease-in-out;
	* {
		color: $color_text;
	}
	&::before {
		content: '';
		display: block;
		width: 70px;
		height: 70px;
		background: $color_skin;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: 3px;
	}
	img {
		position: relative;
		display: inline-block;
	}
}

.popup-get-start {
	cursor: pointer;
}

#modalPopupGetStart {
	.modal-dialog {
		width: 80%;
		@media (max-width: 1366px) {
			width: 94%;
		}
		.modal-body {
			img {
				max-width: 100%;
			}
		}
	}
}