//== Review Approve
//
@import '../variables';

.reviews-approve-wrap {

}

.review-approve-action {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.select-all-review-wrap {
	float: left;
	line-height: 40px;
	@media (max-width: 767px) {
		float: none;
		line-height: initial;
	}
	> label {
		line-height: initial;
	}
}

.review-action-wrap {
	float: right;
	font-size: 0;
	@media (max-width: 767px) {
		float: none;
		margin-top: 20px;
	}
}

.hide-all-btn,.approve-all-btn {
	margin-right: 20px;
	display: inline-block;
	background: $color_button_skin;
	padding-left: 28px;
	padding-right: 28px;
	height: 40px;
	line-height: 38px;
	border: 1px solid transparent;
	font-size: $font_size_base;
	color: #FFF;
	border-radius: 3px;
	&:hover, &:focus, &:active {
		color: #FFF;
		background: $color_skin;
	}
	@media (max-width: 767px) {
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
		height: 50px;
		line-height: 48px;
		text-align: center;
	}
}
.remove-all-btn {
	display: inline-block;
	background: #FFF;
	padding-left: 28px;
	padding-right: 28px;
	height: 40px;
	line-height: 38px;
	border: 1px solid #d2dce8;
	font-size: $font_size_base;
	color: $color_text;
	border-radius: 3px;
	&:hover {
		background: $color_skin;
		color: #FFF;
	}
	@media (max-width: 767px) {
		width: 100%;
		height: 50px;
		line-height: 48px;
		text-align: center;
	}
}

.delete-reviews-wrap {
	margin: 20px 0;
	p {
		margin: 0;
		font-size: $font_size_base;
		font-weight: 600;
		text-align: center;
	}
}
.delete-reviews-btn-wrap {
	margin: 50px 0 0;
	text-align: center;
	.ars-btn {
		margin-right: 8px;
		vertical-align: middle;
	}
	.ars-btn-o {
		vertical-align: middle;
	}
}

.review-approve-list {
	background: #FFF;
	margin: 30px 0 0;
	border-radius: 3px;
	border: 1px solid $color_border_base;
	overflow: hidden;
	.ars-table {
		@media (max-width: 767px) {
			display: block;
		}
	}
	.ars-table-head {
		@media (max-width: 767px) {
			display: none;
		}

	}
	.ars-table-body {
		@media (max-width: 767px) {
			display: block;
		}
		.ars-table-col {
			@media (max-width: 1199px) {
				vertical-align: initial;	
			}
		}
	}
	.ars-table-row {
		@media (max-width: 767px) {
			display: block;
			.col-appr-check {
				display: inline-block;
				border: none;
				vertical-align: top;
			}
			.col-appr-name {
				display: inline-block;
				max-width: calc(100% - 55px);
				border: none;
				padding-left: 7px;
			}
			.col-appr-review {
				display: block;
				width: 100%;
				padding-left: 60px;
				padding-top: 15px;
				border: none;
				max-width: 100%;
				p {
					margin-top: 10px;
					margin-bottom: 15px; 
					font-weight: 600;
				}
			}
			.col-appr-action {
				display: block;
				width: 100%;
				max-width: 100%;
			}
		}

	}
}

.col-appr-check {
	width: 50px;
	border-bottom: 1px solid $color_border_base;
	label {
		min-height: 20px;
		padding-left: 20px;
		
	}
	.appr-check-wrap {
		position: relative;
		width: 20px;
		@media (max-width: 1199px) {
			label {
				position: absolute;
				left: 0;
				top: 18px;
			}
		}
		@media (max-width: 767px) {
			label {
				position: initial;
			}
		}
	}
}
.col-appr-name {
	border-bottom: 1px solid $color_border_base;
	min-width: 200px;
	@media (max-width: 991px) {
		min-width: 170px;
		max-width: 190px;
	}
	.author-name {
		position: relative;
		padding-left: 50px;
		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
		p {
			margin: 0 0 2px;
			font-size: $font_size_base;
			color: $color_text;
		}
		span {
			position: relative;
			display: inline-block;
			color: #4a4f56;
			line-height: 1em;
			padding-left: 22px;
			img {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}
.col-appr-review {
	min-width: 400px;
	max-width: 480px;
	border-bottom: 1px solid $color_border_base;
	@media (max-width: 1199px) {
		width: auto;
		min-width: 170px;
		max-width: 190px;
		img {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin-left: 2px;
			margin-bottom: 5px;
			border-radius: 4px;
		}
	}
	p {
		margin: 10px 0;
	}
}
.col-appr-feedback {
	max-width: 300px;
	font-size: $font_size_base;
	font-weight: 600;
	color: $color_text;
	line-height: 1.6em;
	border-bottom: 1px solid $color_border_base;
	@media (max-width: 1199px) {
		display: none;
	}
}
.col-appr-photo {
	min-width: 108px;
	border-bottom: 1px solid $color_border_base;
	@media (max-width: 1199px) {
		display: none;
	}
	@media (max-width: 767px) {
		display: none;
	}
	img {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-left: 2px;
		margin-bottom: 5px;
		border-radius: 4px;
	}
}
.col-appr-product {
	min-width: 220px;
	max-width: 350px;
	font-size: $font_size_medium;
	font-weight: normal;
	line-height: 1.6em;
	border-bottom: 1px solid $color_border_base;
	@media (max-width: 1199px) {
		max-width: 200px;
	}
	@media (max-width: 1199px) {
		max-width: 180px;
	}
	@media (max-width: 767px) {
		display: none;
	}
}
.col-appr-product a{
	color: $color_text;
	&:hover {
		color: $color_skin;
	}
	&:focus, &:active {
		color: $color_skin;
	}
}
.col-appr-action {
	max-width: 224px;
	border-bottom: 1px solid $color_border_base;
	@media (max-width: 1199px) {
		width: 145px;
	}
}
.action-approve-remove {
	font-size: 0;
	.action-approve-btn {
		background: $color_button_skin;
		display: inline-block;
		// margin-right: 10px;
		width: 120px;
		height: 40px;
		border: none;
		border-radius: 3px;
		font-size: $font_size_base;
		font-weight: 400;
		color: #FFF;
		line-height: 38px;
		outline: none;
		text-align: center;
		vertical-align: middle;
		margin-right: 10px;
		@media (max-width: 1280px) {
			display: block;
			margin-bottom: 10px;
			margin-right: 0px;
			border-radius: 3px;
		}
		@media (max-width: 767px) {
			display: block;
			width: 100%;
			height: 50px;
			line-height: 48px;
			margin-right: 0px;
		}
		&:hover {
			color: #FFF;
			background: $color_skin;
		}
		&:focus, &:active {
			color: #FFF;
		} 
	}
	.action-remove-btn {
		background: #FFF;
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		height: 40px;
		border: 1px solid #d2dce8;
		border-radius: 3px;
		font-size: $font_size_base;
		font-weight: 400;
		color: $color_text;
		line-height: 38px;
		outline: none;
		text-align: center;
		vertical-align: middle;
		@media (max-width: 1280px) {
			display: block;
			border-radius: 3px;
			border: 1px solid #d2dce8;
		}
		@media (max-width: 767px) {
			display: block;
			width: 100%;
			height: 50px;
			line-height: 48px;
		}
		&:hover {
			background: $color_skin;
			border-color: transparent;
			color: #FFF;
		}
		&:focus, &:active {
			color: #FFF;
		}
		i {
			font-size: 18px;
			&:before {
				margin: 0;
			}
		}
	}
}