@import "variables";
@import "fontRatingStart";

[class^="alireview-icon-"]:before,
[class*="alireview-icon-"]:before {
  font-family: "alireview-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: 0.2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.alireview-icon-star:before {
  content: "\e800";
} /* '' */
.alireview-icon-star-empty:before {
  content: "\e801";
} /* '' */
$font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;

#review-widget-box {
  background: #fff;
  font-family: $font-family;
  width: 100%;
}

#review-widget-box .shop_info {
  color: #3a3a3a;
  border: 1px solid #ebebeb;
  padding: 50px 0 20px;
  font-size: 14px !important;
  @media (max-width: 767px) {
    padding-top: 10px;
  }
}

#review-widget-box .shop_info .customer-alireview {
  margin-bottom: 0;
}

.alireview-title {
  padding: 0 50px;
  height: 40px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
  }
}

.alireview-title .alireview-form-title {
  font-size: 24px;
  font-weight: 700;
  color: $color_number_style;
  border: none;
  padding: 10px 0;
  clear: both;
}

/*Alireview summary*/
.alireview-header-summary {
  clear: both;
  margin-bottom: 40px;
  padding: 0 50px;
  display: block;
  content: "\0020";
  overflow: hidden;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.reviewFormHead {
  padding: 0 50px;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.alireview-header-summary .alireview-btn-add-review {
  float: right;
}

.alireview-header-summary .alireview-summary {
  float: left;
}
.alireview-header-summary .alireview-summary .alireview-total-review {
  float: left;
  margin-left: 10px;
}

.alireview-header-summary
  .alireview-summary
  .alireview-total-review
  .c-rating__item {
  margin-bottom: 0;
}

.alireview-row {
  display: inline-block;
  border-top: 1px solid #eee;
  padding: 30px 50px 20px;
  width: 100%;
  clear: both;
  @media (max-width: 767px) {
    padding: 20px 15px 10px;
  }
}
.alireview-row:first-child {
  /*border-top: 0;*/
  /*padding-top: 0;*/
}

.alireview-row:last-child {
  // border-bottom: 1px solid #eee;
}

.alireview-thumbnail img.alireview-avatar {
  width: 70px;
  // border-radius: 5px;
  margin-bottom: 10px;
}

.alireview-thumbnail {
  float: left;
  width: 70px;
  margin: 0;
  border: none;
  text-align: left;
}

.alireview-status {
  /*display: inline-block;*/
  height: 24px;
}

.alireview-desc {
  width: calc(100% - 100px);
  float: right;
  position: relative;
  z-index: 1;
  text-align: left;
}

#review-widget-box .alireview-desc-content {
  text-align: left;
  margin-top: -5px;
}

#review-widget-box .alireview-desc-content header {
  display: inline-block !important;
}

#review-widget-box .alireview-thumbnail img.img-flags {
  width: 25px;
  height: 16px;
  float: left;
}

#review-widget-box .alireview-thumbnail .alireview-national-info {
  font-weight: bold;
  line-height: 16px;
}

#review-widget-box
  .alireview-thumbnail
  .alireview-national-info
  .alireview-flag {
  vertical-align: baseline;
}

#review-widget-box .alireview-thumbnail .alireview-national-info span {
  margin-left: 10px;
}

span.alireview-author {
  width: 100%;
  font-size: 15px !important;
  font-weight: 700;
}

time.alireview-date {
  float: right;
  color: #bfc9d1;
  // font-style: italic;
  font-size: 14px;
}

#add-alireview-star {
  list-style: none !important;
  display: inline-block;
}
#add-alireview-star .c-rating__item {
  margin-bottom: 0;
  height: 24px;
}
.alireview-total-review .alireview-star {
  width: 100%;
  margin-top: 12px;
}
.alireview-star {
  float: left;
  margin-right: 15px;
  list-style: none;
  margin-top: 3px;
}

#review-widget-box .rating-symbol {
  color: #faae0d;
}

.alireview-verified {
  display: inline-block;
  color: #4cb050;
  margin-right: 15px;
}

.alireview-verified img {
  vertical-align: middle;
  margin-top: -2px;
}

.alireview-post {
  margin-bottom: 20px;
}

.alireview-post p {
  font-family: $font-family;
  color: #3a3a3a;
  font-size: 14px;
}

.alireview-info-product .alireview-item {
  display: inline-block;
  margin-right: 20px;
  color: #798c9c;
}

.alireview-info-product label {
  float: left;
  color: #3a3a3a;
  font-size: 14px !important;
}

.alireview-product-img {
  margin-top: 15px;
  margin-bottom: 10px;
}

.alireview-product-img a {
  display: inline-block;
  border: none !important;
  margin: 10px 10px 0 0;
}

.alireview-product-img img {
  width: 58px;
  height: 58px;
  padding: 0;
  margin: 5px;
  -webkit-box-shadow: 3px 3px 2px #eee;
  -moz-box-shadow: 3px 3px 2px #eee;
  box-shadow: 3px 3px 2px #eee;
}

.alireview-add-form {
  text-align: left;
  margin-top: 20px;
}

form#add_form_review {
  float: none !important;
  border: 0 !important;
}

.reviewForm,
.reviewFormHead {
  display: none;
}

.alireview-add-form .alireview-form-title {
  font-size: 18px;
  font-weight: 600;
}

.alireview-add-form .alireview-form-group {
  margin-top: 25px;
}

.alireview-add-form .alireview-form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: none;
}

.alireview-add-form .alireview-form-group label.err {
  font-weight: normal;
  text-transform: none;
}
.alireview-add-form .alireview-form-group input[type="text"] {
  background: #fff;
}

.alireview-add-form .alireview-input-text,
.alireview-add-form .alireview-input-textarea,
.alireview-add-form input,
.alireview-add-form textarea {
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid #ccc !important;
  outline: none;
  margin: 3px 0;
  min-height: 40px !important;
  padding: 10px;
  border-radius: 0 !important;
  background: #fff !important;
}
.alireview-add-form .alireview-input-textarea {
  height: 120px;
}

.alireview-add-form .rating-symbol {
  font-size: 20px;
}

.alireview-add-form .btn-alireview-wrap {
  text-align: right;
  margin: 20px 0;
}

/******* STYLE FOR SMALL SCREEN *******/

#review-widget-box.review-widget-box-sm .alialireview-title {
  font-size: 14px;
}

// #review-widget-box.review-widget-box-sm .btn-add-alireview {
//     padding: 10px;
// }

#review-widget-box.review-widget-box-sm .alireview-thumbnail {
  width: 100%;
  position: relative;
  text-align: left;
}

#review-widget-box.review-widget-box-sm
  .alireview-thumbnail
  img.alireview-avatar {
  width: 60px;
  float: left;
  margin-right: 15px;
}

#review-widget-box.review-widget-box-sm .alireview-thumbnail .alireview-author {
  width: 100%;
  margin-top: 10px;
  font-size: 15px !important;
}

#review-widget-box.review-widget-box-sm
  .alireview-thumbnail
  .alireview-national-info {
  float: left;
  margin-top: 20px;
}

#review-widget-box.review-widget-box-sm .alireview-desc {
  width: 100%;
  text-align: left;
}

#review-widget-box.review-widget-box-sm .alireview-desc-content {
  padding: 0;
  text-align: left;
}

#review-widget-box.review-widget-box-sm .alireview-desc-content header {
  display: inline-block !important;
}

#review-widget-box.review-widget-box-sm time.alireview-date {
  width: 100%;
}

/********** HIDE AVATAR STYLE **********/

/*.alireview-row-hide-avatar .alireview-desc {
    width: 100% !important;
    text-align: left;
}*/

.alireview-row-hide-avatar .alireview-author {
  font-size: 15px !important;
}

.alireview-row-hide-avatar .alireview-author,
.alireview-row-hide-avatar .alireview-flag {
  margin-right: 15px;
}
/**/
#review-widget-box label.err {
  color: #d62728;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  display: inline;
}
.alireview-notice-addreview-success {
  margin: 20px 0;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alireview_list_image {
  margin-left: 0;
}

.alireview_list_image li {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  position: relative;
}
.alireview_list_image li img {
  border-radius: 10px;
}

.alireview_list_image li a.alireview_btn_delete_image {
  position: absolute;
  right: 5px;
  top: -8px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  background: red;
  line-height: 15px;
  font-size: 13px;
  border: 0;
  font-family: Arial;
  color: #fff;
  font-weight: 700;
}
.alireview-file-upload-wrap {
  position: relative;
}
.alireview_loading_upload {
  position: absolute;
  top: 0;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(237, 237, 237, 0.9);
  text-align: center;
  padding-top: 6px;
}

.alireview-file-upload-label {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  padding-left: 120px;
  font-size: 0.875rem;
  min-height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.alireview-file-name {
  display: block;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#alireview_file_upload {
  display: none;
}

// @media (max-width: 767px) {
//     .alireview-header-summary .alireview-btn-add-review {
//         float: none;
//         clear: both;
//         padding-top: 2rem;
//     }
//     .alireview-header-summary .alireview-btn-add-review button.btn-add-alireview{
//         background-color: #32bf7b;
//         border-color: #32bf7b;
//         color: #fff;
//         padding-top: .875rem;
//         padding-bottom: .875rem;
//         font-size: .875rem;
//         border-radius: 2px;
//         line-height: inherit;
//         width: 100%;
//     }
// }

/* Update */
.alireview-power-by {
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  color: #4a4f56;
  opacity: 0.4;
}
.alireview-power-by img {
  margin-right: 8px;
  width: 12px;
  height: auto;
}
.alireview-comment-like {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #4a4f56 !important;
  text-decoration: none !important;
  border: none !important;
}

.alireview-comment-like .alireview-icon-like {
  background: url("../img/review-like.png") no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.alireview-comment-like.active .alireview-icon-like {
  background-position: -13px 0;
}

.alireview-comment-unlike {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: #4a4f56 !important;
  text-decoration: none !important;
  border: none !important;
}

.alireview-comment-unlike .alireview-icon-like {
  background: url("../img/review-unlike.png") no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
.alireview-comment-unlike.active .alireview-icon-like {
  background-position: -13px 0;
}
.alireview-summary-star-collection {
  display: none;
}

.alireview-product-link {
  display: block;
  margin: 15px 0 0;
  padding: 12px 0 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3a3a3a;
  border: none !important;
  border-top: 1px solid #bfc9d1 !important;
}
.alireview-product-link:hover {
  text-decoration: underline;
  color: #3a3a3a;
}
.alireviewsAvatarByName {
  border-radius: 5px;
  background: orange;
  margin-bottom: 10px;
}

#review-widget-box .alireview-row-hide-avatar .alireview-thumbnail {
  display: none;
}
#review-widget-box .alireview-row-hide-avatar .alireview-desc {
  float: left;
  width: 100%;
}

.alireview-icon-summary-star-empty::before {
  content: "\E800";
}

// Blade Rating
.blade-rating {
  .alireview-header-summary {
    margin-bottom: 0;
    padding: 0;
  }

  .alireview-total-review {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .alireview-star {
      margin: 0;
    }

    > span {
      margin-left: 10px;
      vertical-align: middle !important;
    }
  }
}
