.modal-choose-items {
    font-family: 'Poppins', sans-serif;
    color: #242539;
    position: fixed;
    z-index: 9998;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    transition: opacity .3s ease;
    &:before{
        content: '';
        display: inline-block;
        height: 75%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal__wrapper {
        display: inline-block;
        vertical-align: middle;
        margin: 40px auto 30px;
    }
    .modal__container {
        width: 775px;
        position: relative;
        margin: 0px auto;
        padding-top: 1px;
        background-color: #fff; 
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        text-align: left;
    }
    .modal__header{
        margin-bottom: 35px;
        margin-top: 35px;
        h3 {
            color: #242539;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
        p{
            font-size: 11px;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    .modal__footer{
        text-align: center;
        border-top: 0.5px solid #D4D4D4;
        padding: 30px;
        button{
            font-weight: 600;
        }
    }
    .modal__body {
        margin-top: 20px;
        position: relative;
    }
    .modal__input-name{
        padding: 0 35px;
    }
    .modal__search{
        padding: 20px 35px;
        border-top: 0.5px solid #D4D4D4;
        border-bottom: 0.5px solid #D4D4D4;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        .has-search{
            .form-control{
                padding-right: 12px;
                padding-left: 34px;
                &::placeholder {
                    color: #A7A8B0;
                }
            }
            .form-control-feedback{
                right: initial;
                left: 0;
                color: #A7A8B0;
                z-index: 3;
            }
        }
    }
    .modal__list{
        min-height: 400px;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-right: 5px;
        padding-right: 5px;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: #D4D4D4;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #D4D4D4;
            border-radius: 8px;
        }
        // &::-webkit-scrollbar-track {
        //     margin-top: 40px;

        // }
    }
    .modal__not-found{
        min-height: 400px;
        padding: 15px 50px;
        color: #A7A8B0;
        span{
            color: #242539;
        }
    }
    .modal_number-products{
        padding: 0 23px;
    }
    .modal__number-of-products{
        font-size: 13px;
        color: #A7A8B0;
        font-weight: 400;
        span{
            color: #FF881B;
            font-weight: 600;
        }
    }
    .modal__noti-max-number{
        span{
            color: #F94C4E;
        }
    }
    .btn-close{
        position: absolute;
        right: 12px;
        top: 10px;
        color: #828282;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }

    .button--primary{
		color: #FFFFFF;
        background-color: #FF881B;
        border: unset;
    }
    .button--primary:hover{
        background-color: #ee6b0d;
    }
}