.confirm-box{
    .confirm-box-wrap{
        position: relative;
        padding: 25px;
        background: #FFFFFF;
        border: 2px solid #00C35C;
        border-radius: 5px;
        text-align: center;
    }
    .confirm-box-title {
        margin: 0;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .confirm-box-desc{
        font-weight: normal;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 0;
        a{
            color: #00c35c;
        }
    }
    .button{
        background: #FF881B;
        border: 1px solid #D7DAE2;
        border-radius: 4px;
        font-weight: 600;
        font-size: 13px;
        color: #FFFFFF;
        padding: 10px 25px;
    }
    .close{
        position: absolute;
        top: 7px;
        right: 10px;
    }
    .confirm-box__info-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .confirm-box__info-icon img{
        position: absolute;
        z-index: 1000;
        left: 12px;
        top: 8px;
    }
    .confirm-box__info-icon::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 40px;
        border-radius: 3px 0 100% 1px;
        background: #00c35c;
        z-index: 99;
    }
    .border-green .button{
        background: #FFFFFF;
        border: 1px solid #00C35C;
        color: #00C35C;
    }
}