.textarea-add-tag{
    .dropdown{
        cursor: pointer;
    }
    .tat__dropdown-content {
        top: 0;
        right: 100%;
        left: inherit;
        margin: 0;
        margin-right: 7px;
        border: none;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
    
        ::-webkit-scrollbar {
            width: 3px;
        }
    
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
    
        ::-webkit-scrollbar-thumb {
            background: #ccc;
        }
    
        ::-webkit-scrollbar-thumb:hover {
            background: #ccc;
        }
    }
    
    i.tat__dropdown-toggle {
        cursor: pointer;
        vertical-align: bottom;
        user-select: none;
        color: rgb(82, 82, 82);;
        font-size: 15px;
    
        &:hover {
            color: $orange_default;
        }
    
        &:active {
            color: $orange_default;
        }
    }
    
    .tat__dropdown-close {
        text-align: right;
        padding-top: 7px;
        padding-right: 10px;
        cursor: pointer;
    
        .material-icons {
            font-size: 15px;
        }
    }
    
    .tat__dropdown-title {
        padding: 5px;
        padding-left: 18px;
        margin-top: -10px;
    }
    
    .tat__dropdown-tags {
        list-style: none;
        padding: 0;
        margin: 0;
        height: auto;
        max-height: 170px;
        overflow-y: auto;
    
        i {
            color: #E7E8EA;
            margin-right: 12px;
        }
    
        li {
            display: flex;
            align-items: center;
            font-weight: 400;
            padding: 5px 18px;
            cursor: pointer;
            user-select: none;
    
            &:hover {
                background-color: #f5f5f5;
                color: $orange-default;
            }
        }
    }
    
    .tat__textarea {
        word-break: break-word;
        padding: 8px 8px;
        font-size: 13px;
        border: solid 1px #E8E9EC;
        outline: none !important;
        border-radius: 4px;
        min-height: 100px;
        overflow-y: auto;
        resize: vertical;
        white-space: pre-wrap;
        overflow-x: hidden;
        max-height: 200px;
        &::-webkit-scrollbar {
            width: 5px;
            cursor: pointer;
        }
    
        &::-webkit-scrollbar-track {
            background: #fff;
            border-radius: 20px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #525252;
            border-radius: 20px;
        }
    
        &:focus {
            border-color: #242538;
        }
    }
    
    .alrv-preview-tag,
    .alrv-input-add-tag,
    .alrv-textarea-add-tag {
        word-break: break-word;
        &:empty:before {
            content: attr(placeholder);
            display: block;
            color: #91929C;
            font-weight: 400;
            cursor: text;
        }
    
        .alrv-tag-shortcode {
            background-color: #525252;
            color: #fff;
            margin-right: 1px;
            padding: 1px 5px;
            padding-left: 6px;
            border-radius: 4px;
            cursor: pointer;
            //user-select: none;
            display: inline-flex;
            align-items: center;
            margin-bottom: 2px;
            margin-top: 2px;
            position: relative;
            outline: none !important;
            border: 0;
            font-weight: 400;
    
            &::-moz-selection {
                background: transparent;
            }
            &::selection {
                background: transparent;
            }
            .material-icons {
                font-size: 12px;
                color: #b7b7b7;
    
                &:after {
                    content: '\e5cd';
                }
            }
    
            &:hover {
                background-color: rgba(82, 82, 82, 0.7);
            }
        }
    }
    .wrap-input-email-add-tag{
        .alrv-textarea-add-tag{
            resize: none;
            min-height: 35px;
            max-height: 35px;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 5px 8px;
            white-space: pre;
    
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }
    /* END EMAIL ADD TAG TEXT AREA */
}
