.tooltip__container{
    position: relative;
    margin-left: 5px;
    .tooltip__icon{
        color: #fff;
        cursor: pointer;
        font-size: 8px;
        background: #D4D4D4;
        width: 13px;
        height: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        line-height: 13px;
    }
    .tooltip__body{
        opacity: 0;
        position: absolute;
        z-index: -1;
        width: 250px;
        top: 22px;
        left: -15px;
        transition: .1s opacity;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        &:after{
            content:"";
            position:absolute;
            top:-6px;
            left: 15px;
            background: #fff;
            height: 12px;
            width: 12px;
            transform: rotate(45deg);
            border-bottom:1px solid #fff;
            border-right:1px solid #fff;
            box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
        }
        &:before{
            content: "";
            position: absolute;
            top: 0px;
            left: 11px;
            background: #fff;
            height: 10px;
            width: 20px;
            z-index: 1;
        }
        .tooltip__inner{
            background-color: #fff;
            padding: 10px 15px 10px 15px;
            border-radius: 5px;
            p{
                color: #242539;
                margin-bottom: 0;
                font-size: 11px;
                padding-right: 0;
                font-weight: normal;
                text-align: left;
                cursor: default;
                line-height: 17px;
                a{
                    color: $orange_default;
                    cursor: pointer;
                }
            }
        }
    }
    &.right{
        .tooltip__body{
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            &:before{
                height: 20px;
                width: 10px;
                top: 50%;
                transform: translateY(-50%);
                left: 0px;
            }
            &:after{
                top: calc(50% - 6px);
                left: -7px;
            }
        }
    }
    &:hover{
        .tooltip__body{
            opacity: 1;
            z-index: 9;
            transition-delay: 0.5s;
        }
    }
}