.rp__product-item{
    .product-item{
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 0.5px solid #D4D4D4;
        border-right: 0.5px solid rgba(212, 212, 212, 0.2);
        cursor: default;
        .product-item__checkbox{
            width: 15%;
            display: flex;
            justify-content: center;
        }
        img.product-item__img{
            width: 40px;
            height: 40px;
            max-width: 100%;
            border-radius: 6px;
            border: 1px solid #F0F0F0;
            object-fit: cover;
        }
        .product-item__name{
            margin-left: 25px;
            flex: 1;
            p{
                margin-bottom: 0;
            }
        }
        .product-item__reviews{
            margin-left: 40px;
            margin-right: 10px;
            color: #A7A8B0;
            b{
                color: #FF881B;
                font-weight: 600;
                font-size: 13px;
            }
        }
        &.active, &:hover{
            background: #F8F8FC;
        }
    }
}