.popup-review-detail{
    display: flex;
    background-color: $white;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    .review__header{
        position: absolute;
        right: 10px;
        top: 7px;
        z-index: 5;
        button{
            cursor: default;
            font-size: 14px;
            font-weight: 300;
            opacity: 0.6;
            border: 0;
            outline: none;
            background: none;
        }
    }
    .review__img{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #E2E2E2;
        position: relative;
        img{
            max-width: 100%;
        }
    }
    .review__thumb{
        position: absolute;
        height: 50px;
        width: 100%;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
    .review__content{
        width: 40%;
        padding: 30px 10px 10px 12px;
        .review__rating{
            margin-bottom: 15px;
            .alr-star{
                i{
                    font-size: 12px;
                    padding-right: 0px;
                    color: #FFB303;
                }
            }
        }
        .review__author{
            margin-bottom: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            color: #39332E;
        }
        .review__avatar{
            position: relative;
            vertical-align: middle;
            font-weight: 700;
            text-align: center;
            img{
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;
                margin-bottom: 0;
                border-radius: 50%;
                border: 2px solid #FFFFFF;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
                margin-right: 10px;
                object-fit: cover;
            }
            i{
                color: #00C35C;
                border: 1px solid #FFFFFF;
                font-size: 10px;
                position: absolute;
                right: 5px;
                bottom: -2px;
                background: white;
                border-radius: 50%;
            }
        }
        .review__name{
            margin-bottom: 0;
            font-weight: 600;
            font-size: 12px;
            color: #39332E;
            span{
                word-break: break-all;
            }
        }
        .review__flag{
            .ali-flag-slc{
                margin-left: 5px;
                border-radius: 100%;
                border: 0.5px solid #C9C9C9;
                width: 12px;
                height: 12px;
                background-position: center -2352px;
            }
        }
        .review__reaction{
            .icon-reaction{
                color: #C9C9C9;
                font-size: 12px;
                &.active{
                    color: #FF881B;
                }
            }
            .alr-reaction-count, .alr-non-reaction-count{
                margin-left: 0;
                margin-right: 10px;
                font-size: 10px;
            }
            
        }
        .review__date{
            font-weight: 600;
            font-size: 10px;
        }
        .review__btn{
            text-align: center;
            margin-top: 15px;
            button{
                font-weight: 600;
                font-size: 12px;
                white-space: unset;
                line-height: 15px;
                word-break: break-word;
                padding: 5px 15px;
                border: 1px solid #39332E;
                color: #39332E;
            }
        }
        .review__verify {
            margin-left: 5px;
        }
    }
}