.create-reviews-page {
    padding-bottom: 270px !important;

    .input-group-btn {
        vertical-align: top;

        ._btn-add-page {
            height: 36px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0px 4px 4px 0;
            border-left: 0;
            border-color: #242539;

            &:hover {
                border-color: rgba(246, 54, 101, 0.85);
                background-color: rgba(246, 54, 101, 0.85);
            }
        
            &:active {
                border-color: rgba(246, 54, 101, 1);
                background-color: rgba(246, 54, 101, 1);
            }
        }
    }

    .title-error {
        margin-top: 10px;
    }

    .page-shopify-admin {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

        i {
            color: #242539
        }
    }
}
