.getting-started-page {
    .ali-owl-btn button {
        margin-right: 3px!important;
        font-weight: 600;
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 0;
        font-size: 13px;
    }

    .ali-owl-btn button.active {
        color: #fff !important;
        border-color: rgba(246, 54, 101, 1) !important;
        background-color: rgba(246, 54, 101, 1) !important;
        
        &:hover {
            color: #fff !important;
            border-color: rgba(246, 54, 101, 0.85) !important;
            background-color: rgba(246, 54, 101, 0.85) !important;
        }
    
        &:active {
            color: #fff !important;
            border-color: rgba(246, 54, 101, 1) !important;
            background-color: rgba(246, 54, 101, 1) !important;
        }
    }

    .ali-owl--description {
        @include text-overflow(3);
        height: 60px;
    }

    .owl-nav {
        .material-icons {
            font-size: 40px;
        }
    }
}
.box_setting_translate{
    display: inline-block;
    select{
        margin-right: 15px;
        width: 120px;
    }
    .wrap-custom-box{
        top: 6px;
    }
}