%btn-close {
  position: absolute;
  color: #242539;
  top: 8px;
  right: 5px;
  background: transparent;
  border: none;
  padding: 1px 6px;
  i{
    color: #828282;
    font-size: 20px;
    font-weight: 600;
  }
  &:hover{
    i{
      color: #000;
    }
  }
}

%icon-info{
  position: absolute;
  left: 0;
  top: 0;
  img{
    position: absolute;
    z-index: 1000;
    left: 12px;
    top: 8px;
  }
  &:after{
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    border-radius: 3px 0px 100% 1px;
    background: #00C35C;
    z-index: 99;
  }
}

.copy-code-clicked{
  &:after{
    content: 'copied!';
    position: absolute;
    top: 26px;
    right: -5px;
    display: block;
    font-size: 10px;
    color: #fff;
    background-color: #242539;
    padding: 4px 6px;
    font-weight: 500;
    border-radius: 3px;
  }
  &:before{
    content: '';
    position: absolute;
    right: 6px;
    top: 23px;
    width: 6px;
    height: 6px;
    background-color: #242539;
    transform: rotate(45deg);
  }
}

.onboarding-page{
  color: #242539;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  background: $white;
  .onboarding-wrap{
    height: inherit;
    display: flex;
    width: inherit;
    .onboarding__sidebar{
      width: 50%;
      background: linear-gradient(180deg, #FFCF1B 0%, #FF881B 100%);
      .onboarding__sidebar-bg{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 100%;
        img{
          margin-top: -50px;
        }
        .onboarding__sidebar-footer{
          position: absolute;
          bottom: 45px;
          color: $white;
          font-weight: normal;
          font-size: 18px;
        }
      }
    }
    .onboarding__content{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -110px;
      .onboarding__banner{
        margin-top: 75px;
        margin-bottom: 150px;
        text-align: center;
        img{
          max-width: 100%;
          width: 50%;
        }
      }
      .onboarding__title{
        p{
          font-weight: bold;
          font-size: 22px;
          color: $orange-default;
        }
      }
      .onboarding__initial-setup{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        .initial-setup{
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          &:not(:last-child){
            margin-right: 115px;
          }
          &:not(:last-child):before{
            position: absolute;
            content: "";
            width: 120px;
            height: 5px;
            background: #FFBE82;
            top: 40px;
            left: 115px;
            border-radius: 50px;
          }
          &:not(:last-child):after{
            position: absolute;
            content: "";
            width: 0px;
            height: 5px;
            background: #FFBE82;
            top: 40px;
            left: 115px;
            border-radius: 50px;
          }
          .initial-setup__icon{
            opacity: 0.5;
            width: 100px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .progress{
            background: none;
            box-shadow: none;
            position: relative;
          }
          .progress:after{
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 5px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
          }
          .progress > span{
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
          }
          .progress .progress-left{
            left: 0;
          }
          .progress .progress-bar{
            width: 100%;
            height: 100%;
            background: none;
            border-width: 5px;
            border-style: solid;
            position: absolute;
            top: 0;
          }
          .progress .progress-left .progress-bar{
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
          }
          .progress .progress-right{
            right: 0;
          }
          .progress .progress-right .progress-bar{
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
          }
          .progress .progress-value{
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          @keyframes loading-initinal-setup{
            0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            100%{
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
          p{
            font-weight: 600;
            font-size: 13px;
            color: $orange-default;
            opacity: 0.5;
          }
          &.active-after{
            p{
              opacity: 1;
            }
            &:not(:last-child):after{
              background: $orange-default;
              width: 120px;
              transition: width 2.3s ease-in .5s;
            }
            .initial-setup__icon{
              opacity: 1;
            }
          }
          &.initial-setup__step-1.active{
            .progress{
              .progress-right .progress-bar{
                animation: loading-initinal-setup 3s linear forwards 2s;
              }
              .progress-left .progress-bar{
                animation: loading-initinal-setup 2s linear forwards 5s;
              }
            }
          }
          &.initial-setup__step-2.active{
            .progress{
              .progress-right .progress-bar{
                animation: loading-initinal-setup 3.5s linear forwards 2s;
              }
              .progress-left .progress-bar{
                animation: loading-initinal-setup 1.5s linear forwards 5.5s;
              }
            }
          }
          &.initial-setup__step-3.active{
            .progress{
              .progress-right .progress-bar{
                animation: loading-initinal-setup 2.5s linear forwards 2s;
              }
              .progress-left .progress-bar{
                animation: loading-initinal-setup 2.5s linear forwards 4.5s;
              }
            }
          }
        }
      }
      .onboarding__content-footer{
        position: absolute;
        bottom: 45px;
        a{
          padding: 0px 25px;
          color: $color-text;
          font-weight: normal;
          font-size: 13px;
          &:not(:last-child){
            border-right: 1px solid $color-text;
          }
        }
      }
    }
  }
}
.onboarding-modal{
  color: #242539;
  .button--orange{
    font-weight: 600;
    padding: 10px 25px;
    color: #fff;
    background: $orange_default;
    border-radius: 4px;
    border: 1px solid $orange_default;
    &:hover{
      background: #EF6400;
    }
  }
  .button--green{
    border: 1px solid #00C35C;
    box-sizing: border-box;
    border-radius: 4px;
    width: 120px;
    color: #00C35C;
    font-weight: bold;
    &:hover{
      background-color: rgba(0, 195, 92, 0.15);
    }
  }
  .button--black{
    border: 1px solid #242539;
    box-sizing: border-box;
    border-radius: 4px;
    width: 120px;
    color: #242539;
    font-weight: 500;
    margin-left: 15px;
    &:hover{
      background-color: rgba(233, 233, 240, 0.7) !important;
    }
  }
  .button--orange[disabled="disabled"]{
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
  }
  .modal-dialog{
    max-width: 465px;
  }
  button.close{
    font-size: 26px;
    color: #828282;
    font-weight: normal;
    opacity: 1;
    &:hover{
      color: #000;
    }
  }
  .modal-header{
    padding-bottom: 5px;
  }
  .modal-footer{
    text-align: center;
    padding-bottom: 30px;
    .button--orange{
      background: #FF881B;
      border: 1px solid #FF881B;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 600;
      font-size: 12px;
      color: #fff;
    }
  }
  &#onboarding-mini-tour-modal{
    &.modal:before{
      height: 100%;
    }
    text-align: left;
    .modal-dialog{
      left: 300px;
      top: 59px;
      position: fixed;
      transition: all 1s ease 0s;
    }
    .modal-content{
      padding: 0 30px 20px 30px;
      &:before, &:after{
        content: '';
        position: absolute;
        width: 20px;
        height: 21px;
        top: 45%;
        left: -10px;
        background: #fff;
        transform: rotate(45deg);
      }
      .bg__modal-mini-tour__1{
        position: absolute;
        left: 0;
        top: 0;
      }
      .bg__modal-mini-tour__2{
        position: absolute;
        right: 0;
        top: 0;
      }
      .modal-body{
        &:not(:first-child){
          display: none;
        }
        .mini-tour__img{
          margin-bottom: 15px;
          img{
            max-width: 100%;
            margin-left: 20px;
            margin-top: -40px;
          }
        }
        h4{
          font-weight: bold;
          font-size: 16px;
        }
        .mini-tour__info{
          margin-bottom: 25px;
          ul{
            list-style: none;
            padding: 0;
            li{
              display: inline-block;
              font-size: 13px;
              font-weight: 500;
            }
            li::before {
              content: "\2022";
              color: $orange-default;
              font-weight: bold;
              display: inline-block;
              width: 15px;
              font-size: 20px;
            }
          }
          p{
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
          }
          b{
            color: $orange-default;
            font-weight: bold;
          }
        }
        &#mini-tour-step-4{
          .mini-tour__img{
            margin-bottom: 0px;
            img{
              margin-top: -92px;
            }
          }
          h4{
            margin-top: 0;
          }
          .mini-tour__info{
            margin-bottom: 20px;
          }
        }
      }
      .modal-footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        &:before{
          content: none;
        }
        &:after{
          content: none;
        }
        button{
          padding: 10px 45px;
          font-weight: 500;
          font-size: 13px;
        }
        span{
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 14px;
          color: #97999F;
          i{
            font-style: normal;
          }
        }
      }
    }
  }
  &#onboarding-import-products-modal{
    .modal-dialog{
      max-width: 600px;
    }
    .onboarding__ipm__free-solution-offer{
      .modal-content {
        padding: 30px 20px;

        .modal-body {
          display: flex;
          align-items: center;

          .onboarding__ipm__image {
            width: 47%;
            flex-grow: 0;
            padding-left: 20px;

            img {
              max-width: 100%;
            }
          }

          .onboarding__ipm__content {
            width: 53%;
            flex-grow: 0;
            margin-top: 45px;

            .onboarding__ipm__content-header {
              h3 {
                color: $orange-default;
                font-weight: bold;
                font-size: 20px;
                white-space: nowrap;
                margin-top: 0;
                margin-bottom: 25px;
              }

              b {
                color: #800CFF;
              }

              p {
                font-weight: 500;
                font-size: 13px;
                span{
                  display: inline-block;
                  font-weight: 700;
                }
              }

              .material-icons__done {
                margin-bottom: 13px;

                i {
                  color: #fff;
                  background: $orange-default;
                  border-radius: 50%;
                  font-size: 10px;
                  font-weight: bold;
                  margin-right: 10px;
                  padding: 1px;
                }
              }
            }
          }

          .onboarding__ipm__content-footer {
            margin-top: 45px;

            .button--primary {
              padding: 10px 35px;
            }

            .button--try-later {
              font-weight: 500;
              font-size: 11px;
              border: none;
              margin-left: 10px;
              color: #92929C;
            }
          }
        }
      }
    }
    .onboarding__ipm__great-choice{
      .button--close{
        @extend %btn-close;
      }
      .modal-header{
        padding: 0;
      }
      .modal-body{
        background-repeat: no-repeat;
        background-position-x: center;
        .onboarding__ipm__content{
          text-align: center;
          .onboarding__ipm__content-header{
            h3{
              font-weight: bold;
              font-size: 20px;
              padding-top: 50px;
              margin-bottom: 20px;
              margin-top: 0;
            }
            p{
              font-weight: 500;
              font-size: 14px;
              margin-bottom: 40px;
            }
          }
          .onboarding__ipm__content-footer{
            button{
              border: 1px solid #242539;
              padding: 10px 50px;
              color: #242539;
              font-weight: 500;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  &#onboarding-install-alireviews-modal{
    .modal-content{
      background: $white;
      transition: max-height .5s ease-in-out;
    }
    .modal-dialog {
      max-width: 650px;
      width: 650px;
      .modal-content{
        position: relative;
        overflow: hidden;
        border: 2px solid #00C35C;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .modal-body{
          max-width: 100%;
          left: 100%;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          .onboarding__crb__header{
            text-align: center;
            background: #F5F5F5;
            padding: 25px 0;
          }
          .onboarding__crb__content{
            text-align: center;
            position: relative;
            h3{
              font-weight: bold;
              margin-top: 30px;
              margin-bottom: 20px;
              b{
                color: $orange-default;
              }
            }
            p{
              color: $color-text;
              margin-bottom: 20px;
            }
            button{
              margin-bottom: 30px;
            }
            img{
              position: absolute;
              top: -65px;
              right: 100px;
            }
          }
          &.onboarding__check-review-box{
            position: inherit;
            left: unset;
            top: unset;
            .onboarding__check-review-box__got-it{
              padding-bottom: 30px;
              margin-top: -20px;
              color: #92929C;
              font-size: 12px;
              a{
                color: $orange-default;
              }
            }
          }
          &.onboarding__not-showing-yet{
            .onboarding__crb__content{
              .button--black{
                margin-left: 15px;
              }
            }
          }

          &.fix-now__step-1{
            text-align: center;
            .fix-now__header{
              margin-top: 50px;
              h4{
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 30px;
                color: $color-text;
              }
            }
            .fix-now__content{
              display: flex;
              justify-content: center;
              .fix-now__content-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #E8E9EC;
                padding: 40px 5px 25px 5px;
                cursor: pointer;
                width: 38%;
                border-radius: 5px;
                &:not(:last-child){
                  margin-right: 50px;
                }
                h4{
                  color: #92929C;
                  font-size: 16px;
                  margin-top: 20px;
                }
                p{
                  color: #92929C;
                  font-size: 11px;
                  margin-bottom: 15px;
                }
                &:hover{
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                  border: 1px solid $orange-default;
                  h4{
                    color: #242539;
                    font-weight: 600;
                  }
                }
              }
            }
          }
          &.fix-now__step-2__1{
            .fix-now__header{
              margin-bottom: 30px;
              margin-top: 40px;
              text-align: center;
              h4{
                font-weight: bold;
                font-size: 18px;
              }
              p{
                margin-bottom: 3px;
              }
            }
            .fix-now__content{
              overflow: hidden;
              padding: 0 45px 0 45px;
              transition: min-height .5s ease-in-out;pre-code
              &::-webkit-scrollbar {
                width: 6px;
              }

              &::-webkit-scrollbar-track {
                background: #f1f1f1;
              }

              &::-webkit-scrollbar-thumb {
                background: #CFCFCF;
                border-radius: 5px;
              }
              .panel{
                background: $white;
                border: 1px solid #F0F0F0;
                //box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.051);
                border-radius: 5px;
                margin-top: 0px;
                border-radius: 0;
                &:first-child{
                  border-radius: 5px 5px 0px 0px;
                }
                .panel-heading{
                  background-color: #FAFAFA;
                  border-color: #EBEBEB;
                  padding: 0;
                  .panel-title{
                    a{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      text-decoration: none;
                      font-weight: normal;
                      font-size: 15px;
                      color: $color-text;
                      padding: 10px 15px 10px 45px;
                      .span-bg--orange{
                        padding: 3px 8px;
                        background: #FF881B;
                        border-radius: 6px;
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 8px;
                        color: #fff;
                      }
                      i{
                        color: #A4AFB7;
                      }
                      &.collapsed{
                        i{
                          transform: rotate(180deg);
                        }
                      }
                    }
                  }
                }
                .panel-body{
                  padding: 40px 10px 0 15px;
                  ol {
                    padding-left: 30px;
                    li {
                      counter-increment: list;
                      list-style-type: none;
                      position: relative;
                      margin-bottom: 35px;
                      p{
                        margin-bottom: 15px;
                        margin-right: 45px;
                      }
                      img{
                        margin-right: 45px;
                      }
                      &:last-child{
                        p{
                          margin-right: 0;
                        }
                      }
                    }
                    li:before {
                      color: $orange-default;
                      content: counter(list) ".";
                      left: -20px;
                      position: absolute;
                      width: 26px;
                    }
                  }
                  .pre-code{
                    background: #F0F0F0;
                    color: #92929C;
                    border-radius: 3px;
                    word-break: break-all;
                    font-weight: 500;
                    font-size: 11px;
                    padding: 15px 25px;
                    margin-right: 45px;
                  }
                  .span-text--orange{
                    color: $orange-default;
                  }
                  .span-text--black{
                    color: #000;
                    font-weight: bold;
                  }
                  .button--copy{
                    display: flex;
                    position: relative;
                    float: right;
                    align-items: center;
                    font-size: 11px;
                    padding: 8px 15px;
                    margin-top: -10px;
                    i{
                      font-size: 15px;
                      margin-right: 5px
                    }
                  }
                }
              }
            }
            .fix-now__helper{
              text-align: center;
              margin-top: 35px;
              button{
                margin-bottom: 15px;
                width: 100px;
                &:first-child{
                  margin-right: 25px;
                }
              }
              a{
                color: $orange-default;
              }
            }
          }
          &.fix-now__step-2__2{
            >div{
              padding-left: 45px;
              padding-right: 45px;
            }
            .fix-now__header{
              margin-top: 35px;
              margin-bottom: 30px;
              text-align: center;
              h4{
                font-weight: bold;
                font-size: 18px;
              }
            }
            .fix-now__content{
              text-align: left;
              input:focus{
                background-color: #eeeeee;
                border-color: #E8E9EC;
              }
              label{
                font-size: 13px;
                margin-bottom: 15px;
              }
              .fix-now__content-desc{
                h5{
                  font-weight: bold;
                  font-size: 14px;
                  margin-bottom: 20px;
                }
              }
              .fix-now__content-info{
                ul{
                  padding-left: 20px;
                  li{
                    margin-bottom: 5px;
                  }
                }
                a{
                  color: $orange-default;
                }
              }
              .fix-now__content-btn{
                text-align: center;
                margin-top: 80px;
                .button--default{
                  width: 100px;
                  margin-right: 15px;
                }
              }
            }
          }
        }
      }
    }
    .dashboard__onboarding__info-icon{
      @extend %icon-info;
    }
    .button--close{
      @extend %btn-close;
    }
    .copy-code-clicked{
      &:after{
        top: 38px;
        right: 0px;
        padding: 6px 6px;
      }
      &:before{
        top: 35px;
        right: 10px
      }
    }
  }
}

#wellcome-onboarding{
  color: #242539;
  .modal-header{
    padding-top: 10px;
  }
  .modal-body{
    padding: 0px 20px;
  }
  .modal-body__title{
    text-align: center;
  }
  .modal-body__content{
    padding: 0 45px;
    h3{
      font-size: 24px;
      font-weight: bold;
    }
    p{
      font-size: 13px;
    }
  }
  .welcome__contact-support{
    margin-bottom: -10px;
    margin-top: 20px;
    color: #92929C;
    font-weight: 500;
    cursor: pointer;
  }
}

.dashboard__onboarding{
  overflow: hidden;
  max-height: 0;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.1s;
  transition-delay: 0s;
  &.open{
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0s;
  }
  .dashboard__onboarding__wrap{
    color: #242539;
    position: relative;
    flex-direction: column;
    background: #FFFFFF;
    border: 1.5px solid #00C35C;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
  }
  .dashboard__onboarding-header{
    flex-direction: column;
    align-items: center;
    h3{
      margin-top: 0;
      font-weight: bold;
      font-size: 18px;
    }
    .dashboard__onboarding-header__title--finish{
      display: flex;
      align-items: center;
      i{
        font-size: 25px;
        color: #00C35C;
        margin-right: 10px;
        margin-top: -4px;
      }
    }
    .dashboard__onboarding-header__desc--finish{
      margin-left: 35px;
      font-weight: 500;
      span{
        color: #00C35C;
        cursor: pointer;
      }
    }
  }
  .dashboard__onboarding-content{
    margin-top: 10px;
    margin-bottom: 5px;
    .dashboard__onboarding-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      padding: 20px;
      flex-basis: 33.3%;
      flex-grow: 0;
      cursor: pointer;
      &:hover{
        transform: translateY(-3px);
        border: 1px solid #00C35C;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        transition: transform .3s linear;
      }
      &:not(:last-child){
        margin-right: 20px;
      }
      &.highlight-section-onboarding{
        border: 1px solid #00C35C;
      }
      h4{
        font-weight: bold;
        font-size: 16px;
      }
      >p{
        color: #8F8F8F;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 11px;
        text-align: center;
        white-space: nowrap;
      }
      .dashboard__onboarding-item__icon{
        position: relative;
        i{
          font-size: 40px;
          color: $orange-default;
        }
        .dashboard__onboarding-item__icon-done{
          position: absolute;
          display: none;
          bottom: 1px;
          right: -12px;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: #00C35C;
          border: 3px solid #fff;
          i{
            font-size: 11px;
            font-weight: bold;
            color: #fff;
          }
        }
      }
      &.active{
        border: 1px solid #00C35C;
        background-color: #00C35C;
        color: #fff;
        >p{
          color: #fff;
        }
        .dashboard__onboarding-item__icon {
          >i{
            color: #fff;
          }
          .dashboard__onboarding-item__icon-done {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .dashboard__onboarding__info-icon{
    @extend %icon-info;
  }
  .button--close{
    @extend %btn-close;
  }
}

.onboarding-wrapper{
  .main-sidebar{
    z-index: 1041;
    background: #28282f;
    .sidebar-menu{
      overflow-y: hidden !important;
      &:before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 135px;
        opacity: 0.6;
        background: #282828;
        z-index: 1;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 260px;
        height: calc(100% - 240px - 195px + 70px); // 240px height of tag child reviews, 195px of parent reviews, 70 of logo
        opacity: 0.6;
        background: #282828;
        z-index: 1;
      }
      >li.active{
        >a{
          background-color: transparent;
          color: #92929C;
          border-left: none
        }
      }
      li[data-target="#reviews"]  {
        a{
          color: $orange-default;
        }
        i{
          color: $orange-default;
        }
      }
      #reviews{
        .onboarding__menu-active{
          background: $orange-default;
          margin-left: -15px;
          margin-right: -15px;
          padding-left: 15px;
          a{
            color: #fff;
          }
        }
      }
    }
    .sidebar__footer{
      opacity: 0.3;
      background: #282828;
    }
  }
  .main-header{
    z-index: 1042;
    opacity: 0.1;
  }

}

.onboarding__import-reviews{
  color: #242539;
  position: relative;
  background: #FFFFFF;
  border: 1.5px solid #00C35C;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  &.onboarding__import-reviews__step-1__1{
    .onboarding__import-reviews__content{
      display: flex;
      align-items: center;
      padding: 22px;
      i{
        width: 32px;
        height: 32px;
        background: #00C35C;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p{
        margin-bottom: 0;
        margin-left: 15px;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
  &.onboarding__import-reviews__step-1__2{
    .onboarding__import-reviews__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      position: relative;
      i{
        font-size: 41px;
        margin-bottom: 10px;
        color: $orange-default;
      }
      p{
        margin-bottom: 3px;
      }
      a{
        margin-left: 10px;
        margin-right: 5px;
        color: $orange-default;
      }
    }
    .onboarding__ir__info-icon{
      @extend %icon-info;
    }
  }

  .button--close{
    @extend %btn-close;
  }
}

.onboarding__pulse{
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgba(0, 194, 92, 0.8);
  border-radius: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -80%);
  &:before, &:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #00C35C;
    animation: onboading-pulse 2.5s linear infinite;
    opacity: 0;
  }
  &:after{
    animation-delay: 1s;
  }
}
.onboarding__view_product{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1052;
}

.modal-import-review__onboarding{
  color: #242539;;
  border: 2px solid #00C35C;
  border-radius: 5px;
  .modal-body{
    form:first-child{
      .modal-body__content{
        transition: max-height .5s ease-in-out;
        > div:last-child{
          text-align:center;
          button{
            float: none !important;
          }
        }
      }
    }
  }
  .button--default{
    border: none;
    font-weight: 500;
    font-size: 13px;
    color: #92929C;
    &:hover{
      background-color: transparent !important;
    }
  }

  .add-review-finish{
    button{
      border: 1px solid #D7DAE2;
    }
  }
}

.modal-import-review__onboarding-content{
  background: #F5F5F5;
  border-radius: 3px 3px 0px 0px;
  padding: 25px 78px 25px 78px;
  margin: -50px -30px 20px -30px;
  text-align: center;
  .modal-import-review__onboarding__step-1{
    margin-bottom: 10px;
    font-size: 12px;
    color: #525252;
    >span{
      color: $orange-default;
      >span{
        color: #E43225;
      }
    }
  }
  .modal-import-review__onboarding__step-2{
    margin-top: 25px;
    font-size: 12px;
    color: #525252;
  }
  p{
    text-align: center;
    margin-top: 10px;
    span{
      font-weight: 600;
    }
  }
  .span-sample-link{
    font-size: 12px;
    color: $white;
    background: #B9B9B9;
    width: 80px;
  }
  .input-group{
    position: relative;
    width: 100%;
  }
  .span-copy-code{
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 9px;
    border-left: 0.5px solid #D4D4D4;
    padding-left: 10px;
    display: flex;
    cursor: pointer;
    i{
      color: #A2A2A2;
      font-size: 18px;
    }
  }
  input{
    color: #97999F;
    padding-right: 50px;
    cursor: text !important;
    background-color: $white !important;

  }
  .onboarding__info-icon{
    @extend %icon-info;
    left: -30px;
  }
  .button--close{
    @extend %btn-close;
    right: -25px;
  }
}

.onboarding__import-reviews__detail{
  color: #242539;
  position: relative;
  background: #FFFFFF;
  border: 1.5px solid #00C35C;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  .onboarding__ipd__header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    h4{
      position: relative;
      z-index: 50;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin-top: 40px
    }
    img{
      max-width: 100%;
    }
    .onboarding__ipd__heade-bg{
      position: absolute;
      top: -35px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  >p{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 30px
  }
  .onboarding__ipd__footer{
    margin-bottom: 15px;
    button{
      font-size: 13px;
      widtH: 166px;
    }
    .button--green{
      font-weight: bold;
      border: 1px solid #00C35C;
      margin-right: 25px;
      color: #00C35C;
    }
    .button--gray{
      font-weight: 500;
      border: 1px solid #92929C;
      color: #242539;
      width: 166px;
    }
  }
  .onboarding__ird__info-icon{
    @extend %icon-info;
  }
  .button--close{
    @extend %btn-close;
  }
}
.user-menu{
  #menu-user__quick-guide{
    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      i{
        font-size: 18px;
        color: $orange-default;
      }
    }
  }
  .material-icons__info{
    font-size: 16px;
    position: absolute;
    top: -9px;
    right: 23px;
    color: $orange-default;
  }
  .tooltip__quick-guide{
    position: absolute;
    width: 240px;
    padding: 10px 15px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    &:before, &:after{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: #fff;
    }
    &:after{
      content: '';
      position: absolute;
      width: 25px;
      height: 10px;
      background: #fff;
      top: 0;
      left: calc(32%  - 4px);
    }
    &:before{
      width: 15px;
      height: 15px;
      top: -8px;
      left: 32%;
      transform: rotate(135deg);
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2)
    }
    button{
      padding: 10px 20px;
    }
    b{
      color: #00C35C;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


@keyframes onboading-pulse{
  0%{
    transform: scale(0.8);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(2.5);
    opacity: 0;
  }
}

@media screen and (min-width: 1200px) {
  #onboarding-import-products-modal {
      .modal-dialog.onboarding__ipm__free-solution-offer{
        width: 850px !important;
        max-width: 850px !important;
      }
      .modal-dialog.onboarding__ipm__great-choice{
        width: 700px !important;
        max-width: 700px !important;
      }
      .modal-content{
        padding: 50px 40px !important;
      }
  }
  #oboardingFixNowModal{
    .modal-content{
      padding: 30px 50px 25px 50px !important;
    }
  }
}

@media screen and (max-width: 1440px) {
  .dashboard-page{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .onboarding__import-reviews{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .onboarding__import-reviews__detail{
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}