.product-reviews-page {
    color: $color-text;
    .wrapper-tbl-action {
        #selectActionAllReviews {
            width: 120px !important;
        }

        #add_schema_google_rating {
            background-color: #ffb301;
            color: #fff;
            border: none;

            &:hover {
                background-color: rgba(255, 179, 1, 0.8);
            }

            &:active {
                background-color: #ffb301;
            }
        }
    }

    .wrapper-tbl-action-2 {
        button.wid130 {
            width: 130px !important;
        }
    }

    .table-ali-custom {
        thead > tr > th {
            color: $dark-blue;
        }

        .media-body {
            vertical-align: middle;

            a {
                color: #3b86ff;
            }
        }
    }

    ._btnEdit {
        .path2:before {
            color: #000;
        }

        &:hover,
        &:focus {
            span:before {
                color: #fff;
            }
        }
    }

    .type-collection {
        a {
            color: #3b86ff;
        }
    }

    button {
        .icon-ic-edit-24px {
            font-size: 12px;
        }

        &:hover,
        &:focus {
            .icon-ic-edit-24px:after {
                background-color: #fff;
            }
        }
    }

    #actionReview + .select2 {
        width: 100px !important;

        .select2-selection__rendered {
            text-align: center;
        }
    }
}

.product-reviews-page {
    .wrapper-tbl-action {
        .wrap-select-action {
            width: 100% !important;
            max-width: 120px !important;
            text-align: center;
            margin-right: 15px;
        }

        ._btn-back {
            width: 100px;
            padding: 5px 8px;
            text-align: left;
            float: left;
            display: flex;
            align-items: center;

            span {
                margin-left: 8px;
            }

            i {
                color: #A4AFB7 !important; 
            }
        }
    }
}

.product-reviews-page .wrapper-tbl-action-2 {
    padding-left: 25px;
    padding-bottom: 25px;

    .wrap-custom-box {
        .checkmark-ckb {
            //height: 15px;
            //width: 15px;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
        }

        //input[type="checkbox"]:checked ~ .checkmark-ckb:after {
        //    left: 5px;
        //    top: 2px;
        //    width: 5px;
        //    height: 9px;
        //}
    }

    .filter-review-source,
    .filter-review-status,
    .filter-product-review {
        max-width: 170px;
        min-width: 90px;
    }
    
    button.multiselect {
        width: 135px !important;
        padding: 9px;

        & + .dropdown-menu {
            padding-bottom: 10px;
            min-width: 115px;
        }
    }

    .select2 {
        width: 135px !important;

        .select2-container {
            width: 135px !important;
            text-align: center;
        }
    }

    .multiselect-container {
        height: initial !important;
    }
}

#selectActionAllReviews.select2 {
    width: initial !important;
}

#formEditReview select[name="country"]  {
    opacity: 0 !important;

    & + span {
        .select2-selection__arrow:after {
            @extend .arrow-down;
            content: '';
            position: absolute;
            border-color: #A4AFB7 !important;
            right: 5px;
            top: 40%;
            transform: rotate(45deg) translateY(-50%) !important;
        }
    }
}

.product-reviews-page .table-prod-review {
    .wrap-custom-box {
        .checkmark-ckb {
            left: 50%;
            transform: translateX(-50%);
        }

        //input[type="checkbox"]:checked ~ .checkmark-ckb:after {
        //    left: 5px;
        //    top: 2px;
        //    width: 5px;
        //    height: 9px;
        //}
    }

    .button.active {
        border-color: $orange-default !important;
        background-color: $orange-default !important;
        color: #fff !important;

        &:hover {
            border-color: $orange-hover !important;
            background-color: $orange-hover !important;
        }

        &:active {
            border-color: $orange-default !important;
            background-color: $orange-default !important;
        }
    }

    .button--icon {
        i {
            font-size: 20px;
        }
    }

    .checkmark-ckb {
        top: 3px;
    }

    .wrap-switch-text {
        vertical-align: baseline;
    }
}

@media only screen and (max-width: 1200px) {
    .product-reviews-page .wrapper-tbl-action-2 form {
        padding-top: 5px;
        clear: both;
        display: flex;
        flex-direction: row-reverse;
    } 
}

@media only screen and (max-width: 768px) {
    .product-reviews-page  .wrapper-tbl-action-1 {
        .button--primary {
            margin: 0;
            padding-left: 8px;
            width: 103px !important;
        }

        .wrap-select-action {
            margin: 0 8px !important;
            width: 85px !important;
        }

        #add_schema_google_rating {
            margin-right: 0 !important;
            padding: 10px 8px;
        }
    }

    .product-reviews-page .wrapper-tbl-action-2 {
        .select2,
        button.multiselect {
            width: 110px !important;
        }

        .status-action-wrap .select2 {
            width: 135px !important;
        }
    }
}


@media only screen and (max-width: 550px) {
    .product-reviews-page .wrapper-tbl-action-2 {
        .select2,
        button.multiselect {
            width: 85px !important;
        }

        .status-action-wrap .select2 {
            width: 135px !important;
        }

        .mar-l-15 {
            margin-left: 3px !important;
        }
    }
}

@media only screen and (max-width: 400px) {
    .product-reviews-page  .wrapper-tbl-action-1 {
        .button--primary {
            margin: 0;
            padding-left: 8px;
            width: 103px !important;
        }

        .wrap-select-action {
            margin: 0 5px !important;
            width: 82px !important;
        }

        #add_schema_google_rating {
            margin-right: 0 !important;
            padding: 10px 8px;
            overflow: hidden;
            width: 87px;
        }
    }

    .product-reviews-page .product-star-preview {
        .media-left  {
            display: none;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .product-reviews-page .wrapper-tbl-action-2 {
        .filter-review-source,
        .filter-review-status,
        .filter-product-review {
            max-width: 120px;
        }

        .select2 {
            width: 100% !important;
        }

        .button.multiselect {
            width: 90px !important;
        }

        .input-group--search {
            max-width: 230px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .product-reviews-page .wrapper-tbl-action-2 {
        .filter-review-source,
        .filter-review-status,
        .filter-product-review {
            max-width: 90px;
        }

        .select2 {
            width: 100% !important;
        }

        .button.multiselect {
            width: 90px !important;
        }

        .input-group--search {
            max-width: 230px;
        }
    }
}