.thank-page {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
  }

  .thank-you-wrap {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;

    .wrap-thank-logo {
      display: flex;
      align-items: end;
    }

    h2 {
      font-size: 60px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #4D4F5C;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      color: #4D4F5C;
      margin-bottom: 25px;
    }

    .button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .thank-page {
    min-height: 500px;
    
    .wrap-thank-logo {
      img {
        width: 75px;
      }
  
      h2 {
        font-size: 37px;
      }
  
      p {
        font-size: 15px;
      }
    }
  }
}