.translate-page .wrapper-preview-real {
	.media--point .media-left button {
		width: 49px;
		height: 49px;
		font-size: 15px !important;
	}

	.media-left .button {
		border-color: #242539 !important;
		background: #242539 !important;
		cursor: default;
	}

	.media-body--write-new {
		p {
			font-size: 11px;
			font-weight: 500;
		}

		.button {
			height: 28px !important;
			font-size: 10px;
			padding: 0 5px !important;
		}
	}

	.media-body_rating .rating-symbol-foreground,
	.media-body_rating .rating-symbol-foreground span,
	.media-body_rating .rating-symbol-background {
		font-size: 15px;
		display: inherit;
	}
}

@media only screen and (min-width: 1200px) {
	.translate-page {
		padding-right: 0 !important;
	}
}