.wrapper-content .upgrade-version-page.wrapper-space{
    margin: 25px 75px 10px;
}
.upgrade-version-page {
    font-size: 13px;
    color: #242536;

    .table > thead > tr > th {
        vertical-align: top;
    }

    .table.pricing-table > tbody > tr > td:first-child,
    .table.pricing-table > thead > tr:first-child > th:first-child {
        padding-left: 30px !important;
    }

    .table.pricing-table > tbody > tr > td:last-child, 
    .table.pricing-table > thead > tr:first-child > th:last-child {
        padding-right: 8px !important;
    }

    .table.pricing-table > thead > tr > th:first-child{
        strong{
            text-transform: uppercase;
            color: #242539;
        }
        p{
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            color : $orange-default;
            margin-bottom: 0;
            i{
                margin-right: 10px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }

    .table.pricing-table > thead > tr > th:nth-child(2),
    .table.pricing-table > thead > tr > th:nth-child(3)
    {
        padding-bottom: 30px;
        padding-top: 35px;
        text-align: center;
        min-width : 235px;
        p:first-child{
            font-weight: 600;
            font-size: 17px;
            text-transform: uppercase;
            color: $orange-default;
        }
        p:nth-child(2){
            font-weight: normal;
            font-size: 14px;
            color : $color-text;
            strong{
                font-weight: 600;
                font-size: 40px;
            }
        }
    }

    .table > tbody > tr td:nth-child(2),
    .table > tbody > tr td:nth-child(3),
    .table > tbody > tr td:nth-child(4) {
        text-align: center;
        padding-bottom: 15px;
        padding-top: 17px;
    }

    .table > tbody > tr > td:nth-child(1) {
        vertical-align: middle;
    }

    .table > thead > tr > th,
    .table > tbody > tr > td {
        border-right: solid 1px #E8E9EC;

        &:last-child {
            border-right: none;
        }
    }

    .table > tbody > tr {
        &:hover{
            background: #F9F9F9;
        }
    }

    td img {
        user-select: none;
    }

    .table > tbody > tr:last-child td:nth-child(3) {
        border-bottom: none;
    }

    .h-23{
        td{
            padding : 11px 0!important;
        }
        &:hover{
            background: #ffffff!important;
        }
    }
}

.upgrade-version-page {
    .features{
        border-top: 1px solid #E8E9EC;
        border-bottom: 1px solid #E8E9EC;
        background: #F9F9F9;
        td{
            font-weight: bold;
            font-size: 15px;
            color: #4D4F5C;
            padding: 15px 0;
            text-transform: uppercase;
        }
    }
    .table-responsive {
        padding: 25px 0;
        padding-top: 0px;
        padding-bottom: 0;
    }

    .style-button button:not(.have-voucher-btn),
    .style-button a:not(.have-voucher-btn) {
        @extend .button--lg;
        background: #FFFFFF;
        border: 1px solid $orange-default;
        width: 145px;
        font-weight: 600;
        color: $orange-default;
        padding: 10px 20px;
        padding-bottom: 11px;
        font-size: 13px;

        &:hover {
            background: #FF881B;
            border: 1px solid #FF881B;
            color: #FFFFFF;
        }

        &:active {
            opacity: 1;
        }

        &.active {
            background: #FF881B;
            border: 1px solid #FF881B;
            color: #FFFFFF;
            pointer-events: none;
        }
    }

    .style-button .have-voucher-btn {
        font-weight: normal;
        font-size: 11px;
        color: #B0B0B0;
        margin-top: 10px;
        display: inline-block;
    }

    .obelo {
        color: #FF850C;
        font-weight: bold;
    }

    h3 {
        color: #242539;
        font-size: 25px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 1441px) {
    .wrapper-content .upgrade-version-page.wrapper-space{
        margin: auto;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1366px) {
    .upgrade-version-page .table-responsive {
        overflow-x: auto !important;
    }
}
