.#{$prefix}-text-primary {
  color: $primary !important;
}

.#{$prefix}-text-secondary {
  color: $secondary !important;
}

.#{$prefix}-text-danger {
  color: $danger !important;
}

.#{$prefix}-text-purple {
  color: $purple !important;
}

.#{$prefix}-text-warning {
  color: $warning !important;
}

.#{$prefix}-text-white {
  color: white !important;
}

.#{$prefix}-text-light {
  color: $light !important;
}

.#{$prefix}-text-dark {
  color: $dark !important;
}

.#{$prefix}-text-black {
  color: black !important;
}


.#{$prefix}-bg-primary {
  background-color: $primary !important;
}

.#{$prefix}-bg-secondary {
  background-color: $secondary !important;
}

.#{$prefix}-bg-danger {
  background-color: $danger !important;
}

.#{$prefix}-bg-warning {
  background-color: $warning !important;
}

.#{$prefix}-bg-light {
  background-color: $light !important;
}

.#{$prefix}-bg-dark {
  background-color: $dark !important;
}