.#{$prefix}-card {
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  font-size: 11px;
  font-weight: 500;

  &--header {
    padding: 11px 11px 0px 30px;

    .#{$prefix}-icon-close {
      cursor: pointer;
      user-select: none;
    }
  }

  &--body {
    padding: 0px 30px 30px 30px;

    .#{$prefix}-card__title {
      color: $primary;
      font-weight: 600;
      font-size: 19px;
      margin: 0;
      margin-top: -10px;
    }
  }

  .#{$prefix}-card-no-gutters {
    margin-left: -30px;
    margin-right: -30px;

    .#{$prefix}-card-title-gutters {
      background-color: $primary;
      color: #fff;
      padding: 4px 15px;
      padding-right: 25px;
      border-radius: 0px 30px 30px 0;
      margin-bottom: 15px;
      display: inline-block;
    }
  }

  hr {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: solid 1px #ECECED;
  }
}
