.#{$prefix}-icon-close {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.#{$prefix}-icon-close:before, 
.#{$prefix}-icon-close:after {
  position: absolute;
  left: 6px;
  content: '';
  height: 14px;
  width: 1px;
  background-color: #000;
  transform-origin: center;
}

.#{$prefix}-icon-close:before {
  transform: rotate(45deg);
}

.#{$prefix}-icon-close:after {
  transform: rotate(-45deg);
}

.#{$prefix}-icon-close:hover {
  .#{$prefix}-icon-close:before, 
  .#{$prefix}-icon-close:after {
    background-color: #000;
  }
}