nav .ali-pagination {
	user-select: none;

	li {
		display: inline-block;
		margin: 3px 0;
	}
	
	a, span, i {
		width: 35px;
		height: 35px;
		line-height: 35px;
		padding: 0;
		text-align: center;
		border-radius: 5px;
		color: #4D4F5C;
	}

	a, span {
		margin: 0 2px;
		border: solid 1px #E8E9EC;
	}

	.page-current {
		background-color: #242538 !important;
		color: #fff !important;
		border-color: #f0f0f7 !important;
	}

	.disabled {
		opacity: 0.3;
	}

	.pagination > li > a:hover, 
	.pagination > li > a:focus, 
	.pagination > li > span:hover, 
	.pagination > li > span:focus {
		color: #4D4F5C;
	}
}

.pagination span.page-prev,
.pagination span.page-next, {
	display: none;
}