.list-review-pagination {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;

    .alireview-pagination {
        padding: 0px 45px 0;
        margin: 0;
        width: 100%;
        text-align: right;
        user-select: none;

        li {
            text-align: center;
            display: inline-block;
            min-width: 30px !important;
            line-height: 28px !important;
            margin: 0 3px 6px !important;
            padding: 0 10px !important;
            border: 1px solid #ddd;
            background-color: #fff;
            cursor: pointer;
            border-radius: 5px;

            &.alireview-active {
                background: $color_number_style !important;
                border: 1px solid $color_number_style !important;
                color: #fff !important;
                pointer-events: none;
                
                a {
                    color: #fff !important;
                }

                span {
                    background: none;
                    border: none !important;
                    float: none;
                    padding: 0 !important;
                    line-height: 28px !important;
                    font-size: 14px !important;
                }
            }

            a {
                border: none !important;
                font-size: 14px !important;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.85) !important;
                display: block;
            }

            &:hover {
                background-color: #f1f1f1;
            }

            &.disabled {
                pointer-events: none;
            }
        } // li
    }
}

@media only screen and (max-width: 768px) {
    .list-review-pagination .alireview-pagination {
        text-align: center;
        padding: 0px 15px 0;
    }
}
@media only screen and (max-width: 576px) {
    .list-review-pagination{
        display: none;
        &.list-review-pagination-mobile{
            display: block !important;
        }
    }
}
@media only screen and (max-width: 320px) {
    .list-review-pagination-mobile{
        .alireview-pagination li{
            min-width: 25px !important;
            margin: 0 2px 6px !important;
            padding: 0 5px !important;
        }
    }
}
