@import "reviews-front-end/style-core";

.alireview-status .alireview-date {
    margin-top: 3px;
}
.lightbox-thmb{
    max-width: 100%;
    opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
    #shopify-ali-review .list-alireview {
        .alireview-desc-content {
            padding: 10px;

            &:before,
            &:after {
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 15px solid #fdfdfd;
            }
        }

        .alireview-avatar {
            height: inherit !important;
            width: 50px !important;
        }

        .alireview-thumbnail {
            width: 18%;
        }
        
        .alireview-desc {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 450px) {
    #shopify-ali-review .list-alireview {
        .alireview-thumbnail {
            width: 25%;
        }

        .alireview-desc {
            width: 72%;
        }
    }
}

// <div id="shopify-ali-review" class="choose_class_only_screen">
// Only screen: mobile-xs
@import "only-screen/mobile-xs/style-list";