$alr-border-radius: 6px;

// Display layout grid
.grid.alr-wrap-list-rv {
    .alr-thumbnail {
        display: none;
    }

    .alr-rating-wrap .alr-verified:before {
        display: none;
    }

    .alr-rating-wrap:after {
        content: none;
    }
}

// Style
.grid.alr-wrap-list-rv {
    margin-left: -12px;
    margin-right: -12px;

    .alr-avatar,
    .alr-content {
        background-color: #fff;
    }

    .alr-avatar {
        & > img {
            margin-top: -20px;
            border: solid 3px #fff;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }

    .alr-img {
        img {
            border-radius: $alr-border-radius $alr-border-radius 0 0;
            object-fit: cover;
            max-width: 100%;
            max-height: 220px;
        }
    }

    .alr-grid-item {
        display: inline-block;
        float: left;
        margin-top: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;

        .alr-wrap {
            border-radius: $alr-border-radius;
            box-shadow: 0px 0px 3px #ccc;
        }
    }

    .alr-content {
        padding: 20px 16px;
        padding-top: 4px;
        border-radius: 0 0 $alr-border-radius $alr-border-radius;
    }

    .alr-rating-wrap {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .grid.alr-wrap-list-rv .alr-grid-item {
        width: 50%;
        float: left;
    }
}

@media only screen and (max-width: 500px) {
    .grid.alr-wrap-list-rv .alr-grid-item {
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 1200px) {
    .grid.alr-wrap-list-rv .alr-grid-item {
        width: 25%;
        float: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .grid.alr-wrap-list-rv .alr-grid-item {
        width: 33.33333333%;
    }
}