@mixin btn {
    border: none;
    outline: none !important;
    min-height: 35px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    @include border-radius($border-radius-button);
}

.btn {
    outline: none !important;
    min-height: 35px;
    box-shadow: 0 0 0 0px transparent;
    @include transition(0.15s);
    @include border-radius($border-radius-button);
}

a {
    cursor: pointer;
}

.btn-primary {
    background-color: $btn-primary-bg;

    &.active,
    .open > &.dropdown-toggle,
    &:active,
    &:focus {
        box-shadow: 0 0 0 3px rgba(255, 179, 3, 0.85) !important;
        background-color: $orange-default !important;
        border: solid 1px $orange-default !important;
    }

    &:hover {
        border: solid 1px $orange-default;
        background-color: $pink-color-hv;
    }
}

.btn--warning {
    @include btn;
    color: #fff;
    background-color: rgba(255, 179, 3, 1);
  
    &:hover {
      background-color: rgba(255, 179, 3, 0.75);
    }
  
    &:active {
      background-color: rgba(255, 179, 3, 0.85);
    }
}

.btn-default {
    border: solid 1px $btn-default-border;

    &:active,
    &:focus {
        box-shadow: 0 0 0 3px #f1f1f1 !important;
        border: solid 1px $btn-default-border !important;
    }

    &:hover {
        background-color: #b1bfce36;
    }
}

.btn-pink {
    background-color: $pink-color;
    color: $btn-pink-color !important;
    border: solid 1px $pink-color;

    &:active,
    &:focus {
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: $pink-color !important;
        border: solid 1px $pink-color !important;
    }

    &:hover {
        border: solid 1px $pink-color;
        background-color: $pink-color-hv;
    }
}

.btn-hvr-pink {
    &:hover {
        border: solid 1px $orange-default;
        color: $white !important;
        background-color: $pink-color-hv;
    }

    &:active,
    &:focus {
        color: $white !important;
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: $pink-color !important;
        border: solid 1px $pink-color !important;
    }

    &.active {
        color: $white !important;
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: $pink-color !important;
        border: solid 1px $pink-color !important;
    }
}

.btn-link--primary {
    color: $blue;

    &:hover {
        color: $purple;
    }

    &:focus {
        color: $purple;
    }
}

.btn--icon {
    height: 35px;
    width: 35px;
    font-size: 17px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

$transition-button: 0.1s;

// Version 1.0.1
.button, a.button {
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #D7DAE2;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: $transition-button; 
    padding: 10px 10px;
    font-size: 13px;
    border-radius: 4px;
    user-select: none;
    font-weight: 400;

    &--default {
        &:hover {
            color: #000000;
            border-color: #b3b3b3;
            background-color: rgba(233, 233, 240, 0.7) !important;
        }
    
        &:active {
            color: #000000;
            border-color: #b1b1b1;
            background-color: #ddd !important;
        }
    }

    &--warning {
        border-color: rgba(255, 179, 3, 1);
        background-color: rgba(255, 179, 3, 1);
        color: #fff;
    
        &:hover {
            border-color: rgba(255, 179, 3, 0.75);
            background-color: rgba(255, 179, 3, 0.75);
            color: #fff;
        }
    
        &:active {
            border-color: rgba(255, 179, 3, 0.85);
            background-color: rgba(255, 179, 3, 0.85);
            color: #fff;
        }
    }

    &--default-pink {
        &:hover {
            border-color: $orange-default;
            background-color: $orange-default;
            color: #fff;
        }
    
        &:active {
            border-color: $orange-default;
            background-color: $orange-default;
            color: #fff;
        }
    }

    &--primary {
        background-color: #242539;
        color: #fff;
        // border-color: #242539;

        &:hover {
            // border-color: rgba(246, 54, 101, 0.85);
            background-color: $orange-default;
        }
    
        &:active {
            // border-color: rgba(246, 54, 101, 1);
            background-color: $orange-default;
        }
    }
    &--orange {
        color: #FFFFFF;
        background-color: $orange-default;
        border: unset;
        padding: 11px 10px;
        &:hover{
            background-color: #ee6b0d;
        }
    }

    &--pink {
        background-color: $orange-default;
        color: #fff;
        border-color: $orange-default;

        &:hover {
            border-color: $orange-hover;
            background-color: $orange-hover;
        }
    
        &:active {
            border-color: $orange-hover;
            background-color: $orange-hover;
        }
    }

    &--icon {
        position: relative;
        width: 35px;
        height: 35px;
        padding: 0;

        .icon {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
}

.outline.button {
    &--default {
        &:hover {
            color: #000000;
            border-color: #b3b3b3;
            background-color: #e6e6e6;
        }
    
        &:active {
            border-color: #b1b1b1;
        }
    }

    &--primary {
        background-color: transparent;
        color: #242539;
        border-color: #242539;

        &:hover {
            background-color: #242539;
            color: #fff;
        }
    }

    &--pink {
        background-color: transparent;
        color: $orange-default;
        border-color: $orange-default;

        &:hover {
            background-color: $orange-hover;
            color: #fff;
        }
    }
}

.rounded.button {
    border-radius: 30px;
}

.flat.button {
    border-radius: 0;
}

.button[disabled] {
    opacity: 0.5;
    cursor: no-drop;
    user-select: none;
}

.link.button {
    background-color: transparent !important;
    border-color: transparent !important;

    &--default {
        color: #333 !important;
    } 
    
    &--primary {
        color: #242539 !important;
    } 
    
    &--pink {
        color: $pink-color !important;
    }
}

.icon.button {
    i {
        vertical-align: middle;
    }

    &.left i {
        margin-right: 10px;
    }

    &.right i {
        margin-left: 10px;
    }
}

.button {
    &--lg {
        padding: 17px 20px;
    }

    &--md {
        
    }

    &--sm {
       
    }

    &--xs {
        padding: 5px 15px;
    }
}

// BUTTON GROUP
.button--group {
    display: flex;

    .button {
        margin: 0;
        border-radius: 0;

        &:not(:last-child) {
            border-right-color: transparent;
        }

        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-child {
            border-radius: 0px 4px 4px 0px;
        }
    }

    .button--default:hover {
        border-right-color: #b3b3b3;
    }
}


.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 17px;
    height: 17px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}