.dashboard-list-item {
    border-radius: 4px;
    .dashboard-list-item--wrap {
        padding: 15px 20px;
        padding-right: 5px;
        // transition: $time-transition / 2;
        height: 100%;

        .media-heading a {
            line-height: 1.3;
        }

        &:hover {
            background-color: $orange-default !important;
            color: #fff !important;
    
            .dashboard-list-item__number,
            a,
            button {
                color: #fff;
            }
    
            .dropdown-menu {
                a {
                    color: #262626;
                }
            }
    
            .media-left__icon {
                background-color: #fff;
                color: $orange-default;
            }
        }
        a{
            cursor: default;
            text-decoration: none;
        }
    }

    .dashboard-list-item-chart--wrap{
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        .chartjs-tooltip {
            opacity: 0;
            position: absolute;
            background: #fff;
            color: #000;
            border-radius: 3px;
            -webkit-transition: all .1s ease;
            transition: all .1s ease;
            pointer-events: none;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            padding: 5px 8px;
            border-top-width: 3px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            p, b{
                white-space: nowrap;
                font-size: 11px;
                font-weight: 500;
            }
            b:first-child{
                font-weight: 700;
            }
            p{
                margin-bottom: 0;
                color: rgba(0, 0, 0, 0.5);
            }
            &::after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                vertical-align: middle;
                position: absolute;
                top: 7px;
                //border-right-color: rgba(0, 0, 0, 0.7);
                //left: -10px;
            }
        }
        .chartjs-tooltip-arrow-left::after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                vertical-align: middle;
                position: absolute;
                top: 7px;
                border-right-color: #fff;
                left: -10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }
        .chartjs-tooltip-arrow-right::after{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            vertical-align: middle;
            position: absolute;
            top: 7px;
            border-left-color: #fff;
            right: -10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }
        .chartjs-tooltip-key {
            display: inline-block;
            width: 10px;
            height: 10px;
        }
        .media-body{
            #statistic-engagement, #statistic-conversion, #statistic-sale{
                width: 100% !important;
                margin-bottom: 10px !important;
                padding: 0 5px;
            }
        }
        .media-chart-canvas{
            padding: 0;
        }
        .media-chart--heading{
            padding: 20px 20px  0px 20px;
            justify-content: space-between;
            align-items: center;
            .media-heading{
                display: flex;
                align-items: center;
                a{
                    margin-right: 6px;
                }
            }
            span{
                font-weight: 500;
            }
            >span{
                font-size: 17px;
                margin-top: -6px;
                font-weight: bold;
                color: #4D4F5C;
            }
            >div{
                i{
                    color: #D4D4D4;
                    cursor: pointer;
                }
            }
            .rel-tooltip{
                .tooltip{
                    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    left: -241px;
                    top: 30px;
                    &:after{
                        position:absolute;
                        top:-6px;
                        right: 16px;
                        content:"";
                        background: #fff;
                        height: 12px;
                        width: 12px;
                        transform: rotate(45deg);
                        border-bottom:1px solid #fff;
                        border-right:1px solid #fff;
                    }
                    &:before{
                        position: absolute;
                        top: 0px;
                        right: 14px;
                        content: "";
                        background: #fff;
                        height: 10px;
                        width: 20px;
                        z-index: 1;
                    }
                    .tooltip-inner{
                        background-color: #fff;
                        padding: 10px 15px 5px 15px;
                        p{
                            color: #242539;
                            margin-bottom: 0;
                            font-size: 13px;
                            padding-right: 0;
                            font-weight: normal;
                            text-align: left;
                            cursor: default;
                            a{
                                color: $orange_default;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .media-chart--heading-engagement{
            .rel-tooltip {
                .tooltip {
                    width: 275px;
                    min-width: 275px;
                }
            }
        }
        .media-chart--heading-sale{
            .rel-tooltip {
                .tooltip {
                    width: 230px;
                    min-width: 230px;
                    left: -197px;
                }
            }
        }
        .media-chart--heading-conversion{
            span{
                display: inline-flex;
                i{
                    margin-top: -2px;
                    color: #1adc1a;
                }
            }
            .rel-tooltip {
                .tooltip {
                    width: 250px;
                    min-width: 250px;
                    left: -217px;
                }
            }
        }
        .media-chart--desc{
            padding: 0px 5px 0px 20px;
            p{
                padding-right: 0;
                color: #242539;
            }
            span{
                font-size: 17px;
                margin-top: -6px;
                font-weight: bold;
                color: #4D4F5C;
            }
        }
        .popover-help{
            color: #D4D4D4;
            margin-top: 1px;
            display: flex;
            text-decoration: none;
            i{
                font-size: 18px;
            }
            & + .popover {
                width: 220px;
                .popover-content{
                    padding: 15px 12px 10px 12px;
                    a{
                        color: $orange-default;
                    }
                }
                .arrow{

                    border-width: 8px;
                    border-top-width: 0;
                    top: -9px;
                    margin-left: -5px;
                    &:after{
                        border-width: 8px;
                        border-top-width: 0;
                    }
                }
                .close{
                    top: 8px;
                    color: #242539;
                    opacity: 1;
                    i{
                        color: #242539;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .media-left {
        padding-right: 20px;
        overflow: hidden;
    }

    &__number {
        color: #ffb303;
    }

    .media-left__icon {
        width: 38px;
        height: 38px;
        display: inline-block;
        text-align: center;
        line-height: 38px;
        font-size: 22px;
        background-color: #ffb305;
        border-radius: 50%;
        color: #fff;
        transition: $time-transition / 2;
    }

    
}

.dashboard-statistic{
    &.row{
        padding: 15px;
    }
    >div{
        background-color: #fff;
        padding: 0;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        &:not(:last-child){
            margin-right: 25px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .dashboard-page .dashboard-list-item {
        display: flex;
        align-items: center;
        min-height: 80px;

        .dashboard-list-item--wrap {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .dashboard-page .col-md-4 {
        overflow: hidden;
    }
}