nav .ali-pagination {
	user-select: none;

	li {
		display: inline-block;
		margin: 3px 0;
	}
	
	a, span, i {
		width: 35px;
		height: 35px;
		line-height: 35px;
		padding: 0;
		text-align: center;
		border-radius: 5px;
		color: #4D4F5C;
	}

	a, span {
		margin: 0 2px;
		border: solid 1px #d7dae2;
		color: #242539;
		font-size: 13px;

		&.page-current {
			background-color: #ff881b;
			color: #fff;
			border: none;

			&:hover{
				background-color: #ee6b0d;
			}
		}
	}

	.disabled {
		opacity: 0.3;
	}

	.pagination > li > a:hover, 
	.pagination > li > a:focus, 
	.pagination > li > span:hover, 
	.pagination > li > span:focus {
		color: #4D4F5C;
	}
}

.pagination span.page-prev,
.pagination span.page-next{
	display: none;
}