.tagsinput, .tagsInputEmail {
    + div {
        width: 100% !important;
        border: solid 1px $border-solid-color !important;
        @include border-radius($border-radius-input);

        span.tag {
            color: #fff !important;
            background-color: #242539 !important;
            border-color: #242539 !important;
            border-radius: 4px !important;

            a {
                color: #fff !important;
                vertical-align: text-bottom;
            }

            &:hover {
                border-color: rgba(36, 37, 57, 0.8)!important;
                background-color: rgba(36, 37, 57, 0.8)!important;  
            }
        }
    }

    &:focus + div {
        background-color: red !important;
    }

    .tag.error-vaildate-email{
        background-color: #d93025!important;
        color: #fff!important;
        border-color: #d93025!important;
        &:hover{
            background-color: #cc2d22!important;
            border-color: #cc2d22!important;
        }
    }
}
