.ff-poppins {
    font-family: "Poppins", sans-serif !important;
}
.ff-montserrat {
    font-family: "Montserrat", sans-serif !important;
}

.fw400 {
    font-weight: 400 !important;
}
.fw500 {
    font-weight: 500 !important;
}
.fw500i {
    font-weight: 500 !important;
    font-style: italic !important;
}
.fw600 {
    font-weight: 600 !important;
}
.fw700 {
    font-weight: 700 !important;
}
.fz15 {
    font-size: 15px !important;
}
.fz16 {
    font-size: 16px !important;
}
.fz17 {
    font-size: 17px !important;
}
.fz18 {
    font-size: 18px !important;
}
.fz20 {
    font-size: 20px !important;
}
.fz22 {
    font-size: 22px !important;
}
.fz23 {
    font-size: 23px !important;
}
.fz24 {
    font-size: 24px !important;
}
.fz24 {
    font-size: 24px !important;
}
.fz26 {
    font-size: 26px !important;
}
.fz34 {
    font-size: 34px !important;
}

.spopup-mkt {
    .modal-dialog {
        margin: 10px auto;
    }

    .modal-content {
        background-color: transparent;
        box-shadow: 0 0 0;
        border: none;
        margin: auto;

        .modal-header {
            padding: 0;

            .close {
                text-shadow: 0 0 0;
            }
        }

        .modal-body {
            background-color: #fff;
            padding: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        form {
            button.custom-link {
                background-color: transparent;
                border: none;
                color: #f7f401;
                margin-bottom: 15px;
                display: inline-block;
                transition: 0.3s;

                &:hover {
                    color: #d4d107;
                }
            }
        }
    }

    &__style-1 .modal-dialog {
        max-width: 420px;

        .modal-body {
            position: relative;
            background-color: #f4f2f3 !important;
            color: #550e1c;
            text-align: center;
            padding-top: 30px !important;
            padding-bottom: 280px !important;
            background-image: url("../img/popup-mkt/bg-popup-1.png");
            background-repeat: no-repeat;
            background-position: right 50% bottom 28px;

            span {
                display: inline-block;
            }

            .mkfix-logo {
                margin: 0 5px;
                vertical-align: sub;

                img {
                    display: inline-block;
                    width: 22px;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 10px;
                    font-weight: 800;
                    vertical-align: super;
                }
            }

            form {
                button {
                    background-color: transparent;
                    font-size: 18px;
                    border: none;
                    padding: 0;
                    padding-bottom: 3px;
                    border-bottom: solid 2px #f384a2;
                    color: #f23064;
                    margin-bottom: 15px;
                    display: inline-block;
                    outline: none !important;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            img {
                display: block;
                margin: auto;
                margin-bottom: 30px;
            }

            .pumkt-description {
                line-height: 1.5;
                margin-bottom: 7px;
            }

            .pumkt-sub-link a {
                color: #aa8e95;
                text-decoration: none;

                &:hover {
                    color: #af7b3c;
                }
            }
        }
    }

    &__style-2 {
        .pumkt-2 {
            background-color: #c38b06 !important;
            font-family: "Poppins", sans-serif;

            .step-2,
            .step-3 {
                display: none;
            }

            &__box-title {
                position: relative;
                padding: 30px 10px;
                background-color: #fff;
                color: #e2a003;
                line-height: 1.3;
                margin-bottom: 35px;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    width: 100%;
                    height: 40px;
                    transform: translateX(-25px);
                    background-image: url("../img/popup-mkt/pu2-arrow-box.png");
                    background-repeat: no-repeat;
                }
            }

            &__description {
                font-weight: 400;
                line-height: 1.3;
                color: #fff;
                margin-bottom: 25px;
            }

            &__buttn-yes {
                margin-bottom: 25px;
            }

            .btnKalam {
                font-family: "Kalam", cursive;
                font-size: 28px;
                color: #fff;
                text-shadow: 0px 2px 5px black;
                border: dotted 2px;
                padding: 10px 15px;
                display: inline-block;
                line-height: 1.3;
                text-decoration: none;
            }

            &__buttn-no a {
                color: #4a4842;
                font-size: 17px;
                text-decoration: underline;
            }

            form {
                button {
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    &__style-3 .modal-dialog {
        max-width: 465px;
        margin: 50px auto;

        .pumkt-3 {
            background-color: #f9f5ec !important;
            background: url(/images/pu3-bg-1.png?17e963e…) center top no-repeat,
                url(/images/pu3-bg-2.png?e9ef4c7…) no-repeat bottom center;
            padding-top: 320px !important;
            padding-bottom: 65px !important;
            background-size: 100%;
            margin: auto;
            font-family: "Titillium Web", sans-serif;

            &__description {
                color: #79401a;
                margin-bottom: 20px;
                line-height: 1.6;

                span {
                    color: #c40714;
                }
            }

            &__yes {
                button {
                    border-radius: 10px;
                    background-color: #940610;
                    color: #fff;
                    transition: 0.3s;
                    display: inline-block;
                    padding: 10px 28px;
                    margin-bottom: 15px;
                    transition: 0.3s;
                    border: none;

                    &:hover {
                        background: #fff;
                        color: #572b18;
                        box-shadow: 2px 3px 5px #cccccc;
                    }
                }
            }

            &__buttn-no a {
                color: #86807d;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    } // END: __style-3

    &__style-4 .modal-dialog {
        max-width: 465px;
        margin: 50px auto;

        .pumkt-4 {
            background-color: #044d4f !important;
            background-image: url("../img/popup-mkt/pu4-bg.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            padding-bottom: 280px !important;
            border-bottom: solid 20px #044d4e;
            font-family: "Titillium Web", sans-serif;

            &__description {
                color: #ffffff;
                margin-bottom: 20px;
                line-height: 1.6;
                font-weight: 300 !important;

                span {
                    color: #f8c22c;
                }
            }

            &__yes {
                button {
                    border-radius: 10px;
                    background-color: #f8c22c;
                    color: #010101;
                    transition: 0.3s;
                    display: inline-block;
                    padding: 10px 28px;
                    margin-bottom: 15px;
                    transition: 0.3s;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;

                    &:hover {
                        color: #044d4e;
                        background: #fff;
                    }
                }
            }

            &__buttn-no a {
                color: #b5e0e1;
                font-size: 13px;
                text-decoration: underline;
                font-style: italic;
                font-family: arial;
            }
        }
    } // END: __style-4

    &__style-5 .modal-dialog {
        max-width: 510px;
        margin: 50px auto;

        .modal-body {
            max-height: 344px;
        }

        .pumkt-5 {
            position: relative;
            background-color: #94bbb0 !important;
            padding: 30px !important;
            padding-bottom: 140px !important;
            max-height: 344px;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("../img/popup-mkt/pu5-bg.png");
                background-repeat: no-repeat;
                background-position: center bottom;
            }

            &__description {
                color: #000;
                margin-bottom: 20px;
                line-height: 1.6;
                padding-top: 15px;
                position: relative;
            }

            &__yes {
                position: relative;
                a {
                    border-radius: 10px;
                    background-color: #eed929;
                    color: #000;
                    transition: 0.1s;
                    display: inline-block;
                    padding: 10px 28px;
                    margin-bottom: 15px;
                    transition: 0.3s;

                    &:hover {
                        color: #044d4e;
                        background: #fff;
                    }
                }
            }

            &__buttn-no a {
                position: relative;
                color: #646969;
                text-decoration: underline;
                margin-left: 35px;
                float: inherit;
                opacity: 1;
                line-height: normal;
                text-shadow: none;
                font-size: 14px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    } // END: __style-5

    &__style-6 .modal-dialog {
        max-width: 510px;
        margin: 50px auto;

        .modal-body {
            max-height: 344px;
        }

        .pumkt-6 {
            background-color: #075169 !important;
            padding: 30px !important;
            padding-top: 160px !important;
            background-image: url("../img/popup-mkt/pu6-bg.png");
            background-repeat: no-repeat;
            background-position: left 12px;

            &__description {
                color: #000;
                margin-bottom: 20px;
                line-height: 1.6;
                padding-top: 15px;
                color: #fff;
                margin-bottom: 30px;
                font-family: "Delius Unicase", cursive;
            }

            &__action {
                margin-bottom: 20px;

                &__yes,
                &__no {
                    position: relative;
                    background-color: #efb818;
                    margin: 10px;
                    border-radius: 9px;
                    padding: 5px 15px;
                    padding-left: 40px;
                    color: #3a3636;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        width: 100%;
                        height: 20px;
                        background-repeat: no-repeat;
                    }
                }

                &__yes {
                    transition: 0.3s;

                    &:hover {
                        color: #044d4e;
                        background: #fff;
                    }

                    &:before {
                        background-image: url("../img/popup-mkt/pu6-yes.png");
                        transform: translateY(-51%);
                    }
                }

                &__no {
                    background-color: #5d737a;
                    transition: 0.3s;
                    float: inherit;
                    opacity: 1;
                    text-shadow: none;

                    &:hover {
                        color: #044d4e;
                        background: #fff;
                    }

                    &:before {
                        background-image: url("../img/popup-mkt/pu6-no.png");
                        transform: translateY(-40%);
                    }
                }
            }
        }
    } // END: __style-6
}

.ani-space-1px {
    &:hover {
        opacity: 0.6;
    }
}
@media (max-width: 768px) {
    .spopup-mkt {
        padding-top: 100px;

        &__style-5 .pumkt-5 {
            text-align: center;

            &:before {
                background-position: right bottom;
                opacity: 0.2;
            }

            &__buttn-no a {
                margin-left: 0;
            }
        }
    }
}

.spopup-mkt--right {
    position: fixed;
    transition: 0.5s;
    z-index: 9999;

    .modal-dialog {
        margin: 0;
    }

    button.close {
        padding: 5px;
    }

    &.right-to-left {
        bottom: 0;
        right: -100%;

        &.inP {
            right: 0;
        }
    }

    &.bottom-to-top {
        bottom: -100%;
        right: 0;

        &.inP {
            bottom: 0;
        }
    }
}

.sidbar-mrk {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 9;
    transform: rotate(90deg);
    transform-origin: 100% 0;

    button {
        background-color: #f63663;
        font-weight: 600;
        color: #fff;
        transition: 0.1s;
        padding: 10px 20px;
        margin-left: -20px;
        margin-bottom: 25px;
        font-size: 15px;
        border-radius: 0px 0px 5px 5px;
        outline: none !important;

        &:focus,
        &:hover {
            color: #fff;
            background-color: #d82952;
        }
    }
}

@media screen and (max-width: 992px) {
    .mkt-1-fo {
        margin-top: 7px;
    }
}

@media screen and (max-width: 768px) {
    .sidbar-mrk {
        transform: rotate(90deg) translateX(50%);

        button {
            padding: 7px 15px;
            font-size: 13px;
        }
    }

    .spopup-mkt__style-3 .modal-dialog .pumkt-3__description {
        background-color: #ffffffd6;
    }
}
